/* Counter Style Start */
.exad-counter-item.exad-counter-left {
  text-align: left;
}
.exad-counter-item.exad-counter-center {
  text-align: center;
}
.exad-counter-item.exad-counter-right {
  text-align: right;
}
.exad-counter .exad-counter-item .exad-counter-icon {
  font-size: 24px;
  color: #000000;
  line-height: 1;
  display: inline-block;
}
.exad-counter .exad-counter-item .exad-counter-data {
  line-height: 1;
}
.exad-counter .exad-counter-item .exad-counter-content h4{
  margin:  0;
}
/* Counter Style End */