/* Exclusive Addon Icon on Elementor Dashboard */
.elementor-element .icon {
    position: relative;
}

.elementor-element .icon .exad-element-icon::after {
    content: "Ex";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    color: #7a56ff;
    font-size: 10px;
    padding: 0.2em 0.5em;
    background: #f3f3f3;
}