.pricing-list-background {
  background: url("../../images/pricing-list/pricing-list-two-background.png");
  background-attachment: fixed;
}

.pricing-list-background .pricing-list-title {
  color: #fff;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.pricing-list-background .pricing-list-title::before {
  position: absolute;
  content: '';
  height: 3px;
  width: 30%;
  background: #dea728;
  bottom: -20px;
  left: 0;
}

.pricing-list-background p {
  color: #7c8384;
  font-size: 15px;
  line-height: 28px;
  margin: 40px 0 0 0;
}

.exad-pricing-list-wrapper{
  margin: 0;
  padding: 20px;
}

@media (max-width: 991px) {
  .exad-pricing-list.one {
    display: block;
  }
}

.exad-pricing-list.one .exad-pricing-list-wrapper {
  margin: 0 10px;
}

@media (max-width: 991px) {
  .exad-pricing-list.one .exad-pricing-list-wrapper {
    width: 100%;
    margin: 0;
  }
}

.exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item {
  display: flex;
  margin: 0 20px;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  padding: 25px 0;
}

.exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item:last-child {
  border-bottom: none;
}

.exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
  height: 100px;
  width: 100px;
  box-shadow: 0px 14px 20px 0px rgba(8, 14, 68, 0.15);
  border-radius: 50%;
  overflow: hidden;
}

.exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail img {
  width: 100%;
  height: 100%;
}

.exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content {
  padding: 0 30px;
  width: calc(100% - 100px);
}

.exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
  text-decoration: none;
  transition: all .3s ease;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
}

.exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
  margin: 20px 0 0 0;
  line-height: 26px;
}

.exad-pricing-list.two .exad-pricing-list-wrapper {
  margin: 0 10px;
}

.exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item {
  display: flex;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  padding: 25px 0;
  align-items: center;
}

.exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item:last-child {
  border-bottom: none;
}

.exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
  box-shadow: 0px 14px 20px 0px rgba(8, 14, 68, 0.15);
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail img {
  width: 100%;
  height: 100%;
}

.exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content {
  padding: 0 30px;
  width: calc(100% - 150px);
}

.exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
  text-decoration: none;
  transition: all .3s ease;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
}

.exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
  margin: 15px 0;
  line-height: 26px;
}


@media (max-width: 991px) {
  .exad-pricing-list.three {
    display: block;
  }
}

.exad-pricing-list.three .exad-pricing-list-wrapper {
  margin: 0 10px;
}

@media (max-width: 991px) {
  .exad-pricing-list.three .exad-pricing-list-wrapper {
    width: 100%;
    margin: 0;
  }
}

.exad-pricing-list.three .exad-pricing-list-wrapper .exad-pricing-list-item {
  padding: 20px 0;
}

.exad-pricing-list.three .exad-pricing-list-wrapper .exad-pricing-list-item:last-child {
  border-bottom: none;
}

.exad-pricing-list.three .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
  text-decoration: none;
  transition: all .3s ease;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
}


.exad-pricing-list.three .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
  margin: 15px 0;
  line-height: 26px;
}

.exad-pricing-list.four .exad-pricing-list-wrapper {
  margin: 0 10px;
}

@media (max-width: 991px) {
  .exad-pricing-list.four .exad-pricing-list-wrapper {
    width: 100%;
    margin: 0;
  }
}

.exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item {
  display: flex;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  padding: 25px 0;
}

.exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item:last-child {
  border-bottom: none;
}

.exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
  box-shadow: 0px 14px 20px 0px rgba(8, 14, 68, 0.15);
  border-radius: 50%;
  overflow: hidden;
  height: 120px;
  width: 120px;
}

.exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail img {
  width: 100%;
  height: 100%;
}

.exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content {
  padding: 0 0 0 20px;
  width: calc(100% - 120px);
}

.exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
  text-decoration: none;
  transition: all .3s ease;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
}

.exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
  margin: 10px 0;
  line-height: 26px;
}

.exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action {
  display: inline-block;
  background: transparent;
  padding: 5px 15px;
  border-radius: 3px;
  color: #ff6e53;
  border: 1px solid #ff6e53;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  transition: all .3s ease;
}

.exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action:hover {
  background: linear-gradient(90deg, #ff704e 0%, #fb5d86 100%);
  box-shadow: 0px 18px 43px 0px rgba(24, 37, 65, 0.1);
  color: #fff;
}

.exad-pricing-list.four .exad-pricing-list-background {
  float: right;
  margin-right: 50px;
}

.exad-pricing-list.four .exad-pricing-list-background .image-1 {
  position: relative;
}

.exad-pricing-list.four .exad-pricing-list-background .image-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item {
  box-shadow: 0px 30px 50px 0px rgba(51, 77, 128, 0.1);
  background: #fff;
  display: flex;
  padding: 50px 30px;
  margin: 0 10px 30px 10px;
  border-radius: 10px;
}

.exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
  height: 100px;
  width: 100px;
  box-shadow: 0px 14px 20px 0px rgba(8, 14, 68, 0.15);
  border-radius: 50%;
  overflow: hidden;
}

.exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail img {
  width: 100%;
  height: 100%;
}

.exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content {
  padding: 0 0 0 20px;
  width: calc(100% - 100px);
}

.exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
  text-decoration: none;
  transition: all .3s ease;
  margin: 0;
  text-decoration: none;
  font-weight: 600;
}

.exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
  margin: 20px 0;
  line-height: 26px;
}

.exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action {
  display: inline-block;
  background: transparent;
  padding: 5px 15px;
  border-radius: 3px;
  color: #4c59ff;
  border: 1px solid #4c59ff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  transition: all .3s ease;
}

.exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action:hover {
  background: #4c59ff;
  box-shadow: 0px 18px 43px 0px rgba(24, 37, 65, 0.1);
  color: #fff;
}

.exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-price {
  font-size: 18px;
  color: #4c59ff;
  font-family: "Roboto", sans-serif;
}

.exad-pricing-list.six .exad-pricing-list-wrapper {
  background: #f3f6f9;
  padding: 40px;
}

.exad-pricing-list.six .exad-pricing-list-wrapper h3 {
  text-align: center;
  margin-bottom: 80px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #0a1724;
  position: relative;
}

.exad-pricing-list.six .exad-pricing-list-wrapper h3::before {
  position: absolute;
  content: '';
  height: 3px;
  width: 60px;
  background: #dea728;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item {
  display: flex;
  margin: 40px 0 0 0;
}

.exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
  margin-right: 20px;
}
.exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content {
  flex-basis: 90%;
}

.exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-element {
  display: flex;
}

.exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-element .exad-pricing-list-item-content-title {
  text-decoration: none;
  transition: all .3s ease;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
  display: inline-block;
}

.exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-element .exad-pricing-list-item-content-conntector {
  bottom: calc((-2px)/2);
  border-bottom: 1px dashed #c8c9cc;
  height: 1px;
  flex-grow: 1;
  align-self: center;
  margin: 0 20px;
}

.exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
  margin: 10px 0;
  line-height: 26px;
}

.exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-price {
  flex-basis: 10%;
  font-size: 18px;
  color: #dea728;
  font-family: "Roboto", sans-serif;
}

.exad-pricing-list.seven .exad-pricing-list-menu {
  text-align: center;
  width: 100%;
}

.exad-pricing-list.seven .exad-pricing-list-menu ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.exad-pricing-list.seven .exad-pricing-list-menu ul li {
  list-style: none;
  float: left;
}

.exad-pricing-list.seven .exad-pricing-list-menu ul li a {
  padding: 15px 30px;
  position: relative;
  transition: all .3s ease;
  text-decoration: none;
  color: #a9abae;
  display: block;
}

.exad-pricing-list.seven .exad-pricing-list-menu ul li a::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: #61d28e;
  left: 0;
  bottom: 0;
  transition: all .3s ease;
}

.exad-pricing-list.seven .exad-pricing-list-menu ul li a.active {
  color: #61d28e;
}

.exad-pricing-list.seven .exad-pricing-list-menu ul li a.active::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.exad-pricing-list.seven .exad-pricing-list-menu ul li a:hover {
  color: #61d28e;
}

.exad-pricing-list.seven .exad-pricing-list-menu ul li a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.exad-pricing-list.seven .exad-pricing-list-wrapper {
  display: none;
  opacity: 0;
  transition: opacity .5s;
  border: 1px solid #e3e3e3;
  margin-top: 50px;
}

.exad-pricing-list.seven .exad-pricing-list-wrapper.active {
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
}

.exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-thumb {
  width: 30%;
  box-shadow: 0px 30px 50px 0px rgba(51, 77, 128, 0.2);
}

@media (max-width: 991px) {
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-thumb {
    width: 100%;
  }
}

.exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-thumb img {
  height: 100%;
  width: 100%;
}

.exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 20px 40px 50px;
}

@media (max-width: 991px) {
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content {
    width: 100%;
  }
}

.exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item {
  width: 50%;
  padding: 10px 0;
}

@media (max-width: 991px) {
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item {
    width: 100%;
  }
}

.exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
  height: 90px;
  width: 90px;
  box-shadow: 0px 14px 20px 0px rgba(8, 14, 68, 0.15);
  border-radius: 50%;
  overflow: hidden;
}

.exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item .exad-pricing-list-item-thumbnail img {
  width: 100%;
  height: 100%;
}

.exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
  text-decoration: none;
  transition: all .3s ease;
  margin: 20px 0 0 0;
  text-decoration: none;
  display: block;
}

.exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
  margin: 10px 0;
  line-height: 26px;
}

.exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item .exad-pricing-list-item-price {

}
.exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action {
  display: inline-block;
  background: transparent;
  padding: 5px 15px;
  border-radius: 3px;
  color: #4c59ff;
  border: 1px solid #4c59ff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  transition: all .3s ease;
}

.exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action:hover {
  background: #4c59ff;
  box-shadow: 0px 18px 43px 0px rgba(24, 37, 65, 0.1);
  color: #fff;
}

/* Exclusive alert style start*/


.exad-alert.one .exad-alert-element {
  display: flex;
  padding: 20px;
  align-items: center;
  text-align: center;
  border-radius: 40px;
}

.exad-alert.one .exad-alert-element:not(:last-child) {
  margin-bottom: 20px;
}

.exad-alert.one .exad-alert-element .exad-alert-element-icon {
  width: 5%;
}

.exad-alert.one .exad-alert-element .exad-alert-element-icon span {
  font-size: 24px;
}

.exad-alert.one .exad-alert-element .exad-alert-element-content {
  width: 90%;
  text-align: left;
}

.exad-alert.one .exad-alert-element .exad-alert-element-content h5 {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.exad-alert.one .exad-alert-element .exad-alert-element-content p {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.exad-alert.one .exad-alert-element .exad-alert-element-dismiss-icon {
  width: 5%;
  line-height: 0;
  text-align: right;
}

.exad-alert.one .exad-alert-element .exad-alert-element-dismiss-icon svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.exad-alert.one .exad-alert-element .exad-alert-element-dismiss-icon svg path {
  fill: #A1A5B5;
}

/* .exad-alert.one .exad-alert-element.primary {
  background: #ECF9FD;
}

.exad-alert.one .exad-alert-element.primary .exad-alert-element-icon span {
  color: #46c9f0;
}

.exad-alert.one .exad-alert-element.primary .exad-alert-element-content p {
  color: #46c9f0;
}

.exad-alert.one .exad-alert-element.secondary {
  background: #F5F6F7;
}

.exad-alert.one .exad-alert-element.secondary .exad-alert-element-icon span {
  color: #A1A5B5;
}

.exad-alert.one .exad-alert-element.secondary .exad-alert-element-content p {
  color: #A1A5B5;
}

.exad-alert.one .exad-alert-element.success {
  background: #ECFBF6;
}

.exad-alert.one .exad-alert-element.success .exad-alert-element-icon span {
  color: #47dba4;
}

.exad-alert.one .exad-alert-element.success .exad-alert-element-content p {
  color: #47dba4;
}

.exad-alert.one .exad-alert-element.danger {
  /* background: #FDEFEF; */
}

.exad-alert.one .exad-alert-element.danger .exad-alert-element-icon span {
  color: #f05e5e;
}

.exad-alert.one .exad-alert-element.danger .exad-alert-element-content p {
  color: #f05e5e;
}

.exad-alert.one .exad-alert-element.warning {
  background: #FEF6EC;
}

.exad-alert.one .exad-alert-element.warning .exad-alert-element-icon span {
  color: #f3a940;
}

.exad-alert.one .exad-alert-element.warning .exad-alert-element-content p {
  color: #f3a940;
}

.exad-alert.one .exad-alert-element.info {
  background: #E9F1FF;
}

.exad-alert.one .exad-alert-element.info .exad-alert-element-icon span {
  color: #528ef9;
}

.exad-alert.one .exad-alert-element.info .exad-alert-element-content p {
  color: #528ef9;
}

.exad-alert.one .exad-alert-element.dark {
  background-color: white;
  box-shadow: 0px 10px 20px 0px rgba(51, 77, 128, 0.1);
}

.exad-alert.one .exad-alert-element.dark .exad-alert-element-icon span {
  color: #272727;
}

.exad-alert.one .exad-alert-element.dark .exad-alert-element-content p {
  color: #272727;
}

.exad-alert.one .exad-alert-element.light {
  background-color: #F3F3F3;
}

.exad-alert.one .exad-alert-element.light .exad-alert-element-icon span {
  color: #858585;
}

.exad-alert.one .exad-alert-element.light .exad-alert-element-content p {
  color: #858585;
} */

.exad-alert.two .exad-alert-element {
  display: flex;
  padding: 20px 30px;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 13px 49px 0px rgba(51, 77, 128, 0.15);
}

.exad-alert.two .exad-alert-element:not(:last-child) {
  margin-bottom: 30px;
}

.exad-alert.two .exad-alert-element .exad-alert-element-content {
  width: 90%;
  text-align: left;
}

.exad-alert.two .exad-alert-element .exad-alert-element-content p {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.exad-alert.two .exad-alert-element .exad-alert-element-content p span {
  font-weight: bold;
}

.exad-alert.two .exad-alert-element .exad-alert-element-dismiss-icon {
  width: 10%;
  line-height: 0;
  text-align: right;
}

.exad-alert.two .exad-alert-element .exad-alert-element-dismiss-icon svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.exad-alert.two .exad-alert-element .exad-alert-element-dismiss-icon svg path {
  fill: #A1A5B5;
}

.exad-alert.two .exad-alert-element.primary .exad-alert-element-content p {
  color: #46c9f0;
}

.exad-alert.two .exad-alert-element.secondary .exad-alert-element-content p {
  color: #A1A5B5;
}

.exad-alert.two .exad-alert-element.success .exad-alert-element-content p {
  color: #47dba4;
}

.exad-alert.two .exad-alert-element.danger .exad-alert-element-content p {
  color: #f05e5e;
}

.exad-alert.two .exad-alert-element.warning .exad-alert-element-content p {
  color: #f3a940;
}

.exad-alert.two .exad-alert-element.info .exad-alert-element-content p {
  color: #528ef9;
}

.exad-alert.two .exad-alert-element.dark .exad-alert-element-content p {
  color: #272727;
}

.exad-alert.two .exad-alert-element.light .exad-alert-element-content p {
  color: #858585;
}

.exad-alert.three .exad-alert-element {
  display: flex;
  padding: 20px;
  align-items: center;
  text-align: center;
}

.exad-alert.three .exad-alert-element:not(:last-child) {
  margin-bottom: 20px;
}

.exad-alert.three .exad-alert-element .exad-alert-element-icon {
  width: 10%;
}

.exad-alert.three .exad-alert-element .exad-alert-element-icon span {
  font-size: 24px;
}

.exad-alert.three .exad-alert-element .exad-alert-element-content {
  width: 80%;
  text-align: left;
}

.exad-alert.three .exad-alert-element .exad-alert-element-content p {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.exad-alert.three .exad-alert-element.primary {
  border: 1px solid #46c9f0;
}

.exad-alert.three .exad-alert-element.primary .exad-alert-element-icon span {
  color: #46c9f0;
}

.exad-alert.three .exad-alert-element.primary .exad-alert-element-content p {
  color: #46c9f0;
}

.exad-alert.three .exad-alert-element.secondary {
  border: 1px solid #A1A5B5;
}

.exad-alert.three .exad-alert-element.secondary .exad-alert-element-icon span {
  color: #A1A5B5;
}

.exad-alert.three .exad-alert-element.secondary .exad-alert-element-content p {
  color: #A1A5B5;
}

.exad-alert.three .exad-alert-element.success {
  border: 1px solid #47dba4;
}

.exad-alert.three .exad-alert-element.success .exad-alert-element-icon span {
  color: #47dba4;
}

.exad-alert.three .exad-alert-element.success .exad-alert-element-content p {
  color: #47dba4;
}

.exad-alert.three .exad-alert-element.danger {
  border: 1px solid #f05e5e;
}

.exad-alert.three .exad-alert-element.danger .exad-alert-element-icon span {
  color: #f05e5e;
}

.exad-alert.three .exad-alert-element.danger .exad-alert-element-content p {
  color: #f05e5e;
}

.exad-alert.three .exad-alert-element.warning {
  border: 1px solid #f3a940;
}

.exad-alert.three .exad-alert-element.warning .exad-alert-element-icon span {
  color: #f3a940;
}

.exad-alert.three .exad-alert-element.warning .exad-alert-element-content p {
  color: #f3a940;
}

.exad-alert.three .exad-alert-element.info {
  border: 1px solid #528ef9;
}

.exad-alert.three .exad-alert-element.info .exad-alert-element-icon span {
  color: #528ef9;
}

.exad-alert.three .exad-alert-element.info .exad-alert-element-content p {
  color: #528ef9;
}

.exad-alert.three .exad-alert-element.dark {
  border: 1px solid #272727;
}

.exad-alert.three .exad-alert-element.dark .exad-alert-element-icon span {
  color: #272727;
}

.exad-alert.three .exad-alert-element.dark .exad-alert-element-content p {
  color: #272727;
}

.exad-alert.three .exad-alert-element.light {
  border: 1px solid #858585;
}

.exad-alert.three .exad-alert-element.light .exad-alert-element-icon span {
  color: #858585;
}

.exad-alert.three .exad-alert-element.light .exad-alert-element-content p {
  color: #858585;
}

.exad-alert.four .exad-alert-element {
  display: flex;
  padding: 20px 30px;
  align-items: center;
  text-align: center;
}

.exad-alert.four .exad-alert-element:not(:last-child) {
  margin-bottom: 20px;
}

.exad-alert.four .exad-alert-element .exad-alert-element-icon {
  width: 5%;
  text-align: left;
}

.exad-alert.four .exad-alert-element .exad-alert-element-icon span {
  font-size: 24px;
  color: #fff;
}

.exad-alert.four .exad-alert-element .exad-alert-element-content {
  width: 85%;
  text-align: left;
}

.exad-alert.four .exad-alert-element .exad-alert-element-content p {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.exad-alert.four .exad-alert-element .exad-alert-element-content p span {
  font-weight: bold;
}

.exad-alert.four .exad-alert-element .exad-alert-element-dismiss-icon {
  width: 10%;
  line-height: 0;
  text-align: right;
}

.exad-alert.four .exad-alert-element .exad-alert-element-dismiss-icon svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.exad-alert.four .exad-alert-element .exad-alert-element-dismiss-icon svg path {
  fill: #fff;
}

.exad-alert.four .exad-alert-element.primary {
  background: #46c9f0;
}

.exad-alert.four .exad-alert-element.secondary {
  background-color: #fafcff;
  box-shadow: 0px 5px 20px 0px rgba(51, 77, 128, 0.12);
}

.exad-alert.four .exad-alert-element.secondary .exad-alert-element-icon span {
  color: #A1A5B5;
}

.exad-alert.four .exad-alert-element.secondary .exad-alert-element-content p {
  color: #A1A5B5;
}

.exad-alert.four .exad-alert-element.secondary .exad-alert-element-dismiss-icon svg path {
  fill: #A1A5B5;
}

.exad-alert.four .exad-alert-element.success {
  background: #47dba4;
}

.exad-alert.four .exad-alert-element.danger {
  background: #f05e5e;
}

.exad-alert.four .exad-alert-element.warning {
  background: #f3a940;
}

.exad-alert.four .exad-alert-element.info {
  background: #528ef9;
}

.exad-alert.four .exad-alert-element.dark {
  background: #272727;
}

.exad-alert.four .exad-alert-element.light {
  background-color: #858585;
}

.exad-alert.five .exad-alert-element {
  padding: 40px;
  border-radius: 10px;
}

.exad-alert.five .exad-alert-element:not(:last-child) {
  margin-bottom: 30px;
}

.exad-alert.five .exad-alert-element .exad-alert-element-content h5 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #00000a;
  margin-bottom: 25px;
}

.exad-alert.five .exad-alert-element .exad-alert-element-content p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #0a1724;
  margin: 0 0 25px 0;
  line-height: 26px;
}
.exad-alert.five .exad-alert-element .exad-alert-element-dismiss-icon{
  display: inline-block;
}
.exad-alert.five .exad-alert-element .exad-alert-element-dismiss-icon .exad-alert-element-dismiss-done, .exad-alert.five .exad-alert-element .exad-alert-element-dismiss-icon .exad-alert-element-dismiss-cancel {
  padding: 15px 35px;
  text-decoration: none;
  display: inline-block;
  transition: all .3s ease;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.exad-alert.five .exad-alert-element .exad-alert-element-dismiss-icon .exad-alert-element-dismiss-cancel {
  border: 1px solid #F05E5E;
  color: #f05e5e;
}

.exad-alert.five .exad-alert-element .exad-alert-element-dismiss-icon .exad-alert-element-dismiss-done {
  background: #2775FF;
}


/* Exclusive alert style end*/