.exclusive-addons-elementor {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* Team Member Basic Start */

.exad-team-member-basic {
  background: #fff;
  box-shadow: 0px 13px 33px 0px rgba(51, 77, 128, 0.08);
}

.exad-team-member-basic .exad-team-member-thumb img {
  width: 100%;
}

.exad-team-member-basic .exad-team-member-content {
  padding: 25px 20px;
}

.exad-team-member-basic .exad-team-member-about {
  margin-bottom: 25px;
}

.exad-team-member-basic .exad-team-member-social {
  margin-bottom: 0;
}
.exad-team-member-basic .exad-team-member-social li, .exad-team-member-rounded .exad-team-member-social li, .exad-team-member-content-hover .exad-team-member-social li {
  display: inline-block;
}

.exad-team-member-basic .exad-team-member-social li a {
  color: #8a8d91;
  display: block;
  transition: .3s ease;
}

.exad-team-member-basic .exad-team-member-social li a:hover {
  color: #132c47;
}

.exad-team-member-basic .exad-team-member-social li:not(:last-child) {
  margin-right: 15px;
}
/* Basic End */


/* Team Member Circle Gradient Start */
.exad-team-member-circle {
  padding: 70px 40px 30px;
  box-shadow: 0px 13px 33px 0px rgba(51, 77, 128, 0.08);
  background: #fff;
  text-align: center;
  border-radius: 5px;
}

.exad-team-member-circle .exad-team-member-thumb {
  position: relative;
  z-index: 1;
  width: 122px;
  height: 122px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.elementor .exad-team-member-circle .exad-team-member-thumb img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.exad-team-member-circle .exad-team-member-thumb svg {
  position: absolute;
  width: 123px;
  height: 123px;
  z-index: -1;
}

.exad-team-member-circle .exad-team-member-thumb svg:first-child {
  left: 7px;
  bottom: 7px;
}

.exad-team-member-circle .exad-team-member-thumb svg:nth-child(2) {
  top: 7px;
  left: 7px;
}

.exad-team-member-circle .exad-team-member-thumb svg:nth-child(3) {
  right: 4px;
  top: 0;
}

.exad-team-member-circle .exad-team-member-thumb svg.violate {
  fill: #826EFF;
}

.exad-team-member-circle .exad-team-member-thumb svg.orange {
  fill: #FF6A47;
}

.exad-team-member-circle .exad-team-member-thumb svg.cyan {
  fill: #3AD8F4;
}

.exad-team-member-circle .rounded {
  border-radius: 8px;
}

.exad-team-member-circle .circled {
  border-radius: 50%;
}

.exad-team-member-circle-name {
  font-size: 22px;
  margin-bottom: 5px;
}

.exad-team-member-circle-designation {
  font-size: 15px;
  display: block;
  color: #8a8d91;
  margin-bottom: 12px;
}

.exad-team-member-about {
  margin: 10px auto;
}

.exad-team-member-circle .exad-team-member-about {
  margin-bottom: 40px;
}

.exad-team-member-circle .exad-team-member-social {
  padding-left: 0;
}

.exad-team-member-circle .exad-team-member-social li {
  display: inline-block;
}

.exad-team-member-circle .exad-team-member-social li:not(:last-child) {
    margin-right: 2px;
}

.exad-team-member-circle .exad-team-member-social li a {
  padding: 0 10px;
  color: #a4a7aa;
}

.exad-team-member-circle .exad-team-member-social li a:hover {
  color: #8a8d91;
  transition: .3s ease;
}
/* Team Member Circle End */



/* Team Member Social Left Start */

.exad-team-member-social-left {
  text-align: center;
  position: relative;
}

.exad-team-member-social-left .exad-team-member-thumb {
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
.exad-team-member-social-left:hover .exad-team-member-thumb::before {
    -webkit-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
}
.exad-team-member-social-left .exad-team-member-thumb::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f5f6fa;
  transition: .3s ease;
  z-index: -1;
}

.exad-team-member-social-left .exad-team-member-thumb img {
  width: 100%;
}

.exad-team-member-name {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  font-weight: 600;
}


.exad-team-member-social-left .exad-team-member-social {
  list-style: none;
  position: absolute;
  z-index: 2;
  margin: 0;
  padding: 30px 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 13px 17px 0px rgba(0, 0, 0, 0.16);
  transition: .3s ease;
  top: 15%;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  left: 0;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.exad-team-member-social-left .exad-team-member-social li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  color: #8a8d91;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  transition: .3s ease;
}

.exad-team-member-social-left .exad-team-member-social li a i {
  line-height: 45px;
}

.exad-team-member-social-left .exad-team-member-social li a:hover {
  color: #fff;
  border-color: transparent;
}

.exad-team-member-social-left .exad-team-member-social li:not(:last-child) {
  margin-bottom: 10px;
}

.exad-team-member-social-left:hover .exad-team-member-social-left .exad-team-member-thumb::before {
  -webkit-transform: translate(-20px, -20px);
          transform: translate(-20px, -20px);
}

.exad-team-member-social-left:hover .exad-team-member-social {
  left: 30px;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
/* Social Left End */


/* Team Member Rounded Start */

.exad-team-member-rounded {
  text-align: center;
}

.exad-team-member-rounded .exad-team-member-thumb {
  margin-bottom: 30px;
}

.elementor .exad-team-member-rounded .exad-team-member-thumb img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 16px 46px 0px rgba(19, 32, 58, 0.18);
}

.exad-team-member-rounded .exad-team-member-about {
  margin: 20px auto;
}

.exad-team-member-rounded .exad-team-member-social li a {
  color: #fff;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #272c44;
  opacity: .4;
  transition: .3s ease;
}

.exad-team-member-rounded .exad-team-member-social li:not(:last-child) {
    margin-right: 8px;
}

.exad-team-member-rounded .exad-team-member-social li a i {
  line-height: 40px;
}

.exad-team-member-rounded .exad-team-member-social li a:hover {
  opacity: 1;
}
/* Rounded End */



/* Team Member Content Hover Start */

.exad-team-member-content-hover {
  position: relative;
}

.exad-team-member-content-hover .exad-team-member-thumb img {
  width: 100%;
}

.exad-team-member-content-hover .exad-team-member-content {
  position: absolute;
  text-align: center;
  background: #fff;
  width: 100%;
  box-shadow: 0px 20px 33px 0px rgba(51, 77, 128, 0.2);
  padding: 25px 20px 20px;
  transition: .3s ease;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  opacity: 0;
  bottom: -10%;
}

.exad-team-member-content-hover-name, .exad-team-member-content-hover-designation {
  font-family: "Poppins", sans-serif;
}

.exad-team-member-content-hover-name {
  font-size: 22px;
  margin-bottom: 0;
}

.exad-team-member-content-hover .exad-team-member-designation {
  font-size: 15px;
  display: block;
  margin-bottom: 30px;
  position: relative;
}

.exad-team-member-content {
  color: #8a8d91;
}

.exad-team-member-content-hover .exad-team-member-designation::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  background: #132c47;
  bottom: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.exad-team-member-content-hover .exad-team-member-social {
  margin-bottom: 0;
}

.exad-team-member-content-hover .exad-team-member-social li a {
  display: block;
  padding: 0 7px;
  color: #8a8d91;
  transition: .3s ease;
}

.exad-team-member-content-hover .exad-team-member-social li a i {
  font-size: 14px;
}

.exad-team-member-content-hover .exad-team-member-social li a:hover {
  color: #132c47;
}

.exad-team-member-content-hover:hover .exad-team-member-content {
  bottom: 10%;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/* Content Hover End */




/* Style for Team Carousel */

.exad-team-carousel-content {
  color: #8a8d91;
}

.exad-team-carousel-circle {
  margin: 0 -15px;
}

.exad-team-carousel-circle-title {
  margin-bottom: 50px;
  position: relative;
}

.exad-team-carousel-circle-title:before {
  content: '';
  position: absolute;
  width: 70px;
  height: 2px;
  background: #132c47;
  bottom: -25px;
  left: 0;
}

.exad-team-carousel-circle-arrow {
  margin-top: 75px;
  padding: 0;
  list-style: none;
}

.exad-team-carousel-circle-arrow li {
  display: inline-block;
}

.exad-team-carousel-circle-arrow-prev, .exad-team-carousel-circle-arrow-next {
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 25px;
  transition: .3s ease;
  margin-right: 20px;
}

.exad-team-carousel-circle-arrow-prev i, .exad-team-carousel-circle-arrow-next i {
  transition: .3s ease;
  color: #eaecf2;
  line-height: 60px;
}

.exad-team-carousel-circle-arrow-prev:hover, .exad-team-carousel-circle-arrow-next:hover {
  color: #132c47;
  box-shadow: 0px 13px 33px 0px rgba(51, 77, 128, 0.08);
}

.exad-team-carousel-circle-arrow-prev:hover i, .exad-team-carousel-circle-arrow-next:hover i {
  color: #132c47;
}

.exad-team-carousel-circle-inner {
  margin: 20px 15px;
  outline: 0;
}

.exad-team-carousel-social-left {
  margin: 0 -15px;
}

.exad-team-carousel-social-left-title {
  font-weight: bold;
  margin-bottom: 50px;
  position: relative;
}

.exad-team-carousel-social-left-title::before {
  content: '';
  position: absolute;
  width: 145px;
  height: 4px;
  background: #f35029;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -25px;
}

.exad-team-carousel-social-left-inner {
  margin: 0 15px;
  outline: 0;
}

.exad-team-carousel-wrapper .slick-dots {
  padding-top: 30px;
  padding-left: 0;
  margin-bottom: 0;
  text-align: center;
}

.exad-team-carousel-wrapper .slick-dots li {
  display: inline-block;
}

.exad-team-carousel-wrapper .slick-dots li button {
  width: 12px;
  height: 12px;
  outline: 0;
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #8a8d91;
  -webkit-text-fill-color: transparent;
  transition: .3s ease;
}

.exad-team-carousel-wrapper .slick-dots li button:hover {
  background: #f35029;
}

.exad-team-carousel-wrapper .slick-dots li:not(:last-child) {
  margin-right: 15px;
}

.exad-team-carousel-wrapper .slick-dots li.slick-active button {
  background: #f35029;
}

.exad-team-carousel-content-hover {
  margin: 0 -15px;
}

.exad-team-carousel-content-hover-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.exad-team-carousel-content-hover-subtitle {
  position: relative;
  margin-bottom: 30px;
}

.exad-team-carousel-content-hover-subtitle::before {
  position: absolute;
  content: '';
  width: 75px;
  height: 3px;
  background: #132c47;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -25px;
}

.exad-team-carousel-content-hover-inner {
  margin: 0 15px;
}

.exad-team-carousel-content-hover .slick-track {
  display: flex;
  align-items: flex-end;
}

.exad-team-carousel-prev, .exad-team-carousel-next {
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  background: #b8bfc7;
  color: #fff;
  display: block;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  transition: .3s ease;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.exad-team-carousel-prev i, .exad-team-carousel-next i {
  line-height: 60px;
}

.exad-team-carousel-prev:hover, .exad-team-carousel-next:hover {
  background: #132c47;
}

.exad-team-carousel-prev {
  left: -70px;
}

.exad-team-carousel-next {
  right: -70px;
}

/* Content Hover Carousel */

.exad-team-carousel-content-h .slick-track {
  display: flex;
  align-items: flex-end;
}

.exad-team-carousel-prev, .exad-team-carousel-next {
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  background: #b8bfc7;
  color: #fff;
  display: block;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  transition: .3s ease;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.exad-team-carousel-prev i, .exad-team-carousel-next i {
  line-height: 60px;
}

.exad-team-carousel-prev:hover, .exad-team-carousel-next:hover {
  background: #132c47;
}

.exad-team-carousel-prev {
  left: -70px;
}

.exad-team-carousel-next {
  right: -70px;
}


/* progress bar style 1 css style */

.exad-progerss-bar-style-1{
    text-align: center;
}

.exad-progerss-bar-style-1-content-box {
    
}

.exad-progerss-bar-style-1-content-box-text h6{
    float: left;
}

.exad-progerss-bar-style-1-content-box-text p{
    text-align: right;
}

.exad-progerss-bar-bg-line-1{
    height: 5px;
    width: 100%;
    background: #e5e5e5;
}

.exad-progerss-bar-fill-line-1{
    width: 60%;
    background: #f85959;
    height: 100%;
    animation: animate-positive 1.5s;
}
.exad-progerss-bar-style-1-content-box-bar-color-90{
    width: 90%;
    background: #f85959;
    height: 5px;
    animation: animate-positive 1.5s;
}
.exad-progerss-bar-style-1-content-box-bar-color-80{
    width: 80%;
    background: #f85959;
    height: 5px;
    animation: animate-positive 1.5s;
}
.exad-progerss-bar-style-1-content-box-bar-color-75{
    width: 75%;
    background: #f85959;
    height: 5px;
    animation: animate-positive 1.5s;
}

@keyframes animate-positive{
    0% { width: 0%; }
}


/* card style 1 css style */
.exad-card-style-1-header-text {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: #0a1724;
    font-weight: 300;
}

.card.exad-card-style-1-card-1 {
    border-radius: 15px;
    border-color: rgb(229, 229, 229) !important;
    transition: all .3s ease;
}

.card-img-top {
    border-radius: 13px 13px 0 0;
}

.exad-card-style-1-card-1-body {
    padding: 40px 0 0 30px;
}

.exad-card-style-1-card-1-body h5 {
    border-right: 3px solid #d9d9d9;
    font-size: 20px;
    color: #0a1724;
    font-family: 'Open Sans', sans-serif;
    padding: 4px 0;
}

.card.exad-card-style-1-card-1:hover .exad-card-style-1-card-1-body>h5 {
    border-right: 3px solid #ff4a4a;
}

.exad-card-style-1-card-1-body p {
    color: #8a8d91;
    font-size: 15px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
}

.exad-card-style-1-card-1-body a {
    transform: translateY(25px);
    background: rgb(255, 255, 255);
    padding: 13px 32px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 6px 18px 0px rgba(9, 24, 33, 0.15);
    -webkit-box-shadow: 0px 6px 18px 0px rgba(9, 24, 33, 0.15);
    -moz-box-shadow: 0px 6px 18px 0px rgba(9, 24, 33, 0.15);
    color: #0a1724;
    font-family: 'Open Sans', sans-serif;
}

.exad-card-style-1-card-1-body a:hover {
    background: #ff4a4a;
    font-family: 'Open Sans', sans-serif;
}

/* card style 4 css style */

.exad-card-style-4-content-image {
    position: relative;
    transition: all .5s ease;
    overflow: hidden;
    padding: 0 26px 0 0;
}

.exad-card-style-4-content-image-text {
    position: absolute;
    left: 30px;
    bottom: -270px;
    transform: translateY(0);
    transition: all 1s ease;
}

.exad-card-style-4-content-image img {
    width: 100%;
}

.exad-card-style-4-content-image::before {
    content: '';
    width: 93%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(10, 23, 36, 0.3);
    transition: all 1s ease;
}

.exad-card-style-4-content-image:hover::before {
    background: rgba(10, 23, 36, 0.6);
}

.exad-card-style-4-content-image-text a {
    padding: 2px 10px;
    font-size: 15px;
    color: #ffffff;
    font-family: 'Open sans';
    background-image: linear-gradient(to left, #4b6ff4, #6069f9, #7562fd, #8a59ff, #9f4cff);
}

.exad-card-style-4-content-image-text h5 {
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Open Sans';
}

.exad-card-style-4-content-image-text p {
    color: #ffffff;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 100px;
}

.exad-card-style-4-content-image-text button {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 18px 0px rgba(9, 24, 33, 0.15);
    border-radius: 50%;
    padding: 14px 15px;
    border: none;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all .5s ease;
}

.exad-card-style-4-content-image-text button:hover {
    background-color: #ff4a4a;
}

.exad-card-style-4-content-image-text button:hover path {
    fill: #ffffff;
}

.exad-card-style-4-content-image:hover .exad-card-style-4-content-image-text {
    transform: translateY(-270px);
}

.exad-card-style-4-content-box {
    position: absolute;
    width: 82%;
    height: 95%;
    border-style: solid;
    border-width: 7px;
    border-color: transparent;
    border-image: linear-gradient(to top, #4b6ff4, #6069f9, #7562fd, #8a59ff, #9f4cff);
    border-image-slice: 1;
    top: 50px;
    left: 60px;
}

/* card style 5 css style */

.exad-card-style-5-content {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 13px 33px 0px rgba(51, 77, 128, 0.12);
}

.exad-card-style-5-content-image {
    position: relative;
}

.exad-card-style-5-content-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(12,13,22,.6);
    transition: all 1s ease;
}

.exad-card-style-5-content-image:hover::before {
    background: linear-gradient(-45deg, rgba(75, 111, 244, 0.75), rgba(159, 76, 255, 0.8));
}

.exad-card-style-5-content-image-text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 101%;
    background: #ffffff;
    transform: skew(0deg, 15deg) translate(-1px, 55px);
    padding: 40px 0;
}

.exad-card-style-5-content-image-text-content {
    float: left;
    transform: skew(0deg, -15deg);
}

.exad-card-style-5-content-image-text-content p {
    border-left: 4px solid #ff4a4a;
    font-size: 15px;
    padding: 0px 30px;
    color: #8a8d91;
}

.exad-card-style-5-content-image-text-content h5 {
    font-size: 20px;
    margin-left: 30px;
}

.exad-card-style-5-content-image-text-button button {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 18px 0px rgba(9, 24, 33, 0.15);
    border-radius: 50%;
    padding: 14px 15px;
    border: none;
    cursor: pointer;
    transition: all .5s ease;
    margin-left: 100px;
    transition: all .5s ease;
}

.exad-card-style-5-content-image-text-button button:hover {
    background-color: #ff4a4a;
}

.exad-card-style-5-content-image-text-button button:hover path {
    fill: #ffffff;
}

.exad-card-style-5-content-image-text-button {
    transform: skew(0deg, -15deg)translate(-9px, -25px);
}

.exad-card-style-5-content-box {
    position: absolute;
    height: 23px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #ececed;
    z-index: 0;
    transform: skew(0deg, 18deg)translate(0px, -80px);
    transition: all 1s ease;
}

.exad-card-style-5-content-image:hover .exad-card-style-5-content-box{
    background: #d5cefd;
}

/* card style 3 css style */

.exad-card-style-3-content-image {
    position: relative;
    width: 100%;
    height: auto;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.99) 0%, rgba(128, 128, 128, 0.1) 50%, rgba(255, 255, 255, 0.1) 100%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.99) 0%, rgba(128, 128, 128, 0.1) 50%, rgba(255, 255, 255, 0.1) 100%);
    background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.99) 0%, rgba(128, 128, 128, 0.1) 50%, rgba(255, 255, 255, 0.1) 100%);
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.99) 0%, rgba(128, 128, 128, 0.1) 50%, rgba(255, 255, 255, 0.1) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99) 0%, rgba(128, 128, 128, 0.1) 50%, rgba(255, 255, 255, 0.1) 100%);
}

.exad-card-style-3-content-image::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.99) 0%, rgba(128, 128, 128, 0.1) 50%, rgba(255, 255, 255, 0.1) 100%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.99) 0%, rgba(128, 128, 128, 0.1) 50%, rgba(255, 255, 255, 0.1) 100%);
    background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.99) 0%, rgba(128, 128, 128, 0.1) 50%, rgba(255, 255, 255, 0.1) 100%);
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.99) 0%, rgba(128, 128, 128, 0.1) 50%, rgba(255, 255, 255, 0.1) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99) 0%, rgba(128, 128, 128, 0.1) 50%, rgba(255, 255, 255, 0.1) 100%);

}

.exad-card-style-3-content-image img {
    width: 100%;
    height: 360px;
}

.exad-card-style-3-content {
    position: relative;
}

.exad-card-style-3-content-image-text {
    position: absolute;
    left: 0;
    bottom: 30px;
}

.exad-card-style-3-content-image-text p {
    color: #ff4a4a;
    font-size: 15px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 60px;
    position: relative;
}

.exad-card-style-3-content-image-text p::before {
    content: '';
    width: 20px;
    height: 2px;
    background: #ff4a4a;
    position: absolute;
    top: 13px;
    left: -30px;
}

.exad-card-style-3-content-image-text h5 {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin-left: 30px;
}

.exad-card-style-3-content-image-button {
    position: absolute;
    right: 0;
    bottom: 0;
}

.exad-card-style-3-content-image-button button {
    transform: translate(-40px, 26px);
    padding: 14px 15px;
    border-radius: 50%;
    border: 4px solid rgba(231, 231, 231, 0.15);
    box-shadow: 0px 6px 18px 0px rgba(9, 24, 33, 0.15);
    transition: all .3s ease;
    cursor: pointer;
}

.exad-card-style-3-content-image-button button:hover {
    background: #ff4a4a;
    border: 4px solid rgba(231, 231, 231, 0.8);
}

.exad-card-style-3-content-image-button button:hover path {
    fill: #ffffff;
}


/* Testimonial Carousel One */


.exad-testimonial-carousel-one {
  background: #fff;
  box-shadow: 0px 24px 81px 0px rgba(9, 24, 33, 0.1);
  text-align: left;
  padding: 100px;
  margin-left: 70px;
  position: relative;
}

.exad-testimonial-carousel-one::before {
  position: absolute;
  content: '"';
  font-family: "Roboto", sans-serif;
  right: 100px;
  top: 50px;
  line-height: 400px;
  font-weight: bold;
}

.exad-testimonial-carousel-one-inner {
  outline: 0;
}

.exad-testimonial-carousel-one-name {
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
  font-size: 20px;
}

.exad-testimonial-carousel-one-designation {
  color: #8a8d91;
  display: inline-block;
  margin-bottom: 20px;
}

.exad-testimonial-carousel-one-quote {
  margin-bottom: 20px;
}

.exad-testimonial-carousel-one-ratings {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.exad-testimonial-carousel-one-ratings li {
  display: inline-block;
}

.exad-testimonial-carousel-one-ratings li i {
  color: #e2e5ea;
  font-size: 20px;
}

.exad-testimonial-carousel-one-ratings li.exad-testimonial-carousel-one-ratings-active i {
  color: #38dae8;
}

.exad-testimonial-carousel-one-prev, .exad-testimonial-carousel-one-next {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 25px;
  transition: .3s ease;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
  bottom: 50px;
  z-index: 1;
}

.exad-testimonial-carousel-one-prev i, .exad-testimonial-carousel-one-next i {
  transition: .3s ease;
  color: #e5e5e5;
  line-height: 58px;
}

.exad-testimonial-carousel-one-prev:hover, .exad-testimonial-carousel-one-next:hover {
  color: #fff;
  box-shadow: 0px 19px 27px 0px rgba(56, 218, 232, 0.25);
  background: #38dae8;
  border-color: transparent;
}

.exad-testimonial-carousel-one-prev {
  right: 120px;
}

.exad-testimonial-carousel-one-next {
  right: 50px;
}

.exad-testimonial-carousel-one ul.slick-dots {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: absolute;
  left: -50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.exad-testimonial-carousel-one ul.slick-dots li {
  opacity: .15;
  transition: .3s ease;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  position: relative;
}

.exad-testimonial-carousel-one ul.slick-dots li a {
  cursor: pointer;
  width: 115px;
  height: 70px;
  display: block;
}

.exad-testimonial-carousel-one ul.slick-dots li a img {
  width: 100%;
  overflow: hidden;
  -webkit-clip-path: url(#mask_testimonial);
          clip-path: url(#mask_testimonial);
}

.exad-testimonial-carousel-one ul.slick-dots li.slick-active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 1;
}
