.background__color-gray {
  background: #f5f7fa;
}

.exad-team-member-circle {
  padding: 70px 40px 30px;
  box-shadow: 0px 13px 33px 0px rgba(51, 77, 128, 0.08);
  background: #fff;
  text-align: center;
  border-radius: 5px;
}

.exad-team-member-circle-thumb {
  position: relative;
  z-index: 1;
  width: 122px;
  height: 122px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.exad-team-member-circle-thumb img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.exad-team-member-circle-thumb svg {
  position: absolute;
  width: 123px;
  height: 123px;
  z-index: -1;
}

.exad-team-member-circle-thumb svg:first-child {
  left: 7px;
  bottom: 7px;
}

.exad-team-member-circle-thumb svg:nth-child(2) {
  top: 7px;
  left: 7px;
}

.exad-team-member-circle-thumb svg:nth-child(3) {
  right: 4px;
  top: 0;
}

.exad-team-member-circle-thumb svg.violate {
  fill: #826EFF;
}

.exad-team-member-circle-thumb svg.orange {
  fill: #FF6A47;
}

.exad-team-member-circle-thumb svg.cyan {
  fill: #3AD8F4;
}

.exad-team-member-circle .rounded {
  border-radius: 8px;
}

.exad-team-member-circle .circled {
  border-radius: 50%;
}

.exad-team-member-circle-name {
  font-size: 22px;
  margin-bottom: 5px;
}

.exad-team-member-circle-designation {
  font-size: 15px;
  display: block;
  color: #8a8d91;
  margin-bottom: 12px;
}

.exad-team-member-circle-about {
  margin-bottom: 40px;
  font-size: 16px;
  color: #8a8d91;
}

.exad-team-member-circle-social {
  padding-left: 0;
}

.exad-team-member-circle-social li {
  display: inline-block;
}

.exad-team-member-circle-social li:not(:last-child) {
    margin-right: 2px;
}

.exad-team-member-circle-social li a {
  padding: 0 10px;
  color: #a4a7aa;
}

.exad-team-member-circle-social li a:hover {
  color: #8a8d91;
  transition: .3s ease;
}

.exad-team-member-social-left-hover {
  text-align: center;
}

.exad-team-member-social-left-hover-thumb {
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.exad-team-member-social-left-hover-thumb::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f5f6fa;
  transition: .3s ease;
  z-index: -1;
}

.exad-team-member-social-left-hover-thumb img {
  width: 100%;
}

.exad-team-member-social-left-hover-name {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

.exad-team-member-social-left-hover-social {
  list-style: none;
  position: absolute;
  z-index: 2;
  margin: 0;
  padding: 30px 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 13px 17px 0px rgba(0, 0, 0, 0.16);
  transition: .3s ease;
  top: 25%;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  left: 0;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.exad-team-member-social-left-hover-social li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  color: #8a8d91;
  border-radius: 50%;
  border: 1px solid #8a8d91;
  transition: .3s ease;
}

.exad-team-member-social-left-hover-social li a i {
  line-height: 45px;
}

.exad-team-member-social-left-hover-social li a:hover {
  color: #fff;
  background: #ff6d55;
  border-color: #ff6d55;
}

.exad-team-member-social-left-hover-social li:not(:last-child) {
  margin-bottom: 10px;
}

.exad-team-member-social-left-hover:hover .exad-team-member-social-left-hover-thumb::before {
  -webkit-transform: translate(-20px, -20px);
          transform: translate(-20px, -20px);
}

.exad-team-member-social-left-hover:hover .exad-team-member-social-left-hover-social {
  left: 30px;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.exad-team-member-rounded {
  text-align: center;
}

.exad-team-member-rounded-thumb {
  margin-bottom: 30px;
}

.elementor .exad-team-member-rounded-thumb img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 16px 46px 0px rgba(19, 32, 58, 0.18);
}

.exad-team-member-rounded-name {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
}

.exad-team-member-rounded-designation {
  font-size: 15px;
  display: inline-block;
  margin-bottom: 25px;
}

.exad-team-member-rounded-social li a {
  color: #fff;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #272c44;
  opacity: .4;
  transition: .3s ease;
}

.exad-team-member-rounded-social li a i {
  line-height: 40px;
}

.exad-team-member-rounded-social li a:hover {
  opacity: 1;
}

.exad-team-member-four {
  position: relative;
}

.exad-team-member-four-thumb img {
  width: 100%;
}

.exad-team-member-four-content {
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  text-align: center;
  padding: 40px 30px 30px;
  background: rgba(0, 0, 0, 0.65);
  transition: .3s ease;
}

.exad-team-member-four-name, .exad-team-member-four-designation {
  color: #fff;
}

.exad-team-member-four-designation, .exad-team-member-four-about {
  font-family: "Poppins", sans-serif;
}

.exad-team-member-four-name {
  font-size: 22px;
  margin-bottom: 0;
}

.exad-team-member-four-designation {
  display: inline-block;
  margin-bottom: 10px;
}

.exad-team-member-four-about {
  color: #caced4;
  margin-bottom: 30px;
}

.exad-team-member-four-social li a {
  display: block;
  width: 40px;
  height: 40px;
  background: rgba(19, 44, 71, 0.4);
  color: #fff;
  border-radius: 50%;
  transition: .3s ease;
}

.exad-team-member-four-social li a i {
  line-height: 40px;
  font-size: 14px;
}

.exad-team-member-four-social li a:hover {
  color: #132c47;
  background: #fff;
}

.exad-team-member-four:hover .exad-team-member-four-content {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.exad-team-member-content-hover {
  position: relative;
}

.exad-team-member-content-hover-thumb img {
  width: 100%;
}

.exad-team-member-content-hover-content {
  position: absolute;
  text-align: center;
  background: #fff;
  width: 100%;
  box-shadow: 0px 20px 33px 0px rgba(51, 77, 128, 0.2);
  padding: 25px 20px 20px;
  transition: .3s ease;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  opacity: 0;
  bottom: -10%;
}

.exad-team-member-content-hover-name, .exad-team-member-content-hover-designation {
  font-family: "Poppins", sans-serif;
}

.exad-team-member-content-hover-name {
  font-size: 22px;
  margin-bottom: 0;
}

.exad-team-member-content-hover-designation {
  font-size: 15px;
  display: block;
  margin-bottom: 30px;
  position: relative;
}

.exad-team-member-content-hover-designation::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  background: #132c47;
  bottom: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.exad-team-member-content-hover-social {
  margin-bottom: 0;
}

.exad-team-member-content-hover-social li a {
  display: block;
  padding: 0 7px;
  color: #8a8d91;
  transition: .3s ease;
}

.exad-team-member-content-hover-social li a i {
  font-size: 14px;
}

.exad-team-member-content-hover-social li a:hover {
  color: #132c47;
}

.exad-team-member-content-hover:hover .exad-team-member-content-hover-content {
  bottom: 10%;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.exad-team-member-basic {
  background: #fff;
  box-shadow: 0px 13px 33px 0px rgba(51, 77, 128, 0.08);
}

.exad-team-member-basic-thumb img {
  width: 100%;
}

.exad-team-member-basic-content {
  padding: 25px 20px;
}

.exad-team-member-basic-name, .exad-team-member-basic-designation, .exad-team-member-basic-about {
  font-family: "Poppins", sans-serif;
}

.exad-team-member-basic-name {
  font-size: 22px;
  margin-bottom: 0;
  font-weight: 700;
}

.exad-team-member-basic-designation {
  font-size: 15px;
  margin-bottom: 10px;
  display: inline-block;
}

.exad-team-member-basic-about {
  margin-bottom: 25px;
}

.exad-team-member-basic-social {
  margin-bottom: 0;
}
.exad-team-member-basic-social li, .exad-team-member-rounded-social li, .exad-team-member-content-hover-social li {
  display: inline-block;
}

.exad-team-member-basic-social li a {
  color: #8a8d91;
  display: block;
  transition: .3s ease;
}

.exad-team-member-basic-social li a:hover {
  color: #132c47;
}

.exad-team-member-basic-social li:not(:last-child) {
  margin-right: 15px;
}

.exad-team-member-seven {
  box-shadow: 0px 13px 33px 0px rgba(51, 77, 128, 0.08);
  overflow: hidden;
}

.exad-team-member-seven-thumb img {
  width: 100%;
}

.exad-team-member-seven-content {
  background: #fff;
  padding: 25px 20px;
  position: relative;
  transition: .3s ease;
}

.exad-team-member-seven-name {
  font-size: 22px;
  margin-bottom: 5px;
}

.exad-team-member-seven-designation {
  font-size: 15px;
}

.exad-team-member-seven-share {
  position: absolute;
  right: 5%;
  top: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #3ad8f4;
  color: #fff;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 16px 46px 0px rgba(19, 32, 58, 0.25);
}

.exad-team-member-seven-share i {
  line-height: 50px;
}

.exad-team-member-seven-social {
  position: absolute;
  bottom: 75px;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.exad-team-member-seven-social li {
  transition: .3s ease;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.exad-team-member-seven-social li a {
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(19, 44, 71, 0.5);
  color: #fff;
  border-radius: 50%;
  transition: .3s ease;
}

.exad-team-member-seven-social li a:hover {
  background: #fff;
  color: #132c47;
}

.exad-team-member-seven-social li:not(:last-child) {
  margin-bottom: 10px;
}

.exad-team-member-seven-social li:nth-child(1) {
  transition-delay: 0.05s;
}

.exad-team-member-seven-social li:nth-child(2) {
  transition-delay: 0.1s;
}

.exad-team-member-seven-social li:nth-child(3) {
  transition-delay: 0.15s;
}

.exad-team-member-seven-social li:nth-child(4) {
  transition-delay: 0.2s;
}

.exad-team-member-seven-social li:nth-child(5) {
  transition-delay: 0.25s;
}

.exad-team-member-seven:hover .exad-team-member-seven-social li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.exad-team-member-seven:hover .exad-team-member-seven-content {
  background: #132c47;
}

.exad-team-member-seven:hover .exad-team-member-seven-name, .exad-team-member-seven:hover .exad-team-member-seven-designation {
  color: #fff;
}

.exad-team-carousel-circle {
  margin: 0 -15px;
}

.exad-team-carousel-circle-title {
  margin-bottom: 50px;
  position: relative;
}

.exad-team-carousel-circle-title:before {
  content: '';
  position: absolute;
  width: 70px;
  height: 2px;
  background: #132c47;
  bottom: -25px;
  left: 0;
}

.exad-team-carousel-circle-arrow {
  margin-top: 75px;
}

.exad-team-carousel-circle-arrow-prev, .exad-team-carousel-circle-arrow-next {
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 25px;
  transition: .3s ease;
  margin-right: 20px;
}

.exad-team-carousel-circle-arrow-prev i, .exad-team-carousel-circle-arrow-next i {
  transition: .3s ease;
  color: #eaecf2;
  line-height: 60px;
}

.exad-team-carousel-circle-arrow-prev:hover, .exad-team-carousel-circle-arrow-next:hover {
  color: #132c47;
  box-shadow: 0px 13px 33px 0px rgba(51, 77, 128, 0.08);
}

.exad-team-carousel-circle-arrow-prev:hover i, .exad-team-carousel-circle-arrow-next:hover i {
  color: #132c47;
}

.exad-team-carousel-circle-inner {
  margin: 20px 15px;
  outline: 0;
}

.exad-team-carousel-social-left-hover {
  margin: 0 -15px;
}

.exad-team-carousel-social-left-hover-title {
  font-weight: bold;
  margin-bottom: 50px;
  position: relative;
}

.exad-team-carousel-social-left-hover-title::before {
  content: '';
  position: absolute;
  width: 145px;
  height: 4px;
  background: #f35029;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -25px;
}

.exad-team-carousel-social-left-hover-inner {
  margin: 0 15px;
  outline: 0;
}

.exad-team-carousel-social-left-hover .slick-dots {
  bottom: -55px;
}

.exad-team-carousel-social-left-hover .slick-dots li button:before {
  transition: .3s ease;
  font-size: 12px;
}

.exad-team-carousel-social-left-hover .slick-dots li button:hover:before {
  color: #f35029;
}

.exad-team-carousel-social-left-hover .slick-dots li.slick-active button:before {
  color: #f35029;
}

/*# sourceMappingURL=maps/style.css.map */
