
/* Reading Progress bar CSS Start  */

.exad-reading-progress-wrap.exad-reading-progress-wrap-local .exad-reading-progress-global {
    display: none;

  }

  .exad-reading-progress-wrap.exad-reading-progress-wrap-global .exad-reading-progress-local {
    display: none;

  }

  .exad-reading-progress-wrap.exad-reading-progress-wrap-disabled .exad-reading-progress-global,
  .exad-reading-progress-wrap.exad-reading-progress-wrap-disabled .exad-reading-progress-local {
    display: none;

  }

  .exad-reading-progress-wrap .exad-reading-progress {
    width: 100%;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    height: 5px;

  }

  .exad-reading-progress-wrap .exad-reading-progress.exad-reading-progress-bottom {
    top: unset;
    bottom: 0;
  }

  .exad-reading-progress-wrap .exad-reading-progress .exad-reading-progress-fill {
    height: 5px;
    background-color: #1fd18e;
    width: 0%;
    -webkit-transition: width 50ms ease;
    -o-transition: width 50ms ease;
    transition: width 50ms ease;
  }
  
/* Reading Progress bar CSS End  */
