.exad-accordion-items .exad-accordion-single-item .exad-accordion-title {
  position: relative;
  display: flex;
}
.exad-accordion-items .exad-accordion-single-item .exad-accordion-title span.exad-tab-title-icon {
    position: relative;
    margin-right: 15px;
}
.exad-accordion-items .exad-accordion-single-item .exad-accordion-title span.exad-tab-title-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.exad-accordion-items .exad-accordion-single-item .exad-accordion-title .exad-active-inactive-icon {
    position: absolute;
    right: 0;
    font-size: 25px;
    font-weight: 300;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.exad-accordion-items .exad-accordion-single-item .exad-accordion-title.active .exad-inactive-icon,
.exad-accordion-items .exad-accordion-single-item .exad-accordion-title .exad-active-icon {
  display: none;
}
.exad-accordion-items .exad-accordion-single-item .exad-accordion-title.active .exad-active-icon {
  display: block;
}
.exad-accordion-items .exad-accordion-single-item .exad-accordion-content {
    display: none;
}
/* Exclusive Accordion End */ 