/* Exclusive alert style start*/
.exad-alert .exad-alert-element {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 40px;
  position: relative;
}

.exad-alert .exad-alert-element:not(:last-child) {
  margin-bottom: 20px;
}

.exad-alert .exad-alert-element .exad-alert-element-icon {
  width: 50px;
  text-align: left;
}

.exad-alert .exad-alert-element .exad-alert-element-icon span {
  font-size: 24px;
}

.exad-alert .exad-alert-element .exad-alert-element-content {
  width: calc( 100% - 50px );
  text-align: left;
}

.exad-alert .exad-alert-element .exad-alert-element-content h5 {
  margin: 0 0 10px 0;
  font-size: 20px;
}

.exad-alert .exad-alert-element .exad-alert-element-content p {
  margin: 0;
  font-size: 16px;
}

.exad-alert .exad-alert-element .exad-alert-element-dismiss-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
}

.exad-alert .exad-alert-element .exad-alert-element-dismiss-icon svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.exad-alert .exad-alert-element .exad-alert-element-dismiss-icon svg path {
  fill: #A1A5B5;
}

.exad-alert-element-dismiss-button{
  display: inline-block;
}
.exad-alert-element-dismiss-button .exad-alert-element-dismiss-done,.exad-alert-element-dismiss-button .exad-alert-element-dismiss-cancel {
  text-decoration: none;
  display: inline-block;
  transition: all .3s ease;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 15px;
}
.exad-alert-element-dismiss-button button {
  border: none;
}
@media only screen and (max-width: 767px) {
  .exad-alert .exad-alert-element {
    flex-direction: column;
  }
  body .exad-alert .exad-alert-element .exad-alert-element-icon,
  body .exad-alert .exad-alert-element .exad-alert-element-content {
    width: 100% !important;
  }
}
/* Exclusive alert style start ends*/