/* Exclusive alert style start*/
.exad-alert .exad-alert-element {
  display: flex;
  /* padding: 20px; */
  align-items: center;
  text-align: center;
  border-radius: 40px;
  position: relative;
}

.exad-alert .exad-alert-element:not(:last-child) {
  margin-bottom: 20px;
}

.exad-alert .exad-alert-element .exad-alert-element-icon {
  width: 50px;
  line-height: 1;
  text-align: left;
}

.exad-alert .exad-alert-element .exad-alert-element-icon span {
  font-size: 24px;
}

.exad-alert .exad-alert-element .exad-alert-element-content {
  width: calc( 100% - 50px );
  text-align: left;
}

.exad-alert .exad-alert-element .exad-alert-element-content h5 {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.exad-alert .exad-alert-element .exad-alert-element-content p {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.exad-alert .exad-alert-element .exad-alert-element-dismiss-icon {
  /* width: 5%; */
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  line-height: 0;
}

.exad-alert .exad-alert-element .exad-alert-element-dismiss-icon svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.exad-alert .exad-alert-element .exad-alert-element-dismiss-icon svg path {
  fill: #A1A5B5;
}

.exad-alert-element-dismiss-button{
  display: inline-block;
}
.exad-alert-element-dismiss-button .exad-alert-element-dismiss-done,.exad-alert-element-dismiss-button .exad-alert-element-dismiss-cancel {
  /* padding: 15px 35px; */
  text-decoration: none;
  display: inline-block;
  transition: all .3s ease;
  border-radius: 5px;
  /* color: #fff; */
  margin-right: 10px;
  /* font-family: "Roboto", sans-serif; */
  font-size: 15px;
}

/* .exad-alert-element-dismiss-button .exad-alert-element-dismiss-cancel {
  border: 1px solid #F05E5E;
  color: #f05e5e;
}

.exad-alert-element-dismiss-button .exad-alert-element-dismiss-done {
  background: #2775FF;
} */

/* Exclusive alert style end*/