/* Breadcrumbs style start */
ul.exad-breadcrumb-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
}
ul.exad-breadcrumb-items li {
  display: inline-block;
  position: relative;
}
ul.exad-breadcrumb-items li.exad-breadcrumb-item a {
	display: inline-block;
}
ul.exad-breadcrumb-items li.exad-breadcrumb-item i.exad-arrow {
	position: absolute;
	content: '';
	right: 0;
	top: 6px;
	-webkit-transform: translate(50%,-50%);
	transform: translate(50%,-50%); 
	top: 50%;
	z-index: 1;
	text-align: center;
}

/* Breadcrumbs style end */