
/* Breadcrumb Start */

.exad-breadcrumb-one {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}

.exad-breadcrumb-one li.exad-breadcrumb-item {
  display: inline-block;
  position: relative;
}

.exad-breadcrumb-one li.exad-breadcrumb-item:not(:first-child) {
  padding-left: 22px;
}

.exad-breadcrumb-one li.exad-breadcrumb-item:not(:last-child) {
  padding-right: 22px;
}

.exad-breadcrumb-one li.exad-breadcrumb-item:not(:last-child)::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #797c80;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.exad-breadcrumb-one li.exad-breadcrumb-item a {
  color: #797c80;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-decoration: none;
}

.exad-breadcrumb-one .exad-breadcrumb-item i {
  margin-right: 10px;
}

.exad-breadcrumb-one li.exad-breadcrumb-item a:hover {
  color: #fc6277;
}

.exad-breadcrumb-one li.exad-breadcrumb-item.active {
  color: #fc6277;
}

.exad-breadcrumb-two {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}

.exad-breadcrumb-two .exad-breadcrumb-item {
  display: inline-block;
  border-left: 1px solid #aaaaaa;
  padding: 3px 30px;
}

.exad-breadcrumb-two .exad-breadcrumb-item a {
  display: block;
  color: #aaaaaa;
  text-decoration: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.exad-breadcrumb-two .exad-breadcrumb-item i {
  margin-right: 10px;
}

.exad-breadcrumb-two .exad-breadcrumb-item a:hover {
  color: #07101a;
}

.exad-breadcrumb-two .exad-breadcrumb-item.active {
  color: #07101a;
  border-right: 1px solid #07101a;
}

.exad-breadcrumb-two .exad-breadcrumb-item.active a {
  pointer-events: none;
}

.exad-breadcrumb-three {
  display: inline-block;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
  border: 2px solid #000000;
  overflow: hidden;
}

.exad-breadcrumb-three .exad-breadcrumb-item {
  display: inline-block;
  padding: 15px 30px;
}

.exad-breadcrumb-three .exad-breadcrumb-item:not(:first-child) {
  border-left: 2px solid #000000;
}

.exad-breadcrumb-three .exad-breadcrumb-item a {
  display: block;
  color: #aaaaaa;
  color: inherit;
  text-decoration: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.exad-breadcrumb-three .exad-breadcrumb-item i {
  margin-right: 10px;
}

.exad-breadcrumb-three .exad-breadcrumb-item.active {
  color: #fc6277;
}

.exad-breadcrumb-three .exad-breadcrumb-item.active a {
  pointer-events: none;
}

.exad-breadcrumb-three .exad-breadcrumb-item.active2 {
  color: #fff;
}

.exad-breadcrumb-three .exad-breadcrumb-item.active2 a {
  background: #000000;
}

.exad-breadcrumb-four {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  display: -webkit-inline-box;
  display: inline-flex;
}

.exad-breadcrumb-four .exad-breadcrumb-item:nth-child(1) {
  background-color: #805fff;
}

.exad-breadcrumb-four .exad-breadcrumb-item:nth-child(2) {
  background-color: #704aff;
}

.exad-breadcrumb-four .exad-breadcrumb-item:nth-child(3) {
  background-color: #5f36ff;
}

.exad-breadcrumb-four .exad-breadcrumb-item:nth-child(4) {
  background-color: #4f21ff;
}

.exad-breadcrumb-four .exad-breadcrumb-item:nth-child(5) {
  background-color: #3f0dff;
}

.exad-breadcrumb-four .exad-breadcrumb-item:nth-child(6) {
  background-color: #3300f8;
}

.exad-breadcrumb-four .exad-breadcrumb-item:nth-child(7) {
  background-color: #2f00e3;
}

.exad-breadcrumb-four .exad-breadcrumb-item:nth-child(8) {
  background-color: #2b00cf;
}

.exad-breadcrumb-four .exad-breadcrumb-item:nth-child(9) {
  background-color: #2700ba;
}

.exad-breadcrumb-four .exad-breadcrumb-item:nth-child(10) {
  background-color: #2200a6;
}

.exad-breadcrumb-four .exad-breadcrumb-item {
  margin: 0;
  position: relative;
}

.exad-breadcrumb-four .exad-breadcrumb-item:not(:last-child)::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border-width: 2px 2px 0 0;
  border-style: solid;
  border-color: #5630e1;
  right: 0;
  top: 50%;
  -webkit-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg);
  z-index: 2;
}

.exad-breadcrumb-four .exad-breadcrumb-item:not(:last-child)::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  background: #fff;
  right: 0;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  z-index: 1;
  border-radius: 50%;
}

.exad-breadcrumb-four li.exad-breadcrumb-item {
  padding: 20px 60px;
  text-decoration: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.exad-breadcrumb-four .exad-breadcrumb-item a {
  color: #fff;
}

.exad-breadcrumb-four .exad-breadcrumb-item i {
  margin-right: 10px;
}

.exad-breadcrumb-four .exad-breadcrumb-item.active {
  color: #ffffff;
}

.exad-breadcrumb-four .exad-breadcrumb-item.active a {
  pointer-events: none;
}

.exad-breadcrumb-four .exad-breadcrumb-item.active2 {
  color: #fff;
}

.exad-breadcrumb-four .exad-breadcrumb-item.active2 a {
  background: #000000;
}

.exad-breadcrumb-five {
  margin: 0 0 30px 0;
  padding: 0 23px 0 0;
  list-style: none;
  overflow: hidden;
  display: -webkit-inline-box;
  display: inline-flex;
}

.exad-breadcrumb-five .exad-breadcrumb-item {
  background-color: #805fff;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(1) {
  background-color: #805fff;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(1)::before {
  border-color: transparent transparent transparent #805fff;
}

.exad-breadcrumb-five .exad-breadcrumb-item {
  background-color: #704aff;
}
.exad-breadcrumb-five li.exad-breadcrumb-item {
  padding: 20px 60px;
  text-decoration: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(2) {
  background-color: #704aff;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(2)::before {
  border-color: transparent transparent transparent #704aff;
}

.exad-breadcrumb-five .exad-breadcrumb-item {
  background-color: #5f36ff;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(3) {
  background-color: #5f36ff;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(3)::before {
  border-color: transparent transparent transparent #5f36ff;
}

.exad-breadcrumb-five .exad-breadcrumb-item {
  background-color: #4f21ff;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(4) {
  background-color: #4f21ff;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(4)::before {
  border-color: transparent transparent transparent #4f21ff;
}

.exad-breadcrumb-five .exad-breadcrumb-item {
  background-color: #3f0dff;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(5) {
  background-color: #3f0dff;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(5)::before {
  border-color: transparent transparent transparent #3f0dff;
}

.exad-breadcrumb-five .exad-breadcrumb-item {
  background-color: #3300f8;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(6) {
  background-color: #3300f8;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(6)::before {
  border-color: transparent transparent transparent #3300f8;
}

.exad-breadcrumb-five .exad-breadcrumb-item {
  background-color: #2f00e3;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(7) {
  background-color: #2f00e3;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(7)::before {
  border-color: transparent transparent transparent #2f00e3;
}

.exad-breadcrumb-five .exad-breadcrumb-item {
  background-color: #2b00cf;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(8) {
  background-color: #2b00cf;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(8)::before {
  border-color: transparent transparent transparent #2b00cf;
}

.exad-breadcrumb-five .exad-breadcrumb-item {
  background-color: #2700ba;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(9) {
  background-color: #2700ba;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(9)::before {
  border-color: transparent transparent transparent #2700ba;
}

.exad-breadcrumb-five .exad-breadcrumb-item {
  background-color: #2200a6;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(10) {
  background-color: #2200a6;
}

.exad-breadcrumb-five .exad-breadcrumb-item:nth-child(10)::before {
  border-color: transparent transparent transparent #2200a6;
}

.exad-breadcrumb-five .exad-breadcrumb-item {
  margin: 0;
  position: relative;
}

.exad-breadcrumb-five .exad-breadcrumb-item::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 30px;
  z-index: 2;
  right: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.exad-breadcrumb-five .exad-breadcrumb-item::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 30px;
  z-index: 1;
  right: -23px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-color: transparent transparent transparent #fff;
}

.exad-breadcrumb-five .exad-breadcrumb-item a {
  color: #fff;
}

.exad-breadcrumb-five .exad-breadcrumb-item i {
  margin-right: 10px;
}

.exad-breadcrumb-five .exad-breadcrumb-item.active {
  color: #ffffff;
}

.exad-breadcrumb-five .exad-breadcrumb-item.active a {
  pointer-events: none;
}

.exad-breadcrumb-five .exad-breadcrumb-item.active2 {
  color: #fff;
}

.exad-breadcrumb-five .exad-breadcrumb-item.active2 a {
  background: #000000;
}

.exad-breadcrumb-demo-image img {
  width: 100%;
  border-radius: 20px;
  border-radius: 33px;
  box-shadow: 0px 85px 103px 0px rgba(24, 37, 65, 0.13);
  animation: mockupAnimation 2s ease-in-out infinite alternate-reverse;
}

.exad-breadcrumb-demo-content {
  margin-top: 70px;
}

.exad-breadcrumb-demo-content h2 {
  font-weight: 400;
  margin-bottom: 30px;
}

.exad-breadcrumb-demo-content p {
  margin-bottom: 80px;
}

.exad-breadcrumb-demo-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.exad-breadcrumb-demo-content ul li {
  display: inline-block;
}

.exad-breadcrumb-demo-content ul li:not(:last-child) {
  margin-right: 30px;
  box-shadow: 0px 30px 35px 0px rgba(114, 76, 255, 0.2);
}

.exad-breadcrumb-demo-content ul li:last-child a {
  box-shadow: 0px 30px 35px 0px rgba(253, 100, 112, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(#ff704e), to(#fb5d86));
  background: linear-gradient(90deg, #ff704e 0%, #fb5d86 100%);
}

.exad-breadcrumb-demo-content ul li a {
  padding: 20px 40px;
  display: -webkit-box;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
          align-items: center;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#724cff), to(#8868fe));
  background: linear-gradient(90deg, #724cff 0%, #8868fe 100%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.exad-breadcrumb-demo-content ul li a span {
  margin-left: 20px;
}

.exad-breadcrumb-demo-content ul li a:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

@-webkit-keyframes mockupAnimation {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes mockupAnimation {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

/* Breadcrumb End */