/* CTA style start */

h1.exad-call-to-action-title {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 40px;
}
ul.exad-call-to-action-buttons {
    margin: 0;
    padding: 0;
    list-style: none;
}
.exad-call-to-action-buttons li:not(:last-child) {
    margin-right: 20px;
}
.exad-call-to-action-buttons li {
    display: inline-block;
}
.exad-call-to-action.skin-vertical {
    text-align: center;
    display: flex;
}
.exad-call-to-action.skin-vertical p.exad-call-to-action-subtitle {
    margin-bottom: 50px;
    font-size: 16px;
}
.exad-call-to-action.skin-horizontal .exad-call-to-action-content {
    display: -webkit-box;
     display: flex; 
    -webkit-box-align: center;
    align-items: center;
}
.exad-call-to-action.skin-horizontal .exad-call-to-action-content .exad-call-to-action-header {
    width: 70%;
}
.exad-call-to-action.skin-horizontal .exad-call-to-action-content .exad-call-to-action-footer {
    -webkit-box-flex: 1;
    flex: 1;
    text-align: right;
}
.exad-call-to-action.fixed-width-left {
    justify-content: flex-start;
}
.exad-call-to-action.fixed-width-right {
    justify-content: flex-end;
}
.exad-call-to-action.fixed-width-center {
    justify-content: center;
}
.exad-call-to-action-icon i {
    font-size: 40px;
    display: inline-block;
}
@media only screen and (max-width: 493px) {
    .exad-call-to-action-buttons li {
        display: flex;
        justify-content: center;
    }
    a.exad-call-to-action-secondary-btn {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 767px) {
    .exad-call-to-action.skin-horizontal .exad-call-to-action-content {
        flex-direction: column;
    }
    .exad-call-to-action.skin-horizontal .exad-call-to-action-content .exad-call-to-action-header {
        width: 100%;
    }
}

/* CTA style end */