/* Contact Form 7 Start */

.exad-contact-form-7 .wpcf7 {
  width: 100%;
}

.exad-contact-form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 30px;
}

.exad-contact-form .exad-contact-form-title {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  font-size: 30px;
  color: #132c47;
  font-weight: 500;
}

.exad-contact-form .exad-contact-form-input-group {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

@media (max-width: 575px) {
  .exad-contact-form .exad-contact-form-input-group {
    width: 100%;
  }
}

.exad-contact-form-7 input[type="text"], .exad-contact-form-7 input[type="email"], .exad-contact-form-7 input[type="url"], .exad-contact-form-7 input[type="password"], .exad-contact-form-7 input[type="search"], .exad-contact-form-7 input[type="number"], .exad-contact-form-7 input[type="tel"], .exad-contact-form-7 input[type="range"], .exad-contact-form-7 input[type="date"], .exad-contact-form-7 input[type="month"], .exad-contact-form-7 input[type="week"], .exad-contact-form-7 input[type="time"], .exad-contact-form-7 input[type="datetime"], .exad-contact-form-7 input[type="datetime-local"], .exad-contact-form-7 input[type="color"], .exad-contact-form-7 textarea {
  width: 100%;
  border: none;
}

.exad-contact-form-7 label {
  display: block;
}

.exad-contact-form-7 textarea {
  height: auto;
}

.exad-contact-form .exad-contact-form-input-group label {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  margin-top: 20px;
  padding: 0 0 0 25px;
}

.exad-contact-form .exad-contact-form-input-group label input {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.exad-contact-form .exad-contact-form-input-group label input:checked ~ .checkmark:after {
  display: block;
}

.exad-contact-form .exad-contact-form-input-group label input:checked ~ .checkmark {
  background-color: #4ce2bd;
  border: none;
}
.exad-contact-form .exad-contact-form-input-group label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #e3e6ec;
}

.exad-contact-form .exad-contact-form-input-group label .checkmark::after {
  content: "\e90e";
  font-family: eicons;
  position: absolute;
  display: none;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 12px;
}

.exad-contact-form-7 .wpcf7-form input[type="submit"] {
  transition: all .4s ease;
  display: flex;
}

.exad-contact-form-7 .exad-cf7-column{
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 15px;
}

.exad-contact-form .exad-contact-form-input-action i {
  margin-left: 10px;
}

.exad-contact-form.two {
  display: flex;
  flex-wrap: wrap;
}

.exad-contact-form-7 br{ display: none;}

/* Contact Form 7 End */