
/* Corona Style Start */



.exad-corona-wrapper.exad-col-1, 
.exad-corona-wrapper.exad-col-2, 
.exad-corona-wrapper.exad-col-3, 
.exad-corona-wrapper.exad-col-4, 
.exad-corona-wrapper.exad-col-5, 
.exad-corona-wrapper.exad-col-6 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.exad-corona-wrapper .exad-corona-col {
    padding: 0px 10px 20px 10px;
}
.exad-corona-wrapper.exad-col-1 .exad-corona-col {
    flex: 0 0 100%;
    max-width: 100%;
}

.exad-corona-wrapper.exad-col-2 .exad-corona-col {
    flex: 0 0 50%;
    max-width: 50%;
}

.exad-corona-wrapper.exad-col-3 .exad-corona-col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.exad-corona-wrapper.exad-col-4 .exad-corona-col {
    flex: 0 0 25%;
    max-width: 25%;
}

.exad-corona-wrapper.exad-col-5 .exad-corona-col {
    flex: 0 0 20%;
    max-width: 20%;
}

.exad-corona-content-horizontal {
    display: flex;
    flex-direction: row;
}
.exad-corona-content-vertical {
    display: flex;
    flex-direction: column;
}
.exad-corona-wrapper.exad-col-6 .exad-corona-col {
    flex: 0 0 16.66666%;
    max-width: 16.666666%;
}

@media (max-width: 991px) {
    .exad-corona-wrapper.exad-col-4 .exad-corona-col,
    .exad-corona-wrapper.exad-col-5 .exad-corona-col,
    .exad-corona-wrapper.exad-col-6 .exad-corona-col {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (max-width: 767px) {
    .exad-corona-wrapper.exad-col-1 .exad-corona-col, 
    .exad-corona-wrapper.exad-col-2 .exad-corona-col,
    .exad-corona-wrapper.exad-col-3 .exad-corona-col,
    .exad-corona-wrapper.exad-col-4 .exad-corona-col,
    .exad-corona-wrapper.exad-col-5 .exad-corona-col,
    .exad-corona-wrapper.exad-col-6 .exad-corona-col {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 10px 20px 10px;
    }
}
.flag-row{
    width: 80px;
}
.flag img{
    width: 35px;
    height: auto;
}

.exad-corona-search-form{
    width: 350px;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
}
.exad-corona-search-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
.exad-corona-search-form input{
    height: 100%;
    width: 100%;
}

.exad-data-table .exad-data-table-row td,
.exad-data-table .exad-corona-table-heading th{
    padding: 15px;
}

.exad-corona-table-heading.yes th {
    position: sticky;
    position: -webkit-sticky;
    top: -2px;
}
.admin-bar .exad-corona-table-heading.yes th {
    position: sticky;
    position: -webkit-sticky;
    top: 30px;
}

.exad-covid-continent-btn{
    transition: all .3s ease;
    display: inline-block;
}
.exad-covid-continent-btn:focus{
    outline: 0;
}
.exad-corona-heading.inline{
    display: flex;
    justify-content: space-between;
}
.exad-corona-heading.inline .exad-corona-last-update{
    order: 2;
}
@media (max-width: 769px) {
    .exad-corona-table{
        overflow-x: scroll;
    }
}
.exad-corona-table.yes{
    overflow-y: scroll!important;
}
.admin-bar .exad-corona-table.yes .exad-corona-table-heading.yes th{
    top: 0;
}
/* Corona Style End */
