
/* Countdown Timer Start */

.exad-countdown-description {
  text-align: center;
  margin-bottom: 90px;
  position: relative;
  z-index: 2;
}

.exad-countdown-description h2 {
  font-size: 40px;
  color: #0a1724;
  font-weight: 500;
  margin-bottom: 23px;
  position: relative;
}

.exad-countdown-description p {
  margin-bottom: 0;
  padding: 0 300px;
}

.exad-countdown-description {
  color: #fff;
}

.exad-countdown-description h2 {
  color: #fff;
}

.exad-countdown {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.exad-countdown .exad-countdown-container {
  width: calc((100% / 4) - 23px);
  margin-right: 30px;
  text-align: center;
}

.exad-countdown-content-container.yes .exad-countdown{
  justify-content: center;
}
.exad-countdown-content-container.yes .exad-countdown .exad-countdown-container{
  position: relative;
}
.exad-countdown-content-container.yes .exad-countdown-timer-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.exad-countdown .exad-countdown-container:last-child {
  margin-right: 0px;
}

.exad-countdown .exad-countdown-container .exad-countdown-timer-wrapper > span {
  display: block;
}

.exad-countdown .exad-countdown-count {
  line-height: 1;
}


.exad-countdown .exad-countdown-count {
  position: relative;
}

.exad-countdown.exad-countdown-divider .exad-countdown-container {
  position: relative;
}

.exad-countdown.exad-countdown-divider .exad-countdown-container::after {
  content: ":";
  font-weight: 100;
  position: absolute;
  right: 0;
  top: 10%;
  color: #ffffff;
  font-size: 70px;
}

.exad-countdown.exad-countdown-divider .exad-countdown-container:last-child::after {
  display: none;
}

.exad-countdown .exad-countdown-count {
  font-size: 80px;
  color: #000;
  text-align: center;
}

.exad-countdown .exad-countdown-title {
  color: #0a1724;
  text-align: center;
}

.exad-coundown-bg > svg {
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.exad-coundown-bg > svg > path {
  fill: rgba(255, 255, 255, 0.078);
}

.exad-countdoen-watermark {
  font-size: 200px;
  color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  font-weight: 700;
}

.exad-countdown-offer-limitation-title {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 38px;
  position: relative;
  z-index: 2;
}

.exad-countdown .message {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 0;
}

.exad-countdown-banner {
  padding: 194px 0;
}

.exad-countdown-banner .exad-countdown-description {
  margin-bottom: 117px;
}


@media (max-width: 1200px) {
  .exad-countdown-description p {
    padding: 0 150px;
  }
}  

@media (max-width: 991px) {
  .exad-countdown-description p {
    padding: 0 20px;
  }
  
  .exad-coundown-bg > svg,
  .exad-countdoen-watermark {
    display: none;
  }
  
}

@media (max-width: 767px) {
  .exad-countdown .exad-countdown-container {
    width: calc((100% / 2) - 20px);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 23px 10px;
  }
  .exad-countdown .exad-countdown-container.gradient-version, .exad-countdown .exad-countdown-container.image-version, .exad-countdown .exad-countdown-container.modern {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .exad-countdown .exad-countdown-container {
    width: calc((100% / 2) - 20px);
    margin-right: 10px;
    margin-left: 10px;
  }
  .exad-countdown .exad-countdown-count {
    font-size: 40px;
  }
  .exad-countdown.exad-countdown-divider .exad-countdown-container::after {
    top: 0;
  }
  .exad-countdown.exad-countdown-divider .exad-countdown-container:nth-child(2)::after {
    display: none;
  }

}

@media (max-width: 480px) {
  .exad-countdown .exad-countdown-container {
    width: calc(100% - 20px);
  }
  .exad-countdown.exad-countdown-divider .exad-countdown-container::after {
    display: none;
  }
}

@media (max-width: 400px) {
  .exad-countdown-banner {
    padding: 97px 0;
  }
  .exad-countdown-banner .exad-countdown-description {
    margin-bottom: 58.5px;
  }
  .exad-countdown-description.two p {
    padding-right: 0px;
  }
}

/* Countdown Timer End */
