/* Counter Style Start */
.exad-counter-wrapper {
    font-family: "Roboto", sans-serif;
  }
  .exad-counter-wrapper .exad-counter-item {
    background: #7f72f6
  }
  
  .exad-counter-item.exad-counter-left {
    text-align: left;
  }
  .exad-counter-item.exad-counter-center {
    text-align: center;
  }
  .exad-counter-item.exad-counter-right {
    text-align: right;
  }
  .exad-counter-wrapper .exad-counter-item .exad-counter-icon {
    font-size: 24px;
    color: #000000;
    line-height: 0;
    display: inline-block;
  }
  .exad-counter-wrapper .exad-counter-item .exad-counter-data {
    line-height: 1;
  }
  .exad-counter-wrapper .exad-counter-item .exad-counter-content h4{
    font-size: 22px;
    margin: 0;
  }
  /* Counter Style End */