/* Image Hotspot Start */

.exad-hotspot.exad-hotspot-glow-animation .exad-hotspot-item .exad-hotspot-dot::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0;
  border-radius: 100%;
  z-index: 1;
  -webkit-animation: pulse-one 3s infinite;
          animation: pulse-one 3s infinite;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: -1;
}

.exad-hotspot.exad-hotspot-glowing-border .exad-hotspot-dot-icon{
  position: relative;
}

.exad-hotspot.exad-hotspot-glowing-border .exad-hotspot-dot-icon::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  opacity: .5;
  -webkit-animation: hotspot_pulse 2s infinite;
          animation: hotspot_pulse 2s infinite;
  transition: all .3s ease;
}

.exad-hotspot.exad-hotspot-glowing-border .exad-hotspot-dot-icon::after {
  position: absolute;
  content: '';
  top: 3px;
  left: 3px;
  height: 70%;
  width: 70%;
  border-radius: 100%;
  opacity: .5;
  -webkit-animation: hotspot_pulse 2s infinite;
          animation: hotspot_pulse 2s infinite;
  transition: all .3s ease;
}

.exad-hotspot.exad-hotspot-moving-animation .exad-hotspot-dot .exad-hotspot-dot-icon i {
  font-size: 36px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
  -webkit-animation: tag-rotate 4s infinite;
          animation: tag-rotate 4s infinite;
}

.exad-hotspot .exad-hotspot-item .exad-hotspot-dot {
  position: absolute;
  z-index: 5;
  cursor: pointer;
  transition: all .3s ease;
}

.exad-hotspot .exad-hotspot-item .exad-hotspot-dot-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.exad-hotspot .exad-hotspot-item .exad-hotspot-dot-icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.exad-hotspot.exad-hotspot-hover-scale .exad-hotspot-item .exad-hotspot-dot:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.exad-hotspot .exad-hotspot-item .exad-hotspot-dot:hover .exad-hotspot-tooltip {
  opacity: 1;
}

.exad-hotspot .exad-hotspot-item .exad-hotspot-tooltip {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
  padding: 10px 20px;
  opacity: 0;
  transition: all .3s ease;
}

.exad-hotspot .exad-hotspot-item .exad-hotspot-tooltip::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: #fff transparent transparent transparent;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.exad-hotspot .exad-hotspot-item .exad-hotspot-tooltip h6 {
  margin: 0;
}

/* Keyframe for hotspot animation */

@-webkit-keyframes hotspot_pulse {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0;
  }
}


@keyframes hotspot_pulse {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0;
  }
}

@-webkit-keyframes tag-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes tag-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes pulse-one {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse-one {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

/* Image Hotspot End */