/* Image Comparison style start */


.exad-image-comparision .exad-image-comparision-element {
  margin: auto;
  min-height: 700px;
}

.exad-image-comparision .exad-image-comparision-element img {
  width: 100%;
  height: 100%;
}

.exad-image-comparision .exad-image-comparision-element .twentytwenty-handle {
  position: relative;
  background: #fff;
  cursor: all-scroll;
}

.exad-image-comparision .exad-image-comparision-element .twentytwenty-handle .twentytwenty-left-arrow {
  position: absolute;
  border-right: none;
  margin-left: -15px;
}

.exad-image-comparision .exad-image-comparision-element .twentytwenty-handle .twentytwenty-left-arrow::before {
  position: absolute;
  content: '\f104';
  font-family: 'FontAwesome';
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #bebebe;
  font-size: 20px;
}

.exad-image-comparision .exad-image-comparision-element .twentytwenty-handle .twentytwenty-down-arrow::before {
  position: absolute;
  content: '\f107';
  font-family: 'FontAwesome';
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #bebebe;
  font-size: 20px;
  bottom: -40px;
}

.exad-image-comparision .exad-image-comparision-element .twentytwenty-handle .twentytwenty-up-arrow::before {
  position: absolute;
  content: '\f106';
  font-family: 'FontAwesome';
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #bebebe;
  font-size: 20px;
  bottom: -35px;
}

.exad-image-comparision .exad-image-comparision-element .twentytwenty-handle .twentytwenty-right-arrow {
  position: absolute;
  border-left: none;
  margin-right: -15px;
}

.exad-image-comparision .exad-image-comparision-element .twentytwenty-handle .twentytwenty-right-arrow::before {
  position: absolute;
  content: '\f105';
  font-family: 'FontAwesome';
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #bebebe;
  font-size: 20px;
}

.exad-image-comparision .exad-image-comparision-element {
  width: 100%;
  height: 700px;
  max-height: 700px;
}

.exad-image-comparision .exad-image-comparision-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exad-image-comparision .exad-image-comparision-element .twentytwenty-handle {
  cursor: ns-resize;
}

.exad-image-comparision.handle-style-2 .exad-image-comparision-element {
  width: 100%;
  height: 700px;
  max-height: 700px;
}

.exad-image-comparision.handle-style-2 .exad-image-comparision-element img {
  width: 100%;
  height: 100%;
}

.exad-image-comparision .exad-image-comparision-element.handle-style-2 .twentytwenty-handle {
  position: relative;
  cursor: all-scroll;
  background: #fff;
  height: 70px;
  width: 30px;
  border-radius: 2px;
  border: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-left: 0;
  margin-top: 0;
}

.exad-image-comparision .twentytwenty-vertical .exad-image-comparision-element.handle-style-2 .twentytwenty-handle {
  cursor: all-scroll;
  height: 30px;
  width: 70px;
}

.exad-image-comparison .twentytwenty-handle {
  cursor: all-scroll;
}

.exad-image-comparision .exad-image-comparision-element.handle-style-2 .twentytwenty-handle .twentytwenty-left-arrow {
  position: absolute;
  border-right: none;
  margin-left: -5px;
}

.exad-image-comparision .exad-image-comparision-element.handle-style-2 .twentytwenty-handle .twentytwenty-left-arrow::before {
  position: absolute;
  content: '\f0c9';
  font-family: 'FontAwesome';
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #A1A1A1;
  font-size: 20px;
}

.exad-image-comparision .exad-image-comparision-element.handle-style-2 .twentytwenty-handle .twentytwenty-down-arrow::before {
  position: absolute;
  content: '\f0c9';
  font-family: 'FontAwesome';
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
  color: #A1A1A1;
  font-size: 20px;
}

.exad-image-comparision .exad-image-comparision-element.handle-style-2 .twentytwenty-handle .twentytwenty-right-arrow, .exad-image-comparision .exad-image-comparision-element.handle-style-2 .twentytwenty-handle .twentytwenty-up-arrow {
  display: none;
}
/* Image Comparison style end */