/* Image Comparison style start */


.exad-image-comparision.one .exad-image-comparision-element {
    margin: auto;
    min-height: 700px;
  }
  
  .exad-image-comparision.one .exad-image-comparision-element img {
    width: 100%;
    height: 100%;
  }
  
  .exad-image-comparision.one .exad-image-comparision-element .twentytwenty-handle {
    position: relative;
    background: #fff;
    cursor: ew-resize;
  }
  
  .exad-image-comparision.one .exad-image-comparision-element .twentytwenty-handle .twentytwenty-left-arrow {
    position: absolute;
    border-right: none;
    margin-left: -15px;
  }
  
  .exad-image-comparision.one .exad-image-comparision-element .twentytwenty-handle .twentytwenty-left-arrow::before {
    position: absolute;
    content: '\f104';
    font-family: 'FontAwesome';
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #bebebe;
    font-size: 20px;
  }
  
  .exad-image-comparision.one .exad-image-comparision-element .twentytwenty-handle .twentytwenty-down-arrow::before {
    position: absolute;
    content: '\f104';
    font-family: 'FontAwesome';
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #bebebe;
    font-size: 20px;
  }
  
  .exad-image-comparision.one .exad-image-comparision-element .twentytwenty-handle .twentytwenty-right-arrow {
    position: absolute;
    border-left: none;
    margin-right: -15px;
  }
  
  .exad-image-comparision.one .exad-image-comparision-element .twentytwenty-handle .twentytwenty-right-arrow::before {
    position: absolute;
    content: '\f105';
    font-family: 'FontAwesome';
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #bebebe;
    font-size: 20px;
  }
  
  .exad-image-comparision.two .exad-image-comparision-element {
    width: 100%;
    height: 700px;
    max-height: 700px;
  }
  
  .exad-image-comparision.two .exad-image-comparision-element img {
    width: 100%;
    height: 100%;
  }
  
  .exad-image-comparision.two .exad-image-comparision-element .twentytwenty-handle {
    cursor: ns-resize;
  }
  
  .exad-image-comparision.three .exad-image-comparision-element {
    width: 100%;
    height: 700px;
    max-height: 700px;
  }
  
  .exad-image-comparision.three .exad-image-comparision-element img {
    width: 100%;
    height: 100%;
  }
  
  .exad-image-comparision.three .exad-image-comparision-element .twentytwenty-handle {
    position: relative;
    cursor: ew-resize;
    background: #fff;
    height: 70px;
    width: 30px;
    border-radius: 2px;
    border: none;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
  }
  
  .exad-image-comparision.three .exad-image-comparision-element .twentytwenty-handle::before {
    margin: 0;
    bottom: 100%;
    width: 2px;
  }
  
  .exad-image-comparision.three .exad-image-comparision-element .twentytwenty-handle::after {
    margin: 0;
    top: 100%;
    width: 2px;
  }
  
  .exad-image-comparision.three .exad-image-comparision-element .twentytwenty-handle .twentytwenty-left-arrow {
    position: absolute;
    border-right: none;
    margin-left: -5px;
  }
  
  .exad-image-comparision.three .exad-image-comparision-element .twentytwenty-handle .twentytwenty-left-arrow::before {
    position: absolute;
    content: '\f0c9';
    font-family: 'FontAwesome';
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #A1A1A1;
    font-size: 20px;
  }
  
  .exad-image-comparision.three .exad-image-comparision-element .twentytwenty-handle .twentytwenty-right-arrow {
    display: none;
  }
  /* Image Comparison style end */