/* InfoBox Start */

.exad-infobox-align-left {
  text-align: left;
}
.exad-infobox-align-center {
  text-align: center;
}
.exad-infobox-align-right {
  text-align: right;
}
.exad-infobox-align-left .exad-infobox-icon {
  margin-right: auto;
}
.exad-infobox-align-center .exad-infobox-icon {
  margin: 0 auto;
}
.exad-infobox-align-right .exad-infobox-icon {
  margin-left: auto;
}

.exad-infobox-item{
  position: relative;
}

.simple-transition:hover{
  transform: translateY(-10px);
}
.simple-transition{
  transform: translateY(0px);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.zoom-transition{
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 1;
}

.zoom-transition::before {
  content: '';
  position: absolute;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.zoom-transition:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.exad-infobox.one .exad-infobox-item {
  padding: 30px;
  transition: all 0.3s ease;
}

.exad-infobox.one .exad-infobox-item .exad-infobox-icon {
  height: 90px;
  width: 90px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 22px 59px 0px rgba(18, 34, 66, 0.2);
  position: relative;
  z-index: 1;
  transition: all .3s ease;
}

.exad-infobox.one .exad-infobox-item .exad-infobox-icon::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  transition: .3s ease;
}

.exad-infobox.one .exad-infobox-item .exad-infobox-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: all .3s ease;
}

.exad-infobox.one .exad-infobox-item .exad-infobox-icon img, .exad-infobox.two .exad-infobox-item .exad-infobox-icon img, .exad-infobox.four .exad-infobox-item .exad-infobox-icon img, .exad-infobox.five .exad-infobox-item .exad-infobox-icon img {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.exad-infobox-content-title {
  font-size: 24px;
  line-height: 1.5;
  margin: 0 0 10px 0;
}
.exad-infobox-content-description {
  font-size: 16px;
  margin: 10px auto;
}

.exad-infobox.one .exad-infobox-item .exad-infobox-content .exad-infobox-content-description {
  line-height: 1.5;
}

.exad-infobox.one .exad-infobox-item:hover .exad-infobox-icon::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.exad-infobox.four .exad-infobox-item {
  display: flex;
  align-items: center;
  transition: .3s ease;
}

.exad-infobox.four .exad-infobox-item .exad-infobox-icon {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;
  transition: .3s ease;
}

.exad-infobox.four .exad-infobox-item .exad-infobox-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}

.exad-infobox.four .exad-infobox-item .exad-infobox-content {
  flex-basis: calc(100% - 100px);
  margin-left: 15px;
}

.exad-infobox.four .exad-infobox-item .exad-infobox-content .exad-infobox-content-title {
  margin: 0;
}

.exad-infobox.four .exad-infobox-item .exad-infobox-content .exad-infobox-content-description {
  margin: 0;
}

.exad-infobox.four .exad-infobox-item:hover .exad-infobox-icon {
  background: #fff;
  border: 1px solid #826EFF;
}

.exad-infobox.four .exad-infobox-item:hover .exad-infobox-icon i {
  color: #826EFF;
}

/* InfoBox End */