/* Logo Carousel Style Start */

.exad-logo-carousel .slick-dots {
  width: auto;
  display: table;
  margin: 0 auto;
  padding: 0;
  position: absolute;
}

.exad-logo-carousel .slick-dots li {
  list-style: none;
  display: inline-block;
  padding: inherit;
  outline: none;
  border: 0;
}

.exad-logo-carousel .slick-dots li button {
  padding: inherit;
  outline: none;
  border: 0;
  text-indent: -9999px;
}

.exad-logo-carousel-element .exad-logo-carousel-prev, 
.exad-logo-carousel-element .exad-logo-carousel-next {
  position: absolute;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease;
}

.exad-logo-carousel-element .exad-logo-carousel-prev i, .exad-logo-carousel-element .exad-logo-carousel-next i {
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.exad-logo-carousel-element .exad-logo-carousel-prev:hover, 
.exad-logo-carousel-element .exad-logo-carousel-next:hover {
  background: #fff;
}

.exad-logo-carousel-element .exad-logo-carousel-prev:hover i, 
.exad-logo-carousel-element .exad-logo-carousel-next:hover i {
  color: #000000;
}

.exad-logo-carousel-element .exad-logo-carousel-prev {
  z-index: 1;
  top: 50%;
  left: -80px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.exad-logo-carousel-element .exad-logo-carousel-next {
  z-index: 1;
  top: 50%;
  right: -80px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
} 

.exad-logo-carousel .slick-dots {
  width: auto;
  display: table;
  margin: 0 auto;
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* Logo Carousel Style End */