/* Logo Box style start */

.exad-logo-box .exad-logo-item {
  position: relative;
  border-radius: 2px;
  transition: all .3s ease;
  cursor: pointer;
  text-align: center;
}
.exad-logo-box.exad-logo-left .exad-logo-item {
  text-align: left;
}
.exad-logo-box.exad-logo-left .exad-logo-item.exad-logo-item-max-height-yes {
  justify-content: flex-start;
}
.exad-logo-box.exad-logo-center .exad-logo-item {
  text-align: center;
}
.exad-logo-box.exad-logo-center .exad-logo-item.exad-logo-item-max-height-yes {
  justify-content: center;
}
.exad-logo-box.exad-logo-right .exad-logo-item {
  text-align: right;
}
.exad-logo-box.exad-logo-right .exad-logo-item.exad-logo-item-max-height-yes {
  justify-content: flex-end;
}

.exad-logo-box .exad-logo-item img {
  vertical-align: middle;
}

.exad-logo-item.exad-logo-item-max-height-yes{
  display: flex;
  align-items: center;
}

/* Logo Box style end */