/* Exclusive Heading Start */
.exad-exclusive-heading .exad-exclusive-heading-title a {
  text-decoration: none;
  display: inline-block;
}
.exad-exclusive-heading .exad-exclusive-heading-title {
  margin: 0 auto;
}

.exad-exclusive-heading .exad-exclusive-heading-description {
  line-height: 26px;
  margin: 0;
}

/* .exad-exclusive-heading .exad-heading-left {
  text-align: left;
}
.exad-heading-left .exad-heading-separator{
  margin-right: auto;
}
.exad-heading-left .exad-heading-icon{
  margin-right: auto;
}
.exad-heading-left .exad-heading-icon-box-yes .exad-heading-icon{
  margin-right: auto;
} */
/* .exad-heading-right .exad-heading-icon-box-yes .exad-heading-icon{
  margin-left: auto;
} */
/* .exad-heading-center .exad-heading-icon-box-yes .exad-heading-icon{
  margin-left: auto;
  margin-right: auto;
}
.exad-exclusive-heading .exad-heading-center {
  text-align: center;
}
.exad-heading-center .exad-heading-separator{
  margin-left: auto;
  margin-right: auto;
}
.exad-heading-center .exad-heading-icon{
  margin-left: auto;
  margin-right: auto;
} */
/* .exad-exclusive-heading .exad-heading-right {
  text-align: right;
}
.exad-heading-right .exad-heading-separator{
  margin-left: auto;
}
.exad-heading-right .exad-heading-icon{
  margin-left: auto;
} */

.exad-heading-icon-box-yes .exad-heading-icon{
  position: relative;
}

.exad-heading-icon-box-yes .exad-heading-icon i,
.exad-heading-icon-box-yes .exad-heading-icon svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.exad-exclusive-heading.parallax .exad-exclusive-heading-wrapper .exad-exclusive-heading-title {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.exad-exclusive-heading.separator .exad-exclusive-heading-wrapper .exad-exclusive-heading-title {
  position: relative;
}

.exad-heading-text-background .exad-exclusive-heading-title {
  position: relative;
  z-index: 1;
}

.exad-heading-text-background .exad-exclusive-heading-title::after {
  position: absolute;
  content: attr(data-content);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
  letter-spacing: 3px;
  line-height: 50px;
}

.exad-heading-image-gradient .exad-exclusive-heading-title {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.exad-heading-icon{
  display: inline-block;
}

/* Exclusive Heading End */