/* Modal Style Start */

/* modal popup button*/

.exad-modal-button .exad-modal-image-action {
  display: inline-block;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  transition: all .3s ease;
  font-family: "Roboto", sans-serif;
  position: relative;
  border: 1px solid #23a455;
  text-align: center;
  z-index: 1;
  background: #23a455;
}

.exad-modal-button .exad-modal-image-action::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  transition: all .3s ease;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.exad-modal-button .exad-modal-image-action:hover span {
  color: #000000;
}

.exad-modal-button .exad-modal-image-action:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

/* modal popup button*/
.exad-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.exad-modal-overlay.active {
  opacity: 1;
  z-index: 1000;
}

.exad-modal-item {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.exad-modal-item.modal-vimeo {
  opacity: 0;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  height: auto;
  transition: all .3s ease;
}

.exad-modal-item.modal-vimeo .exad-modal-content {
  position: relative;
}

.exad-modal-item.modal-vimeo .exad-modal-content .exad-close-btn {
  position: absolute;
  top: -30px;
  right: -20px;
  cursor: pointer;
}

.exad-modal-item.modal-vimeo .exad-modal-content .exad-close-btn span {
  display: block;
  font-size: 20px;
  color: #D6D6D6;
}

.exad-modal-item.youtube-modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  height: auto;
  transition: all .3s ease;
}

.exad-modal-item.youtube-modal .exad-modal-content {
  position: relative;
}

.exad-modal-item.image-modal {
  opacity: 0;
  transition: all .3s ease;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
}

.exad-modal-item.image-modal .exad-modal-content .exad-modal-element img {
  height: 100%;
  width: 100%;
}

.exad-modal-item.external-page-modal {
  opacity: 0;
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
  transition: all .3s ease;
}

.exad-modal-item.image-gallery-modal {
  width: 50%;
  height: auto;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  transition: all .3s ease;
}

.exad-modal-item.image-gallery-modal .exad-modal-content {
  background: #fff;
}

.exad-modal-item.image-gallery-modal .exad-modal-content .exad-modal-element {
  padding: 15px;
  position: relative;
}

.exad-modal-item.image-gallery-modal .exad-modal-content .exad-modal-element img {
  width: 33%;
  padding: 15px;
}

.exad-modal-item.content-only-modal {
  width: 40%;
  height: auto;
  opacity: 0;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  transition: all .3s ease;
}

.exad-modal-item.content-only-modal .exad-modal-content {
  position: relative;
  display: none;
}

.exad-modal-item.content-only-modal .exad-modal-content .exad-modal-element {
  background: #fff;
  box-shadow: 0px 55px 90px 0px rgba(0, 0, 0, 0.31);
  padding: 50px;
}

.exad-modal-item.content-only-modal .exad-modal-content .exad-modal-element h2 {
  font-family: "Roboto", sans-serif;
  color: #1b1b1b;
  font-size: 40px;
  margin: 0;
}

.exad-modal-item.content-only-modal .exad-modal-content .exad-modal-element p {
  font-family: "Roboto", sans-serif;
  color: #1b1b1b;
  margin: 25px 0 0 0;
  font-size: 15px;
}

.exad-modal-item.content-modal {
  width: 40%;
  height: auto;
  opacity: 0;
  transition: all .3s ease;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.exad-modal-item.content-modal .exad-modal-content {
  background: #fff;
  box-shadow: 0px 55px 90px 0px rgba(0, 0, 0, 0.31);
  position: relative;
  display: none;
}

.exad-modal-item.content-modal .exad-modal-content .exad-modal-element {
  text-align: center;
}

.exad-modal-item.content-modal .exad-modal-content .exad-modal-element .exad-modal-element-top {
  background: #2ED8E3;
  padding: 40px;
}

.exad-modal-item.content-modal .exad-modal-content .exad-modal-element .exad-modal-element-top h3 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
}

.exad-modal-item.content-modal .exad-modal-content .exad-modal-element .exad-modal-element-top .exad-modal-element-top-icon {
  height: 130px;
  width: 130px;
  background: #6BE3EB;
  display: block;
  margin: 60px auto 0 auto;
  border-radius: 100%;
  position: relative;
}

.exad-modal-item.content-modal .exad-modal-content .exad-modal-element .exad-modal-element-top .exad-modal-element-top-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.exad-modal-item.content-modal .exad-modal-content .exad-modal-element .exad-modal-element-top .exad-modal-element-top-icon svg path {
  fill: #fff;
}

.exad-modal-item.content-modal .exad-modal-content .exad-modal-element .exad-modal-element-bottom {
  padding: 40px 80px;
}

.exad-modal-item.content-modal .exad-modal-content .exad-modal-element .exad-modal-element-bottom h4 {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 25px;
  margin: 0;
}

.exad-modal-item.content-modal .exad-modal-content .exad-modal-element .exad-modal-element-bottom p {
  font-family: "Roboto", sans-serif;
  color: #222222;
  font-size: 15px;
  margin: 30px 0;
}

.exad-modal-item.content-modal .exad-modal-content .exad-modal-element .exad-modal-element-bottom a {
  display: inline-block;
  padding: 20px 50px;
  border-radius: 40px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(0deg, #ffb561 0%, #ff983f 100%);
  box-shadow: 0px 21px 35px 0px rgba(255, 172, 87, 0.49);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  transition: all .3s ease;
  border: 1px solid transparent;
}

.exad-modal-item.content-modal .exad-modal-content .exad-modal-element .exad-modal-element-bottom a:hover {
  background: #fff;
  color: #ffb561;
  border: 1px solid #ffb561;
}

.exad-modal-item.image-content-modal {
  width: 35%;
  display: none;
  transition: all .3s ease;
}

.exad-modal-item.image-content-modal .exad-modal-content {
  background: #fff;
  box-shadow: 0px 55px 90px 0px rgba(0, 0, 0, 0.31);
}

.exad-modal-item.image-content-modal .exad-modal-content .exad-modal-element {
  position: relative;
}

.exad-modal-item.image-content-modal .exad-modal-content .exad-modal-element img {
  width: 100%;
  z-index: -1;
}

.exad-modal-item.image-content-modal .exad-modal-content .exad-modal-element .exad-modal-element-body {
  padding: 40px 50px;
  display: none;
}

.exad-modal-item.image-content-modal .exad-modal-content .exad-modal-element .exad-modal-element-body h2 {
  font-family: "Roboto", sans-serif;
  color: #1b1b1b;
  font-size: 40px;
  margin: 0;
}

.exad-modal-item.image-content-modal .exad-modal-content .exad-modal-element .exad-modal-element-body p {
  font-family: "Roboto", sans-serif;
  color: #1b1b1b;
  margin: 25px 0 0 0;
  font-size: 15px;
}

.exad-modal-item.gallery-text-modal {
  width: 50%;
  height: auto;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  transition: all .3s ease;
}

.exad-modal-item.gallery-text-modal .exad-modal-content {
  background: #fff;
  box-shadow: 0px 18px 43px 0px rgba(0, 0, 0, 0.36);
  display: none;
  transition: all .3s ease;
}

.exad-modal-item .exad-modal-content .exad-modal-element {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.exad-modal-item .exad-modal-content .exad-modal-element .exad-modal-element-card {
  width: 33%;
  padding: 15px;
}

.exad-modal-item .exad-modal-content .exad-modal-element .exad-modal-element-card img {
  width: 100%;
}

.exad-modal-item .exad-modal-content .exad-modal-element .exad-modal-element-card .exad-modal-element-card-body {
  padding: 20px 0 0 0;
}

.exad-modal-item .exad-modal-content .exad-modal-element .exad-modal-element-card .exad-modal-element-card-body h5 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 20px;
}

.exad-modal-item .exad-modal-content .exad-modal-element .exad-modal-element-card .exad-modal-element-card-body p {
  font-family: "Roboto", sans-serif;
  color: #222222;
  font-size: 15px;
  margin: 10px 0 0 0;
  line-height: 26px;
}

.exad-modal-item.saved-section-modal {
  width: 60%;
  height: auto;
  opacity: 0;
  transition: all .3s ease;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
}

.exad-modal-item.saved-section-modal .exad-modal-content {
  background: #25decf;
  box-shadow: 0px 55px 90px 0px rgba(0, 0, 0, 0.31);
  position: relative;
  display: none;
}

.exad-modal-item.saved-section-modal .exad-modal-content .exad-modal-element {
  display: flex;
  align-items: center;
  padding: 50px 80px;
}

.exad-modal-item.saved-section-modal .exad-modal-content .exad-modal-element .exad-modal-element-body {
  margin-left: 100px;
}

.exad-modal-item.saved-section-modal .exad-modal-content .exad-modal-element .exad-modal-element-body h2 {
  color: #fff;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0;
}

.exad-modal-item.saved-section-modal .exad-modal-content .exad-modal-element .exad-modal-element-body p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 26px;
  margin: 20px 0;
  font-weight: 300;
}

.exad-modal-item.saved-section-modal .exad-modal-content .exad-modal-element .exad-modal-element-body ul {
  margin: 0;
  padding: 0;
}

.exad-modal-item.saved-section-modal .exad-modal-content .exad-modal-element .exad-modal-element-body ul li {
  list-style: none;
  float: left;
}

.exad-modal-item.saved-section-modal .exad-modal-content .exad-modal-element .exad-modal-element-body ul li a {
  padding: 30px 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  border-radius: 15px;
  transition: all .3s ease;
  border: 1px solid transparent;
}

.exad-modal-item.saved-section-modal .exad-modal-content .exad-modal-element .exad-modal-element-body ul li:nth-child(1) {
  margin-right: 20px;
}

.exad-modal-item.saved-section-modal .exad-modal-content .exad-modal-element .exad-modal-element-body ul li:nth-child(1) a {
  background: linear-gradient(90deg, #724cff 0%, #8868fe 100%);
  box-shadow: 0px 30px 35px 0px rgba(114, 76, 255, 0.2);
}

.exad-modal-item.saved-section-modal .exad-modal-content .exad-modal-element .exad-modal-element-body ul li:nth-child(1) a:hover {
  background: transparent;
  border: 1px solid #724cff;
  color: #724cff;
}

.exad-modal-item.saved-section-modal .exad-modal-content .exad-modal-element .exad-modal-element-body ul li:nth-child(2) a {
  background: linear-gradient(90deg, #ff704e 0%, #fb5d86 100%);
  box-shadow: 0px 30px 35px 0px rgba(253, 100, 112, 0.2);
}

.exad-modal-item.saved-section-modal .exad-modal-content .exad-modal-element .exad-modal-element-body ul li:nth-child(2) a:hover {
  background: transparent;
  border: 1px solid #fb5d86;
  color: #fb5d86;
}

.exad-modal-item.saved-widget-modal {
  width: 40%;
  height: auto;
  opacity: 0;
  transition: all .3s ease;
  -webkit-transform: translate(-10%, -50%);
          transform: translate(-10%, -50%);
}

.exad-modal-item.saved-widget-modal .exad-modal-content {
  position: relative;
  display: none;
}

.exad-modal-item.saved-widget-modal .exad-modal-content .exad-modal-element {
  background: #fff;
  box-shadow: 0px 55px 90px 0px rgba(0, 0, 0, 0.31);
  padding: 40px 50px;
}

.exad-modal-item.saved-widget-modal .exad-modal-content .exad-modal-element .exad-modal-element-body .exad-contact-form-title {
  display: block;
  margin-bottom: 30px;
  font-size: 30px;
  color: #1b1b1b;
  font-family: "Roboto", sans-serif;
}

.exad-modal-item.saved-widget-modal .exad-modal-content .exad-modal-element .exad-modal-element-body .exad-contact-form-input-group {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.exad-modal-item.saved-widget-modal .exad-modal-content .exad-modal-element .exad-modal-element-body .exad-contact-form-input-group .input {
  width: 100%;
  height: 50px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #cccccc;
}

.exad-modal-item.saved-widget-modal .exad-modal-content .exad-modal-element .exad-modal-element-body .exad-contact-form-input-group .input:focus {
  outline: 0;
}

.exad-modal-item.saved-widget-modal .exad-modal-content .exad-modal-element .exad-modal-element-body .exad-contact-form-input-group textarea.input {
  height: auto;
}

.exad-modal-item.saved-widget-modal .exad-modal-content .exad-modal-element .exad-modal-element-body .exad-contact-form-input-action {
  background: #ff9c44;
  padding: 20px 70px;
  box-shadow: 0px 21px 35px 0px rgba(255, 172, 87, 0.2);
  color: #fff;
  text-decoration: none;
  margin-top: 30px;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: all .3s ease;
  display: inline-block;
}

.exad-modal-item.saved-widget-modal .exad-modal-content .exad-modal-element .exad-modal-element-body .exad-contact-form-input-action i {
  margin-left: 10px;
}

.exad-modal-item.saved-widget-modal .exad-modal-content .exad-modal-element .exad-modal-element-body .exad-contact-form-input-action:hover {
  color: #ff9c44;
  background: #fff;
  border: 1px solid #ff9c44;
}

.exad-modal-item.normal-image-modal {
  width: 50%;
  height: auto;
  opacity: 0;
  transition: all .3s ease;
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.exad-modal-item.normal-image-modal .exad-modal-content {
  box-shadow: 0px 55px 90px 0px rgba(0, 0, 0, 0.31);
  display: none;
  transition: all .3s ease;
}

.exad-modal-item.normal-image-modal .exad-modal-content .exad-modal-element img {
  width: 100%;
  height: 100%;
}

.exad-modal-item.image-border-modal {
  width: 50%;
  height: auto;
  opacity: 0;
  transition: all .8s ease;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg);
          transform: translate(-50%, -50%) rotateX(90deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.exad-modal-item.image-border-modal .exad-modal-content {
  box-shadow: 0px 55px 90px 0px rgba(0, 0, 0, 0.31);
  display: none;
  transition: all .3s ease;
}

.exad-modal-item.image-border-modal .exad-modal-content .exad-modal-element {
  border: 10px solid #fff;
}

.exad-modal-item.image-border-modal .exad-modal-content .exad-modal-element img {
  width: 100%;
  height: 100%;
}

.exad-modal-item.custome-background-modal {
  background: #A394FF;
  width: 100%;
  height: 100%;
  transition: all .3s ease;
  display: none;
}

.exad-modal-item.custome-background-modal .exad-modal-content {
  opacity: 0;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  box-shadow: 0px 55px 90px 0px rgba(0, 0, 0, 0.31);
  transition: all .8s ease;
}

.exad-modal-item.custome-background-modal .exad-modal-content .exad-modal-element {
  border: 10px solid #fff;
}

.exad-modal-item.custome-background-modal .exad-modal-content .exad-modal-element img {
  width: 100%;
  height: 100%;
}

.exad-modal-item.no-overlay-modal {
  width: 50%;
  height: auto;
  opacity: 0;
  transition: all .8s ease;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-transform: translate(-50%, -50%) rotateY(90deg);
          transform: translate(-50%, -50%) rotateY(90deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.exad-modal-item.no-overlay-modal .exad-modal-content {
  box-shadow: 0px 55px 90px 0px rgba(0, 0, 0, 0.31);
  display: none;
  transition: all .3s ease;
}

.exad-modal-item.no-overlay-modal .exad-modal-content .exad-modal-element {
  border: 10px solid #fff;
}

.exad-modal-item.no-overlay-modal .exad-modal-content .exad-modal-element img {
  width: 100%;
  height: 100%;
}


.exad-modal-item.active.modal-vimeo {
  opacity: 1;
  z-index: 2000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.exad-modal-item.active.youtube-modal {
  opacity: 1;
  z-index: 2000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.exad-modal-item.active.image-modal {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2000;
}

.exad-modal-item.active.external-page-modal {
  z-index: 2000;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.exad-modal-item.active.image-gallery-modal {
  z-index: 2000;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.exad-modal-item.active.content-only-modal {
  opacity: 1;
  z-index: 2000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.exad-modal-item.active.content-only-modal .exad-modal-content {
  display: block;
}

.exad-modal-item.active.content-modal {
  opacity: 1;
  z-index: 2000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.exad-modal-item.active.content-modal .exad-modal-content {
  display: block;
}

.exad-modal-item.active.image-content-modal {
  opacity: 1;
  z-index: 2000;
  display: block;
}

.exad-modal-item.active.image-content-modal .exad-modal-content .exad-modal-element .exad-modal-element-body {
  display: block;
}

.exad-modal-item.active.gallery-text-modal {
  opacity: 1;
  z-index: 2000;
  display: block;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.exad-modal-item.active.gallery-text-modal .exad-modal-content {
  display: block;
  transition: all .3s ease;
}

.exad-modal-item.active.saved-section-modal {
  opacity: 1;
  z-index: 2000;
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.exad-modal-item.active.saved-section-modal .exad-modal-content {
  display: block;
  transition: all .3s ease;
}

.exad-modal-item.active.saved-widget-modal {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2000;
}

.exad-modal-item.active.saved-widget-modal .exad-modal-content {
  display: block;
}

.exad-modal-item.active.normal-image-modal {
  opacity: 1;
  z-index: 2000;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.exad-modal-item.active.normal-image-modal .exad-modal-content {
  display: block;
}

.exad-modal-item.active.image-border-modal {
  opacity: 1;
  z-index: 2000;
  -webkit-transform: translate(-50%, -50%) rotateX(0);
          transform: translate(-50%, -50%) rotateX(0);
}

.exad-modal-item.active.image-border-modal .exad-modal-content {
  display: block;
}

.exad-modal-item.active.custome-background-modal {
  z-index: 2000;
  display: block;
}

.exad-modal-item.active.custome-background-modal .exad-modal-content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotateY(0);
          transform: translate(-50%, -50%) rotateY(0);
}

.exad-modal-item.active.no-overlay-modal {
  opacity: 1;
  z-index: 2000;
  -webkit-transform: translate(-50%, -50%) rotateY(0);
          transform: translate(-50%, -50%) rotateY(0);
}

.exad-modal-item.active.no-overlay-modal .exad-modal-content {
  display: block;
}

.exad-modal-item .exad-modal-content .exad-modal-element iframe{
  display: block;
}
.exad-modal-item .exad-modal-content .exad-modal-element img{
  display: block;
}

.exad-modal-item .exad-modal-content .exad-modal-element .exad-modal-element-body {
  background: #fff;
  box-shadow: 0px 55px 90px 0px rgba(0, 0, 0, 0.31);
  padding: 30px;
}

.exad-modal-item .exad-modal-content .exad-modal-element .exad-modal-element-body p {
  font-family: "Roboto", sans-serif;
  color: #1b1b1b;
  margin: 0;
  font-size: 15px;
}

/* Modal Style End */