
/* Modal popup button*/

  .exad-modal-button .exad-modal-image-action {
    display: inline-block;
    text-decoration: none;
    transition: all .3s ease;
    position: relative;
    text-align: center;
    z-index: 1;
    overflow: hidden;
  }

  .exad-modal-button .exad-modal-image-action:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }

  .exad-modal-button .exad-modal-image-action:hover::before {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    z-index: -1;
  }

  .top-to-middle {
	-webkit-transform: translate(-50%, -60%);
			transform: translate(-50%, -60%);
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
  }

  .exad-modal-item.modal-vimeo.bottom-to-middle {
	-webkit-transform: translate(-50%, -30%);
			transform: translate(-50%, -30%);
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
  }

  .exad-modal-item.active.modal-vimeo.bottom-to-middle {
	z-index: 9999;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
  }

  .exad-modal-item.modal-vimeo.right-to-middle {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: translate(-30%, -50%);
			transform: translate(-30%, -50%);
  }

  .exad-modal-item.active.modal-vimeo.right-to-middle {
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	z-index: 9999;
  }

  .exad-modal-item.modal-vimeo.left-to-middle {
	-webkit-transform: translate(-70%, -50%);
			transform: translate(-70%, -50%);
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
  }

  .exad-modal-item.active.modal-vimeo.left-to-middle {
	z-index: 9999;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
  }

  .exad-modal-item.modal-vimeo.zoom-in {
	-webkit-transform: translate(-50%, -50%) scale(0.5);
			transform: translate(-50%, -50%) scale(0.5);
	-webkit-transform-origin: center center;
			transform-origin: center center;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
  }

  .exad-modal-item.active.modal-vimeo.zoom-in {
	z-index: 9999;
	-webkit-transform: translate(-50%, -50%) scale(1);
			transform: translate(-50%, -50%) scale(1);
  }

  .exad-modal-item.modal-vimeo.zoom-out {
	-webkit-transform: translate(-50%, -50%) scale(1.5);
			transform: translate(-50%, -50%) scale(1.5);
	-webkit-transform-origin: center center;
			transform-origin: center center;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
  }

  .exad-modal-item.active.modal-vimeo.zoom-out {
	z-index: 9999;
	display: block;
	-webkit-transform: translate(-50%, -50%) scale(1);
			transform: translate(-50%, -50%) scale(1);
  }

  .exad-modal-item.modal-vimeo.left-rotate {
	opacity: 0;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
	-webkit-perspective: 1000;
			perspective: 1000;
	-webkit-transform: translate(-50%, -50%) rotateX(90deg);
			transform: translate(-50%, -50%) rotateX(90deg);
	-webkit-transform-origin: center center;
			transform-origin: center center;
  }

  .exad-modal-item.active.modal-vimeo.left-rotate {
	opacity: 1;
	z-index: 9999;
	-webkit-transform: translate(-50%, -50%) rotateX(0);
			transform: translate(-50%, -50%) rotateX(0);
  }

  .exad-modal-item.modal-vimeo .exad-modal-content .exad-close-btn {
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  
  .exad-modal-item.modal-vimeo .exad-modal-content .exad-close-btn span {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .exad-modal-item.modal-vimeo .exad-modal-content .exad-close-btn span::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #fff;
    transform: translate(-50%,-50%) rotate(45deg);
    top: 50%;
    left: 50%;
  }
  .exad-modal-item.modal-vimeo .exad-modal-content .exad-close-btn span::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 2px;
    background: #fff;
    transform: translate(-50%,-50%) rotate(45deg);
    top: 50%;
    left: 50%;
  }

  .exad-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    display: none;
}

.exad-modal-overlay.active {
	opacity: 1;
    z-index: 1000;
    display: block;
	transition: all 0.3s ease;
  }

  .exad-modal-item.image-gallery .exad-modal-element {
  display: flex;
  flex-wrap: wrap;
  }
  .exad-modal-item.image-gallery .exad-modal-element.column-one .exad-modal-element-card {
    width: 100%;
  }
  .exad-modal-item.image-gallery .exad-modal-element.column-two .exad-modal-element-card {
    width: 50%;
  }
  .exad-modal-item.image-gallery .exad-modal-element.column-three .exad-modal-element-card {
    width: 33.33%;
  }
  .exad-modal-item.image-gallery .exad-modal-element.column-four .exad-modal-element-card {
    width: 25%;
  }
  .exad-modal-item.image-gallery .exad-modal-element.column-five .exad-modal-element-card {
    width: 20%;
  }
  .exad-modal-item.image-gallery .exad-modal-element.column-six .exad-modal-element-card {
    width: 16.66%;
  }
  
  .exad-modal-item {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
  }
  
  .exad-modal-item.modal-vimeo {
	opacity: 0;
	-webkit-transform: translate(-50%, -60%);
			transform: translate(-50%, -60%);
	height: auto;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	visibility: hidden;
  }

  @media (max-width: 991px){
    .exad-modal-item.modal-vimeo {
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .exad-modal-item.modal-vimeo::-webkit-scrollbar {
      display: none;
    }
  }

  .exad-modal-item.modal-vimeo .exad-modal-content .exad-modal-element img{
    display: block;
    width: 100%;
  }

  .exad-modal-item.modal-vimeo .exad-modal-content .exad-modal-element .exad-modal-element-card .exad-modal-element-card-body p{
    margin: 0;
  }

  .exad-modal-item.modal-vimeo .exad-modal-content .exad-modal-element .exad-modal-element-card img{
    display: block;
    width: 100%;
  }
  
  .exad-modal-item.modal-vimeo .exad-modal-content {
	position: relative;
  }

  .exad-modal-item .exad-modal-content .exad-modal-element iframe{
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .exad-modal-item.active.modal-vimeo {
	opacity: 1;
	z-index: 2000;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	visibility: visible;
  }

  .exad-modal-button.exad-modal-btn-fixed-width-yes .exad-modal-image-action{
    position: relative;
  }
  .exad-modal-button.exad-modal-btn-fixed-width-yes .exad-modal-image-action span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  /* Modal Style End */

