/* Post Timeline Start */

.exad-post-timeline {
  margin-bottom: 35px;
}

.exad-post-timeline .exad-post-timeline-item {
display: flex;
align-items: center;
position: relative;
}

.exad-post-timeline .exad-post-timeline-item::before {
position: absolute;
content: '';
background: #e3e5e8;
width: 3px;
height: calc( 100% + 100px);
left: 50%;
-webkit-transform: translateX(-50%);
        transform: translateX(-50%);
top: 0;
}

.exad-post-timeline .exad-post-timeline-item:not(:last-child) {
margin-bottom: 100px;
}

.exad-post-timeline .exad-post-timeline-item:last-child::before {
height: 100%;
}

.exad-post-timeline .exad-post-timeline-item .exad-post-timeline-icon {
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
height: 60px;
width: 60px;
text-align: center;
border-radius: 50%;
z-index: 1;
}

.exad-post-timeline .exad-post-timeline-item .exad-post-timeline-icon i {
font-size: 24px;
line-height: 60px;
color: #D1C1FF;
}

.exad-post-timeline .exad-post-timeline-item .exad-post-timeline-icon::before {
position: absolute;
content: '';
width: 60px;
height: 2px;
background: transparent;
border: 1px dashed #e3e3e3;
top: 30px;
left: -70px;
}

.exad-post-timeline .exad-post-timeline-item .exad-post-timeline-icon::after {
position: absolute;
content: '';
width: 60px;
background: transparent;
border: 1px dashed #e3e3e3;
top: 30px;
right: -70px;
}

.exad-post-timeline .exad-post-timeline-item .exad-post-timeline-content {
flex-basis: 35%;
overflow: hidden;
}

.exad-post-timeline .exad-post-timeline-item .exad-post-timeline-content img {
width: 100%;
}

.exad-post-timeline .exad-post-timeline-item .exad-post-timeline-date {
  flex-basis: 20%;
}

.exad-post-timeline .exad-post-timeline-item .exad-post-timeline-date h4 {
font-size: 20px;
margin: 6px auto;
}

.exad-post-timeline .exad-post-timeline-item .exad-post-timeline-date p {
font-size: 15px;
margin: 0;
color: #8a8d91;
}

.exad-post-timeline .exad-post-timeline-item .exad-post-timeline-content-text {
padding: 25px 30px;
}

.exad-post-timeline .exad-post-timeline-item .exad-post-timeline-content-text h4 {
font-size: 20px;
}

.exad-post-timeline .exad-post-timeline-item .exad-post-timeline-content-text p {
color: #8a8d91;
margin-bottom: 0;
font-size: 15px;
line-height: 24px;
}

.exad-post-timeline .exad-post-timeline-item:nth-child(odd) .exad-post-timeline-content {
position: relative;
}

.exad-post-timeline .exad-post-timeline-item:nth-child(odd) .exad-post-timeline-date {
margin-left: 30%;
}

.exad-post-timeline .exad-post-timeline-item:nth-child(even) .exad-post-timeline-content {
order: 2;
margin-left: 30%;
}

.exad-post-timeline .exad-post-timeline-item:nth-child(even) .exad-post-timeline-date {
order: 1;
margin-left: 15%;
text-align: right;
}
@media only screen and (max-width: 1350px){
  .exad-post-timeline .exad-post-timeline-item .exad-post-timeline-icon::before {
    width: 40px;
    left: -50px;
  }
  .exad-post-timeline .exad-post-timeline-item .exad-post-timeline-icon::after {
    width: 40px;
    right: -50px;
  }
}
@media only screen and (max-width: 992px){
  .exad-post-timeline .exad-post-timeline-item .exad-post-timeline-icon::before {
    display: none;
  }
  .exad-post-timeline .exad-post-timeline-item .exad-post-timeline-icon::after {
    display: none;
  }
  .exad-post-timeline .exad-post-timeline-item .exad-post-timeline-content {
    flex-basis: 40%;
  }
  .exad-post-timeline .exad-post-timeline-item .exad-post-timeline-date {
    flex-basis: 30%;
  }
  .exad-post-timeline .exad-post-timeline-item:nth-child(odd) .exad-post-timeline-date {
    margin-left: 20%;
  }
  .exad-post-timeline .exad-post-timeline-item:nth-child(even) .exad-post-timeline-content {
    margin-left: 20%;
  }
  .exad-post-timeline .exad-post-timeline-item:nth-child(even) .exad-post-timeline-date {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 552px){
  .exad-post-timeline .exad-post-timeline-item::before {
    display: none;
  }
  .exad-post-timeline .exad-post-timeline-item .exad-post-timeline-icon {
    display: none;
  }
  .exad-post-timeline .exad-post-timeline-item .exad-post-timeline-content {
    flex-basis: 100%;
  }
  .exad-post-timeline .exad-post-timeline-item .exad-post-timeline-date {
    flex-basis: 100%;
  }
  .exad-post-timeline .exad-post-timeline-item {
    flex-direction: column;
  }
  .exad-post-timeline .exad-post-timeline-item:nth-child(even) .exad-post-timeline-content {
    margin-left: 0;
  }
  .exad-post-timeline .exad-post-timeline-item:nth-child(even) .exad-post-timeline-content {
    order: 1;
  }
  .exad-post-timeline .exad-post-timeline-item:nth-child(odd) .exad-post-timeline-date {
    margin-left: 0;
    margin-top: 10px;
  }
  .exad-post-timeline .exad-post-timeline-item:nth-child(even) .exad-post-timeline-date {
    margin-left: 0;
    text-align: left;
    margin-top: 10px;
  }
  .exad-post-timeline .exad-post-timeline-item:not(:last-child) {
    margin-bottom: 50px;
  }
}
/* Post Timeline End */