
/* Post Grid Start */

.exad-row-wrapper .exad-post-grid-three .exad-post-grid-thumbnail {
  position: relative;
  z-index: 0;
}

.exad-row-wrapper .exad-post-grid-three .exad-post-grid-thumbnail ul.exad-post-grid-category {
  margin: 0;
  padding: 0;
  list-style: none;
}
.exad-post-grid-container .exad-post-grid-body {
  position: relative;
}
.exad-post-grid-container .exad-post-grid-body ul.exad-post-grid-category.cat-pos-bottom-left {
  transform: translateY(-50%);
  top: 0;
  position: absolute;
}
.exad-row-wrapper .exad-post-grid-three .exad-post-grid-thumbnail ul.exad-post-grid-category.postion-top-right {
  position: absolute;
  top: 20px;
  right: 20px;
}
.exad-row-wrapper .exad-post-grid-three .exad-post-grid-thumbnail ul.exad-post-grid-category li {
  display: inline-block;
}

.exad-post-grid-container ul.exad-post-grid-category li:not(:last-child) {
  margin-right: 8px;
}

.exad-row-wrapper .exad-post-grid-three .exad-post-grid-body {
  z-index: 9;
}

.exad-row-wrapper .exad-post-grid-three .exad-post-grid-body .exad-post-grid-category,
.exad-row-wrapper .exad-post-grid-three .exad-post-grid-body .exad-post-data {
  margin: 0;
  padding: 0;
}
.exad-row-wrapper .exad-post-grid-three .exad-post-grid-body .exad-post-grid-category {
  margin-bottom: 20px;  
}
.exad-row-wrapper .exad-post-grid-three .exad-post-grid-body .exad-post-grid-category li {
  display: inline-block;
  list-style: none;
}
.exad-row-wrapper .exad-post-grid-three .exad-post-grid-body li {
  margin-left: 0px;
}

.exad-row-wrapper .exad-post-grid-three .exad-post-grid-body .exad-post-data li {
 display: flex;
 align-items: center;
 justify-content: center;
}


/* .exad-row-wrapper .exad-post-grid-three .exad-post-grid-body .exad-post-data li:not(last-child) {
  padding-right: 15px;
} */

.exad-row-wrapper .exad-post-grid-three .exad-post-grid-body .exad-post-data {
  display: flex;
  align-items: center;
}
.exad-post-grid-container .exad-post-data.show-avatar-yes li.exad-post-date {
  margin-top: -3px;
}
.exad-row-wrapper .exad-post-grid-three .exad-post-grid-body .exad-author-avatar img {
  border-radius: 100%;
  margin-right: 12px; 
}

.exad-row-wrapper .exad-post-grid-three .exad-post-grid-body .exad-post-grid-category li:not(:last-child) {
  margin-right: 5px;
}

.exad-row-wrapper .exad-post-grid-three .exad-post-grid-body .exad-post-grid-category li:hover:nth-child(2n-1) {
  opacity: 0.7;
}

.exad-row-wrapper .exad-post-grid-three .exad-post-grid-body .exad-post-grid-category li:hover:nth-child(2n) {
  opacity: 0.7;
}

.exad-post-grid-container .exad-post-grid-body h3 {
  margin: 15px 0 5px 0;  
}

.exad-row-wrapper .exad-post-grid-three .exad-post-grid-body .exad-post-grid-title {
  display: block;
  text-decoration: none;
  -ms-word-wrap: break-word;
      word-wrap: break-word;
      transition: all .3s ease;
}

.exad-row-wrapper .exad-post-grid-three .exad-post-grid-body .exad-post-grid-title:hover {
  color: #FF6F51;
}

.exad-row-wrapper .exad-post-grid-body .exad-post-data li {
  color: #848484;  
}

.exad-row-wrapper .exad-post-grid-three .exad-post-grid-body .exad-post-grid-action {
  display: inline-block;
  text-decoration: none;
  transition: all .3s ease;
}

.exad-row-wrapper.exad-col-6 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.exad-row-wrapper.exad-col-6 .exad-col {
  flex: 0 0 16.66666%;
  max-width: 16.666666%;
  padding: 0 10px;
}

.exad-row-wrapper .exad-post-grid-body .exad-post-grid-read-time {
  display: inline-block;
}

.exad-row-wrapper .exad-post-grid-body ul.exad-post-grid-time-comment {
    margin: 0;
    padding: 0;
    list-style: none;
}

.exad-row-wrapper .exad-post-grid-body ul.exad-post-grid-time-comment li {
  display: inline-block;
}

.exad-row-wrapper .exad-post-grid-body ul.exad-post-grid-time-comment li:not(:last-child) {
    padding-right: 20px;
}

.exad-row-wrapper .exad-post-grid-body ul.exad-post-grid-time-comment li i.fa.fa-comment-o{
  padding-right: 10px;
}

.exad-post-grid-container .exad-post-grid-body .exad-post-footer a {
  display: inline-block;
  transition: all .3s ease;
}
.exad-post-grid-container.image-position-left,
.exad-post-grid-container.image-position-right {
  display: flex;
}
.exad-post-grid-container.image-position-left .exad-post-grid-thumbnail,
.exad-post-grid-container.image-position-right .exad-post-grid-thumbnail {
  z-index: 999;

}
.exad-post-grid-container.image-position-left > figure,
.exad-post-grid-container.image-position-left > div,
.exad-post-grid-container.image-position-right > figure,
.exad-post-grid-container.image-position-right > div {
  flex-direction: column;
}
.exad-post-grid-container.image-position-left > figure,
.exad-post-grid-container.image-position-right > figure {
  width: 40%;
}
.exad-post-grid-container.image-position-left > div,
.exad-post-grid-container.image-position-right > div {
  width: 60%;
}
.exad-post-grid-container.image-position-left > figure img,
.exad-post-grid-container.image-position-right > figure img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.exad-post-grid-container.image-position-right > figure {
  order: 2;
}
.exad-post-grid-container.image-position-right > div {
  order: 1;
}
.exad-post-grid-container.image-position-top .exad-post-grid-thumbnail a {
  display: flex;
}

/* .elementor .exad-post-grid-container img {
  height: 100%;
} */

nav.exad-post-pagination {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
nav.exad-post-pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav.exad-post-pagination ul li {
  display: inline-block;
}
@media (max-width: 767px) {
  .exad-row-wrapper.exad-col-6 .exad-col {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px 10px;
  }
}

.exad-row-wrapper.exad-col-5 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.exad-row-wrapper.exad-col-5 .exad-col {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0 10px;
}

@media (max-width: 767px) {
  .exad-row-wrapper.exad-col-5 .exad-col {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px 10px;
  }
}

.exad-row-wrapper.exad-col-4 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.exad-row-wrapper.exad-col-4 .exad-col {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 10px;
}

@media (max-width: 767px) {
  .exad-row-wrapper.exad-col-4 .exad-col {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px 10px;
  }
}

.exad-row-wrapper.exad-col-3 {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;
}

.exad-row-wrapper.exad-col-3 .exad-col {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0 10px;
}

@media (max-width: 767px) {
  .exad-row-wrapper.exad-col-3 .exad-col {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px 10px;
  }
}

.exad-row-wrapper.exad-col-2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.exad-row-wrapper.exad-col-2 .exad-col {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 10px;
}

@media (max-width: 767px) {
  .exad-row-wrapper.exad-col-2 .exad-col {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px 10px;
  }
}

.exad-row-wrapper.exad-col-1 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.exad-row-wrapper.exad-col-1 .exad-col {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px 25px;
}

@media (max-width: 767px) {
  .exad-row-wrapper.exad-col-1 .exad-col {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px 10px;
  }
}

@media (max-width: 480px) {
  .exad-post-grid-container.image-position-left, 
  .exad-post-grid-container.image-position-right {
    flex-direction: column;
  }
  .exad-post-grid-container.image-position-left > figure, 
  .exad-post-grid-container.image-position-right > figure,
  .exad-post-grid-container.image-position-left > div, 
  .exad-post-grid-container.image-position-right > div {
    width: 100%;
  }
}

.exad-post-grid-description{
  line-height: 1.8;
}

.exad-post-grid-container.image-position-top .exad-post-grid-thumbnail a img{
  object-fit: cover;
  -o-object-fit: cover;
  width: 100%;
}
.exad-post-grid-load-btn{
  text-align: center;
}
.exad-post-grid-paginate-btn{
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: all .3s ease;
}
.exad-post-grid-container ul.exad-post-grid-category li a{
  display: block;
}
.exad-post-grid.exad-post-grid-featured-post-yes article.exad-post-grid-three:first-child{
  flex: 100%;
  max-width: 100%;
}

.exad-post-grid.exad-post-grid-featured-post-yes.layout_one article.exad-post-grid-three:first-child .exad-post-grid-container{
  display: flex;
}
.exad-post-grid.exad-post-grid-featured-post-yes.layout_one article.exad-post-grid-three:first-child .exad-post-grid-container .exad-post-grid-thumbnail{
  width: 50%;
}
.exad-post-grid.exad-post-grid-featured-post-yes.layout_one article.exad-post-grid-three:first-child .exad-post-grid-container .exad-post-grid-thumbnail a{
  height: 100%;
}
.exad-post-grid.exad-post-grid-featured-post-yes.layout_one article.exad-post-grid-three:first-child .exad-post-grid-container .exad-post-grid-thumbnail a img{
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.exad-post-grid.exad-post-grid-featured-post-yes.layout_one article.exad-post-grid-three:first-child .exad-post-grid-container .exad-post-grid-body{
  width: 50%;
}
.exad-post-grid .exad-row-wrapper .exad-post-grid-container .exad-post-grid-thumbnail::before{
  display: none;
}
/* Post Grid End */
