/* post carousel style start */

.exad-post-carousel.one {
    position: relative;
  }
  
  
  .exad-post-carousel.one .exad-post-carousel-inner {
    box-shadow: 0px 13px 33px 0px rgba(51, 77, 128, 0.1);
    margin: 0 15px 40px 15px;
  }
  
  
  .exad-post-carousel.one .exad-post-carousel-inner .exad-post-author .exad-post-author-action li a:hover {
    background: linear-gradient(90deg, #ff704e 0%, #fb5d86 100%);
    color: #fff;
    border: 1px solid transparent;
  }
  
  .exad-post-carousel .exad-post-carousel-prev,
  .exad-post-carousel .exad-post-carousel-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 60px;
    width: 60px;
    background: transparent;
    border: 1px solid #e3e3e3;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease;
  }
  
  .exad-post-carousel .exad-post-carousel-prev i,
  .exad-post-carousel .exad-post-carousel-next i {
    top: 50%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 20px;
  }
  
  .exad-post-carousel .exad-post-carousel-prev:hover,
  .exad-post-carousel .exad-post-carousel-next:hover {
    color: #0a1724;
  }
  
  .exad-post-carousel .exad-post-carousel-prev {
    left: -70px;
  }
  
  .exad-post-carousel .exad-post-carousel-next {
    right: -70px;
  }
  
  .exad-post-carousel .exad-post-body .exad-post-action {
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 15px 30px;
    font-size: 15px;
    color: #0a1724;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    transition: all .3s ease;
  }
  
  .exad-post-carousel .exad-post-carousel-inner .exad-post-body .exad-post-action:hover {
    border: 1px solid transparent;
    background: linear-gradient(90deg, #ff704e 0%, #fb5d86 100%);
    color: #fff;
  }
  
  .exad-post-carousel .slick-dots {
    position: relative;
    width: auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 0 10px;
  }
  
  .exad-post-carousel .slick-dots li {
    list-style: none;
    float: left;
    margin-right: 10px;
  }
  
  .exad-post-carousel .slick-dots li button {
    width: 10px;
    height: 10px;
    outline: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #8a8d91;
    -webkit-text-fill-color: transparent;
    transition: .3s ease;
    padding: 0;
  }
  
  .exad-post-carousel .slick-dots li.slick-active button {
    width: 15px;
    height: 15px;
  }
  
  /* Post Carousel style end */