/* Pricing Menu Start */

.exad-pricing-list-wrapper.border_bottom .exad-pricing-list-item:last-child {
  border-bottom: none !important;
}

.exad-pricing-list-item.yes{
  display: flex;
}

.exad-pricing-list-item-thumbnail{
  overflow: hidden;
}

.exad-pricing-list-item-thumbnail img{
  height: 100% !important;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.exad-pricing-title {
  display: flex;
  align-items: center;
}
.exad-pricing-title .exad-pricing-list-item-price {
    margin-left: auto;
}

.exad-pricing-list-item-content-title{
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

.exad-pricing-list-item-content-description{
  margin: 0;
}

.exad-pricing-list-item-price span{
  display: block;
  font-size: 20px;
  line-height: 20px;
}

.exad-pricing-list-item-content-action{
  display: inline-block;
  transition: all .3s ease;
}

.exad-pricing-list-item-content-conntector {
  border-bottom: 1px dashed;
  height: 1px;
  flex-grow: 1;
  align-self: center;
  margin: 0 15px;
}

/* Pricing List End */