/* Pricing Menu Start */

.pricing-list-background {
    background: url("../../images/pricing-list/pricing-list-two-background.png");
    background-attachment: fixed;
  }
  
  .pricing-list-background .pricing-list-title {
    color: #fff;
    font-family: "Roboto", sans-serif;
    position: relative;
  }
  
  .pricing-list-background .pricing-list-title::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 30%;
    background: #dea728;
    bottom: -20px;
    left: 0;
  }
  
  .pricing-list-background p {
    color: #7c8384;
    font-size: 15px;
    line-height: 28px;
    margin: 40px 0 0 0;
  }
  
  .exad-pricing-list-wrapper{
    margin: 0;
  }
  
  @media (max-width: 991px) {
    .exad-pricing-list.one {
      display: block;
    }
  }
  
  .exad-pricing-list.one .exad-pricing-list-wrapper {
    margin: 0 10px;
  }
  
  @media (max-width: 991px) {
    .exad-pricing-list.one .exad-pricing-list-wrapper {
      width: 100%;
      margin: 0;
    }
  }
  
  .exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item {
    display: flex;
    margin: 0 20px;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    padding: 25px 0;
  }
  
  .exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item:last-child {
    border-bottom: none;
  }
  
  .exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
    height: 100px;
    width: 100px;
    box-shadow: 0px 14px 20px 0px rgba(8, 14, 68, 0.15);
    border-radius: 50%;
    overflow: hidden;
  }
  
  .exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail img {
    width: 100%;
    height: 100%;
  }
  
  .exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content {
    padding: 0 30px;
    width: calc(100% - 100px);
  }
  
  .exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
    text-decoration: none;
    transition: all .3s ease;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
  }
  
  .exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
    margin: 20px 0 0 0;
    line-height: 26px;
  }
  
  .exad-pricing-list.two .exad-pricing-list-wrapper {
    margin: 0 10px;
  }
  
  .exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item {
    display: flex;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    padding: 25px 0;
    align-items: center;
  }
  
  .exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item:last-child {
    border-bottom: none;
  }
  
  .exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
    box-shadow: 0px 14px 20px 0px rgba(8, 14, 68, 0.15);
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }
  
  .exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail img {
    width: 100%;
    height: 100%;
  }
  
  .exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content {
    padding: 0 30px;
    width: calc(100% - 150px);
  }
  
  .exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
    text-decoration: none;
    transition: all .3s ease;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
  }
  
  .exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
    margin: 15px 0;
    line-height: 26px;
  }
  
  
  @media (max-width: 991px) {
    .exad-pricing-list.three {
      display: block;
    }
  }
  
  .exad-pricing-list.three .exad-pricing-list-wrapper {
    margin: 0 10px;
  }
  
  @media (max-width: 991px) {
    .exad-pricing-list.three .exad-pricing-list-wrapper {
      width: 100%;
      margin: 0;
    }
  }
  
  .exad-pricing-list.three .exad-pricing-list-wrapper .exad-pricing-list-item {
    padding: 20px 0;
  }
  
  .exad-pricing-list.three .exad-pricing-list-wrapper .exad-pricing-list-item:last-child {
    border-bottom: none;
  }
  
  .exad-pricing-list.three .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
    text-decoration: none;
    transition: all .3s ease;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
  }
  
  
  .exad-pricing-list.three .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
    margin: 15px 0;
    line-height: 26px;
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper {
    margin: 0 10px;
  }
  
  @media (max-width: 991px) {
    .exad-pricing-list.four .exad-pricing-list-wrapper {
      width: 100%;
      margin: 0;
    }
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item {
    display: flex;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    padding: 25px 0;
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item:last-child {
    border-bottom: none;
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
    box-shadow: 0px 14px 20px 0px rgba(8, 14, 68, 0.15);
    border-radius: 50%;
    overflow: hidden;
    height: 120px;
    width: 120px;
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail img {
    width: 100%;
    height: 100%;
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content {
    padding: 0 0 0 20px;
    width: calc(100% - 120px);
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
    text-decoration: none;
    transition: all .3s ease;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
    margin: 10px 0;
    line-height: 26px;
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action {
    display: inline-block;
    background: transparent;
    padding: 5px 15px;
    border-radius: 3px;
    color: #ff6e53;
    border: 1px solid #ff6e53;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    transition: all .3s ease;
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action:hover {
    background: linear-gradient(90deg, #ff704e 0%, #fb5d86 100%);
    box-shadow: 0px 18px 43px 0px rgba(24, 37, 65, 0.1);
    color: #fff;
  }
  
  .exad-pricing-list.four .exad-pricing-list-background {
    float: right;
    margin-right: 50px;
  }
  
  .exad-pricing-list.four .exad-pricing-list-background .image-1 {
    position: relative;
  }
  
  .exad-pricing-list.four .exad-pricing-list-background .image-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item {
    box-shadow: 0px 30px 50px 0px rgba(51, 77, 128, 0.1);
    background: #fff;
    display: flex;
    padding: 50px 30px;
    margin: 0 10px 30px 10px;
    border-radius: 10px;
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
    height: 100px;
    width: 100px;
    box-shadow: 0px 14px 20px 0px rgba(8, 14, 68, 0.15);
    border-radius: 50%;
    overflow: hidden;
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail img {
    width: 100%;
    height: 100%;
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content {
    padding: 0 0 0 20px;
    width: calc(100% - 100px);
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
    text-decoration: none;
    transition: all .3s ease;
    margin: 0;
    text-decoration: none;
    font-weight: 600;
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
    margin: 20px 0;
    line-height: 26px;
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action {
    display: inline-block;
    background: transparent;
    padding: 5px 15px;
    border-radius: 3px;
    color: #4c59ff;
    border: 1px solid #4c59ff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    transition: all .3s ease;
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action:hover {
    background: #4c59ff;
    box-shadow: 0px 18px 43px 0px rgba(24, 37, 65, 0.1);
    color: #fff;
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-price {
    font-size: 18px;
    color: #4c59ff;
    font-family: "Roboto", sans-serif;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper {
    background: #f3f6f9;
    padding: 40px;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper h3 {
    text-align: center;
    margin-bottom: 80px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #0a1724;
    position: relative;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper h3::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 60px;
    background: #dea728;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item {
    display: flex;
    margin: 40px 0 0 0;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
    margin-right: 20px;
  }
  .exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content {
    flex-basis: 90%;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-element {
    display: flex;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-element .exad-pricing-list-item-content-title {
    text-decoration: none;
    transition: all .3s ease;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
    display: inline-block;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-element .exad-pricing-list-item-content-conntector {
    bottom: calc((-2px)/2);
    border-bottom: 1px dashed #c8c9cc;
    height: 1px;
    flex-grow: 1;
    align-self: center;
    margin: 0 20px;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
    margin: 10px 0;
    line-height: 26px;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-price {
    flex-basis: 10%;
    font-size: 18px;
    color: #dea728;
    font-family: "Roboto", sans-serif;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu {
    text-align: center;
    width: 100%;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu ul {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu ul li {
    list-style: none;
    float: left;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu ul li a {
    padding: 15px 30px;
    position: relative;
    transition: all .3s ease;
    text-decoration: none;
    color: #a9abae;
    display: block;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu ul li a::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: scale(0);
            transform: scale(0);
    background: #61d28e;
    left: 0;
    bottom: 0;
    transition: all .3s ease;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu ul li a.active {
    color: #61d28e;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu ul li a.active::before {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu ul li a:hover {
    color: #61d28e;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu ul li a:hover::before {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper {
    display: none;
    opacity: 0;
    transition: opacity .5s;
    border: 1px solid #e3e3e3;
    margin-top: 50px;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active {
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-thumb {
    width: 30%;
    box-shadow: 0px 30px 50px 0px rgba(51, 77, 128, 0.2);
  }
  
  @media (max-width: 991px) {
    .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-thumb {
      width: 100%;
    }
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-thumb img {
    height: 100%;
    width: 100%;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px 40px 50px;
  }
  
  @media (max-width: 991px) {
    .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content {
      width: 100%;
    }
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item {
    width: 50%;
    padding: 10px 0;
  }
  
  @media (max-width: 991px) {
    .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item {
      width: 100%;
    }
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
    height: 90px;
    width: 90px;
    box-shadow: 0px 14px 20px 0px rgba(8, 14, 68, 0.15);
    border-radius: 50%;
    overflow: hidden;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item .exad-pricing-list-item-thumbnail img {
    width: 100%;
    height: 100%;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
    text-decoration: none;
    transition: all .3s ease;
    margin: 20px 0 0 0;
    text-decoration: none;
    display: block;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
    margin: 10px 0;
    line-height: 26px;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item .exad-pricing-list-item-price {
  
  }
  .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action {
    display: inline-block;
    background: transparent;
    padding: 5px 15px;
    border-radius: 3px;
    color: #4c59ff;
    border: 1px solid #4c59ff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    transition: all .3s ease;
  }
  
  .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action:hover {
    background: #4c59ff;
    box-shadow: 0px 18px 43px 0px rgba(24, 37, 65, 0.1);
    color: #fff;
  }
  
  /* Pricing Menu End */
  
  
  /* Pricing List Start */
  
  .pricing-list-background {
    background: url("../../images/pricing-list/pricing-list-two-background.png");
    background-attachment: fixed;
  }
  
  .pricing-list-background .pricing-list-title {
    color: #fff;
    font-family: "Roboto", sans-serif;
    position: relative;
  }
  
  .pricing-list-background .pricing-list-title::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 30%;
    background: #dea728;
    bottom: -20px;
    left: 0;
  }
  
  .pricing-list-background p {
    color: #7c8384;
    font-size: 15px;
    line-height: 28px;
    margin: 40px 0 0 0;
  }
  
  .exad-pricing-list-wrapper{
    margin: 0;
    padding: 20px;
  }
  
  @media (max-width: 991px) {
    .exad-pricing-list.one {
      display: block;
    }
  }
  
  .exad-pricing-list.one .exad-pricing-list-wrapper {
    margin: 0 10px;
  }
  
  @media (max-width: 991px) {
    .exad-pricing-list.one .exad-pricing-list-wrapper {
      width: 100%;
      margin: 0;
    }
  }
  
  .exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item {
    display: flex;
    margin: 0 20px;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    padding: 25px 0;
  }
  
  .exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item:last-child {
    border-bottom: none;
  }
  
  .exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
    height: 100px;
    width: 100px;
    box-shadow: 0px 14px 20px 0px rgba(8, 14, 68, 0.15);
    border-radius: 50%;
    overflow: hidden;
  }
  
  .exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail img {
    width: 100%;
    height: 100%;
  }
  
  .exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content {
    padding: 0 30px;
    width: calc(100% - 100px);
  }
  
  .exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
    text-decoration: none;
    transition: all .3s ease;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
  }
  
  .exad-pricing-list.one .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
    margin: 20px 0 0 0;
    line-height: 26px;
  }
  
  .exad-pricing-list.two .exad-pricing-list-wrapper {
    margin: 0 10px;
  }
  
  .exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item {
    display: flex;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    padding: 25px 0;
    align-items: center;
  }
  
  .exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item:last-child {
    border-bottom: none;
  }
  
  .exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
    box-shadow: 0px 14px 20px 0px rgba(8, 14, 68, 0.15);
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }
  
  .exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail img {
    width: 100%;
    height: 100%;
  }
  
  .exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content {
    padding: 0 30px;
    width: calc(100% - 150px);
  }
  
  .exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
    text-decoration: none;
    transition: all .3s ease;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
  }
  
  .exad-pricing-list.two .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
    margin: 15px 0;
    line-height: 26px;
  }
  
  
  @media (max-width: 991px) {
    .exad-pricing-list.three {
      display: block;
    }
  }
  
  .exad-pricing-list.three .exad-pricing-list-wrapper {
    margin: 0 10px;
  }
  
  @media (max-width: 991px) {
    .exad-pricing-list.three .exad-pricing-list-wrapper {
      width: 100%;
      margin: 0;
    }
  }
  
  .exad-pricing-list.three .exad-pricing-list-wrapper .exad-pricing-list-item {
    padding: 20px 0;
  }
  
  .exad-pricing-list.three .exad-pricing-list-wrapper .exad-pricing-list-item:last-child {
    border-bottom: none;
  }
  
  .exad-pricing-list.three .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
    text-decoration: none;
    transition: all .3s ease;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
  }
  
  
  .exad-pricing-list.three .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
    margin: 15px 0;
    line-height: 26px;
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper {
    margin: 0 10px;
  }
  
  @media (max-width: 991px) {
    .exad-pricing-list.four .exad-pricing-list-wrapper {
      width: 100%;
      margin: 0;
    }
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item {
    display: flex;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    padding: 25px 0;
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item:last-child {
    border-bottom: none;
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
    box-shadow: 0px 14px 20px 0px rgba(8, 14, 68, 0.15);
    border-radius: 50%;
    overflow: hidden;
    height: 120px;
    width: 120px;
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail img {
    width: 100%;
    height: 100%;
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content {
    padding: 0 0 0 20px;
    width: calc(100% - 120px);
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
    text-decoration: none;
    transition: all .3s ease;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
    margin: 10px 0;
    line-height: 26px;
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action {
    display: inline-block;
    background: transparent;
    padding: 5px 15px;
    border-radius: 3px;
    color: #ff6e53;
    border: 1px solid #ff6e53;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    transition: all .3s ease;
  }
  
  .exad-pricing-list.four .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action:hover {
    background: linear-gradient(90deg, #ff704e 0%, #fb5d86 100%);
    box-shadow: 0px 18px 43px 0px rgba(24, 37, 65, 0.1);
    color: #fff;
  }
  
  .exad-pricing-list.four .exad-pricing-list-background {
    float: right;
    margin-right: 50px;
  }
  
  .exad-pricing-list.four .exad-pricing-list-background .image-1 {
    position: relative;
  }
  
  .exad-pricing-list.four .exad-pricing-list-background .image-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item {
    box-shadow: 0px 30px 50px 0px rgba(51, 77, 128, 0.1);
    background: #fff;
    display: flex;
    padding: 50px 30px;
    margin: 0 10px 30px 10px;
    border-radius: 10px;
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
    height: 100px;
    width: 100px;
    box-shadow: 0px 14px 20px 0px rgba(8, 14, 68, 0.15);
    border-radius: 50%;
    overflow: hidden;
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail img {
    width: 100%;
    height: 100%;
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content {
    padding: 0 0 0 20px;
    width: calc(100% - 100px);
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
    text-decoration: none;
    transition: all .3s ease;
    margin: 0;
    text-decoration: none;
    font-weight: 600;
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
    margin: 20px 0;
    line-height: 26px;
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action {
    display: inline-block;
    background: transparent;
    padding: 5px 15px;
    border-radius: 3px;
    color: #4c59ff;
    border: 1px solid #4c59ff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    transition: all .3s ease;
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action:hover {
    background: #4c59ff;
    box-shadow: 0px 18px 43px 0px rgba(24, 37, 65, 0.1);
    color: #fff;
  }
  
  .exad-pricing-list.five .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-price {
    font-size: 18px;
    color: #4c59ff;
    font-family: "Roboto", sans-serif;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper {
    background: #f3f6f9;
    padding: 40px;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper h3 {
    text-align: center;
    margin-bottom: 80px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #0a1724;
    position: relative;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper h3::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 60px;
    background: #dea728;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item {
    display: flex;
    margin: 40px 0 0 0;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
    margin-right: 20px;
  }
  .exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content {
    flex-basis: 90%;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-element {
    display: flex;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-element .exad-pricing-list-item-content-title {
    text-decoration: none;
    transition: all .3s ease;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
    display: inline-block;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-element .exad-pricing-list-item-content-conntector {
    bottom: calc((-2px)/2);
    border-bottom: 1px dashed #c8c9cc;
    height: 1px;
    flex-grow: 1;
    align-self: center;
    margin: 0 20px;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
    margin: 10px 0;
    line-height: 26px;
  }
  
  .exad-pricing-list.six .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-price {
    flex-basis: 10%;
    font-size: 18px;
    color: #dea728;
    font-family: "Roboto", sans-serif;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu {
    text-align: center;
    width: 100%;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu ul {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu ul li {
    list-style: none;
    float: left;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu ul li a {
    padding: 15px 30px;
    position: relative;
    transition: all .3s ease;
    text-decoration: none;
    color: #a9abae;
    display: block;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu ul li a::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: scale(0);
            transform: scale(0);
    background: #61d28e;
    left: 0;
    bottom: 0;
    transition: all .3s ease;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu ul li a.active {
    color: #61d28e;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu ul li a.active::before {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu ul li a:hover {
    color: #61d28e;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-menu ul li a:hover::before {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper {
    display: none;
    opacity: 0;
    transition: opacity .5s;
    border: 1px solid #e3e3e3;
    margin-top: 50px;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active {
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-thumb {
    width: 30%;
    box-shadow: 0px 30px 50px 0px rgba(51, 77, 128, 0.2);
  }
  
  @media (max-width: 991px) {
    .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-thumb {
      width: 100%;
    }
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-thumb img {
    height: 100%;
    width: 100%;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px 40px 50px;
  }
  
  @media (max-width: 991px) {
    .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content {
      width: 100%;
    }
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item {
    width: 50%;
    padding: 10px 0;
  }
  
  @media (max-width: 991px) {
    .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item {
      width: 100%;
    }
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item .exad-pricing-list-item-thumbnail {
    height: 90px;
    width: 90px;
    box-shadow: 0px 14px 20px 0px rgba(8, 14, 68, 0.15);
    border-radius: 50%;
    overflow: hidden;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item .exad-pricing-list-item-thumbnail img {
    width: 100%;
    height: 100%;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-title {
    text-decoration: none;
    transition: all .3s ease;
    margin: 20px 0 0 0;
    text-decoration: none;
    display: block;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-description {
    margin: 10px 0;
    line-height: 26px;
  }
  
  .exad-pricing-list.seven .exad-pricing-list-wrapper.active .exad-pricing-list-wrapper-content .exad-pricing-list-item .exad-pricing-list-item-price {
  
  }
  .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action {
    display: inline-block;
    background: transparent;
    padding: 5px 15px;
    border-radius: 3px;
    color: #4c59ff;
    border: 1px solid #4c59ff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    transition: all .3s ease;
  }
  
  .exad-pricing-list-wrapper .exad-pricing-list-item .exad-pricing-list-item-content .exad-pricing-list-item-content-action:hover {
    background: #4c59ff;
    box-shadow: 0px 18px 43px 0px rgba(24, 37, 65, 0.1);
    color: #fff;
  }
  
  /* Pricing List End */