/* Pricing Table Start */

.left{
  text-align: left;
}

.left .exad-pricing-table-features li{
  justify-content: flex-start;
}

.left .price-box{
  margin-right: auto;
}

.center{
  text-align: center;
}

.center.exad-pricing-table-features li{
  justify-content: center;
}

.center .price-box{
  margin: 0 auto;
}

.right{
  text-align: right;
}

.right .exad-pricing-table-features li{
  justify-content: flex-end;
}

.right .price-box{
  margin-left: auto;
}

.exad-pricing-table-header {
  position: relative;
  z-index: -1;
}

.exad-pricing-table-header .exad-pricing-table-header-curved svg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

.exad-pricing-table-title{
  margin: 0 0 16px 0;
  font-size: 20px;
  font-weight: 400;
}

.exad-pricing-table-subtitle{
  margin: 0 0 10px 0;
}

.price-box{
  position: relative;
}
.exad-pricing-table-price{
  position: relative;
}
.exad-pricing-table-price.exad-discount-price-yes{
  display: inline-flex;
  align-items: flex-end;
}
.exad-pricing-table-price.exad-discount-price-yes .exad-pricing-table-regular-price{
  text-decoration: line-through;
  font-size: 20px;
  color: #e5e5e5;
  line-height: 2.1em;
}
.exad-pricing-table-price svg{
  position: absolute;
}

.exad-pricing-table-wrapper .exad-pricing-table-price p.exad-pricing-table-new-price {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -3.2px;
}

.exad-pricing-table-wrapper .exad-pricing-table-price span.exad-price-period {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0px;
}

.exad-pricing-table-price p{
  margin: 0;
}
.price-box p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 100%;
}

.exad-pricing-table-features{
  margin: 0;
  padding: 0;
}

.exad-pricing-table-features li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
}

.list-border-bottom li:not(:last-child){
  border-bottom: 1px solid #ff5985;
}

.exad-pricing-table-features li .exad-pricing-li-icon{
  margin-right: 7px;
}

.exad-pricing-table-action {
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 1;
  display: inline-block;
}

.exad-pricing-table-badge-wrapper {
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all .3s ease;
}

.exad-pricing-table-wrapper{
  transition: all .3s ease;
}

.exad-pricing-table-wrapper.transition_top{
  transition: all .3s ease;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.exad-pricing-table-wrapper.transition_top:hover{
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
}

.exad-pricing-table-wrapper.transition_bottom{
  transition: all .3s ease;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.exad-pricing-table-wrapper.transition_bottom:hover{
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
}

.exad-pricing-table-wrapper.transition_zoom{
  transition: all .3s ease;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.exad-pricing-table-wrapper.transition_zoom:hover{
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}

.exad-pricing-table-wrapper .text-badge{
  position: absolute;
  top: 0;
  right: 0;
  background: #13c83a;
  padding: 13px 50px;
  width: 160px;
    text-align: center;
  -webkit-transform: rotate(45deg) translate(40px, -22px);
          transform: rotate(45deg) translate(40px, -22px);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  z-index: 2;
}

.exad-pricing-table-wrapper .icon-badge {
  position: absolute;
  padding: 15px 10px;
  border-radius: 0 0 40px 40px;
  background: #13c83a;
  right: 30px;
  top: 0;
  z-index: 2;
}

.exad-pricing-table-promo-label{
  display: block;
}
.exad-pricing-table-currency{
  position: relative;
}

.exad-pricing-table-price-subtitle{
  display: block;
}

/* Pricing Table End */