/* Exclusive Tabs Start */

.exad-advance-tab-nav {
  margin: 0;
  padding: 0;
}

.exad-advance-tab-nav li {
  list-style: none;
  transition: all .3s ease;
  position: relative;
  cursor: pointer;
}

.exad-advance-tab-nav li span.exad-tab-title {
  font-size: 16px;
}

.exad-tab-horizontal .exad-advance-tab-nav{
  display: flex;
}
.exad-tab-horizontal.exad-tab-align-left .exad-advance-tab-nav{
  justify-content: flex-start;
}
.exad-tab-horizontal.exad-tab-align-center .exad-advance-tab-nav{
  justify-content: center;
}
.exad-tab-horizontal.exad-tab-align-right .exad-advance-tab-nav{
  justify-content: flex-end;
}

.exad-tab-horizontal-full-width .exad-advance-tab-nav {
  display: flex;
}

.exad-tab-align-left .exad-advance-tab-nav li {
  text-align: left;
}
.exad-tab-align-center .exad-advance-tab-nav li {
  text-align: center;
}
.exad-tab-align-right .exad-advance-tab-nav li {
  text-align: right;
}

.exad-tab-align-left .exad-advance-tab-nav {
  text-align: left;
}
.exad-tab-align-center .exad-advance-tab-nav {
  text-align: center;
}
.exad-tab-align-right .exad-advance-tab-nav {
  text-align: right;
}

.exad-tab-horizontal-full-width .exad-advance-tab-nav li {
  flex: 1;
}

.exad-tab-vertical{
  display: flex;
}

.exad-tab-vertical .exad-advance-tab-nav li {
  display: flex;
  align-items: center;
}

.exad-advance-tab .exad-advance-tab-content.active {
  display: block;
}
.exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-left,
.exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-right{
  display: flex;
}
.exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-left .exad-advance-tab-content-element,
.exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-right .exad-advance-tab-content-element {
  width: 100%;
}

.exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-left .exad-advance-tab-content-element,
.exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-right .exad-advance-tab-content-element {
  width: 70%;
}

.exad-advance-tab .exad-advance-tab-content.exad-tab-image-has-no.exad-tab-image-left .exad-advance-tab-content-element,
.exad-advance-tab .exad-advance-tab-content.exad-tab-image-has-no.exad-tab-image-right .exad-advance-tab-content-element{
  width: 100%;
}
.exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-left .exad-advance-tab-content-thumb,
.exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-right .exad-advance-tab-content-thumb {
  width: 30%;
}

.exad-advance-tab .exad-advance-tab-content.active .exad-advance-tab-content-thumb {
  width: 30%;
}
.exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-left .exad-advance-tab-content-element {
  order: 2
}
.exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-left .exad-advance-tab-content-thumb {
  order: 1;
}
.exad-advance-tab .exad-advance-tab-content {
  display: none;
}
.exad-tab-btn{
  text-decoration: none;
  transition: all .3s ease;
  display: inline-block;
}
.exad-advance-tab-content-title{
  margin: 0 0 20px 0;
}
.exad-advance-tab-content-description{
  margin: 0 0 20px 0;
}

.exad-tab-triangle-right.active{
  position: relative;
  z-index: 1;
}
.exad-tab-triangle-bottom.active{
  position: relative;
  z-index: 1;
}
.exad-tab-triangle-right.active::before{
  position: absolute;
  content: '';
  height: 20px;
  width: 15px;
  top: 50%;
  right: -4px;
  transform: translateY(-50%) rotate(45deg);
  z-index: -1;
}

.exad-tab-triangle-bottom.active::before{
  position: absolute;
  content: '';
  height: 20px;
  width: 15px;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}

@media ( max-width: 575px ){
  .exad-tab-vertical{
    flex-direction: column;
  }
  .exad-tab-vertical .exad-advance-tab-nav li{
    width: 100% !important;
    justify-content: center;
  }
  .exad-tab-triangle-right.active:before{
    display: none;
  }
}
@media ( max-width: 767px ){
  .exad-tab-horizontal-full-width .exad-advance-tab-nav {
    overflow-x: scroll;
  }
  .exad-tab-horizontal .exad-advance-tab-nav {
    overflow-x: scroll;
  }
  .exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-left,
  .exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-right{
    flex-direction: column;
  }
  .exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-left .exad-advance-tab-content-element,
  .exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-right .exad-advance-tab-content-element {
    width: 100%;
  }
  .exad-advance-tab .exad-advance-tab-content.exad-tab-image-has-no.exad-tab-image-left .exad-advance-tab-content-element,
  .exad-advance-tab .exad-advance-tab-content.exad-tab-image-has-no.exad-tab-image-right .exad-advance-tab-content-element{
    width: 100%;
  }
  .exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-left .exad-advance-tab-content-thumb,
  .exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-right .exad-advance-tab-content-thumb {
    width: 100%;
  }
  .exad-advance-tab .exad-advance-tab-content.active .exad-advance-tab-content-thumb {
    width: 100%;
  }
  .exad-advance-tab-content-thumb{
    margin-top: 20px;
  }
}

/* Exclusive Tabs End */