/* Exclusive Tabs Start */

/* 
.exad-advance-tab.two .exad-advance-tab-nav {
  margin: 0px;
  padding: 0px;
  display: flex;
}

.exad-advance-tab.two .exad-advance-tab-nav li {
  position: relative;
  padding: 1em 1.5em;
  flex: 1;
  cursor: pointer;
  align-items: center;
  text-align: center;
  list-style: none;
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid #e5e5e5;
}

.exad-advance-tab.two .exad-advance-tab-nav li span {
  color: #8a8d91;
  font-family: "Roboto", sans-serif;
}

.exad-advance-tab.two .exad-advance-tab-nav li.active {
  border-bottom: 1px solid #704aff;
}

.exad-advance-tab.two .exad-advance-tab-nav li.active span {
  color: #0a1724;
}

.exad-advance-tab.two .exad-advance-tab-content {
  display: none;
  padding: 40px;
  position: relative;
}

.exad-advance-tab.two .exad-advance-tab-content .exad-advance-tab-content-title {
  font-size: 40px;
  color: #0a1724;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.exad-advance-tab.two .exad-advance-tab-content p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin: 20px 0px 50px 0px;
}

.exad-advance-tab.two .exad-advance-tab-content.active {
  display: inherit;
}

.exad-advance-tab.three {
  display: flex;
}

.exad-advance-tab.three .exad-advance-tab-nav {
  width: 26%;
  margin: 0 4% 0 0;
  padding: 0;
}

.exad-advance-tab.three .exad-advance-tab-nav li {
  list-style: none;
  background: #fff;
  padding: 25px 40px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  transition: all .3s ease;
}

.exad-advance-tab.three .exad-advance-tab-nav li::before {
  position: absolute;
  content: '';
  top: 50%;
  right: -8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-left-color: #fff;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  opacity: 0;
}

.exad-advance-tab.three .exad-advance-tab-nav li span {
  color: #0a1724;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.exad-advance-tab.three .exad-advance-tab-nav li span i {
  margin-right: 15px;
}

.exad-advance-tab.three .exad-advance-tab-nav li.active {
  box-shadow: 0px 30px 40px 0px rgba(5, 9, 42, 0.08);
}

.exad-advance-tab.three .exad-advance-tab-nav li.active::before {
  opacity: 1;
}

.exad-advance-tab.three .exad-advance-tab-nav li.active span {
  color: #4ecad2;
}

.exad-advance-tab.three .exad-advance-tab-content {
  width: 70%;
  display: none;
  background: #fff;
  padding: 60px 30px;
  border-radius: 10px;
}

.exad-advance-tab.three .exad-advance-tab-content .exad-advance-tab-content-title {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #0a1724;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.exad-advance-tab.three .exad-advance-tab-content p{
  margin: 0;
}

.exad-advance-tab.three .exad-advance-tab-content .exad-advance-tab-content-description {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 26px;
  margin: 25px 0 50px 0;
}

.exad-advance-tab.three .exad-advance-tab-content.active {
  display: block;
}

.exad-advance-tab.four {
  display: flex;
}

.exad-advance-tab.four .exad-advance-tab-nav {
  width: 30%;
  margin: 0;
  padding: 0;
}

.exad-advance-tab.four .exad-advance-tab-nav li {
  list-style: none;
  background: #f0f1f2;
  padding: 25px 40px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin-right: 10px;
  transition: all .3s ease;
}

.exad-advance-tab.four .exad-advance-tab-nav li::before {
  position: absolute;
  content: '';
  width: calc(100% + 11px);
  height: 0;
  background: #fff;
  top: 0;
  left: 0px;
  opacity: 0;
  transition: all .3s ease;
}

.exad-advance-tab.four .exad-advance-tab-nav li::after {
  position: absolute;
  content: '';
  height: 0;
  width: 3px;
  background: #36d3ac;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0;
  transition: all .3s ease;
}

.exad-advance-tab.four .exad-advance-tab-nav li span {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.exad-advance-tab.four .exad-advance-tab-nav li span i {
  margin-right: 10px;
}

.exad-advance-tab.four .exad-advance-tab-nav li.active {
  background: #fff;
}

.exad-advance-tab.four .exad-advance-tab-nav li.active::before {
  opacity: 1;
  z-index: -1;
  border-width: 1px 0 1px 1px;
  border-color: #f0f1f2;
  border-style: solid;
  height: 100%;
}

.exad-advance-tab.four .exad-advance-tab-nav li.active::after {
  opacity: 1;
  -webkit-transform: translateY(1);
          transform: translateY(1);
  height: 100%;
}

.exad-advance-tab.four .exad-advance-tab-content {
  display: none;
  width: 70%;
  border: 1px solid #f0f1f2;
  padding: 30px 25px;
}

.exad-advance-tab.four .exad-advance-tab-content .exad-advance-tab-content-title {
  font-size: 24px;
  color: #0a1724;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.exad-advance-tab.four .exad-advance-tab-content p {
  margin: 0;
}

.exad-advance-tab.four .exad-advance-tab-content .exad-advance-tab-content-description {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 26px;
  margin: 30px 0 40px 0;
}

.exad-advance-tab.four .exad-advance-tab-content.active {
  display: block;
}

@media only screen and (max-width: 768px){
  .exad-advance-tab.two .exad-advance-tab-nav{
    flex-direction: column;
  }
  .exad-advance-tab.three{
    flex-direction: column;
  }
  .exad-advance-tab.three .exad-advance-tab-nav{
    width: 100%;
  }
  .exad-advance-tab.three .exad-advance-tab-content{
    width: 100%;
  }
  .exad-advance-tab.three .exad-advance-tab-nav li.active::before{
    opacity: 0;
  }
  .exad-advance-tab.four{
    flex-direction: column;
  }
  .exad-advance-tab.four .exad-advance-tab-nav{
    width: 100%;
  }
  .exad-advance-tab.four .exad-advance-tab-content{
    width: 100%;
  }
  .exad-advance-tab.four .exad-advance-tab-nav li.active::before{
    border-width: 1px 1px 1px 1px;
  }
}
*/
/*Advance tab five*/
/*
.exad-advance-tab.five .exad-advance-tab-nav {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: flex;
}

.exad-advance-tab.five .exad-advance-tab-nav li {
  position: relative;
  padding: 1em 1.5em;
  -webkit-box-flex: 1;
          flex: 1;
  cursor: pointer;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  list-style: none;
  display: inline-block;
  cursor: pointer;
  background: #f7f7f7;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.exad-advance-tab.five .exad-advance-tab-nav li::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background: #e3e3e3;
  right: 0;
  top: 0;
}

.exad-advance-tab.five .exad-advance-tab-nav li:last-child::after {
  opacity: 0;
}

.exad-advance-tab.five .exad-advance-tab-nav li::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  background: #744fff;
  top: 5px;
  left: 0;
  opacity: 0;
}

.exad-advance-tab.five .exad-advance-tab-nav li span {
  font-size: 16px;
  color: #0a1724;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.exad-advance-tab.five .exad-advance-tab-nav li span i {
  margin-right: 10px;
}

.exad-advance-tab.five .exad-advance-tab-nav li.active {
  background: #fff;
  margin-top: -15px;
}

.exad-advance-tab.five .exad-advance-tab-nav li.active:nth-child(n-1)::after {
  opacity: 0;
}

.exad-advance-tab.five .exad-advance-tab-nav li.active::before {
  opacity: 1;
}

.exad-advance-tab.five .exad-advance-tab-nav li.active::after {
  opacity: 0;
}

.exad-advance-tab.five .exad-advance-tab-nav li.active span {
  color: #744fff;
}

.exad-advance-tab.five .exad-advance-tab-content {
  box-shadow: 0px 20px 40px 0px rgba(5, 12, 77, 0.1);
  display: none;
  padding: 40px 40px 50px 40px;
}

.exad-advance-tab.five .exad-advance-tab-content .exad-advance-tab-content-title {
  font-family: "Roboto", sans-serif;
  color: #0a1724;
  font-size: 24px;
  font-weight: 400;
}

.exad-advance-tab.five .exad-advance-tab-content .exad-advance-tab-content-description {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 26px;
  margin: 30px 0 40px 0;
}

.exad-advance-tab.five .exad-advance-tab-content .exad-advance-tab-content-action {
  display: inline-block;
  padding: 15px 40px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#724cff), to(#8868fe));
  background: linear-gradient(0deg, #724cff 0%, #8868fe 100%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.exad-advance-tab.five .exad-advance-tab-content .exad-advance-tab-content-action i {
  margin-left: 20px;
}

.exad-advance-tab.five .exad-advance-tab-content .exad-advance-tab-content-action:hover {
  box-shadow: 0px 21px 35px 0px rgba(114, 76, 255, 0.27);
}

.exad-advance-tab.five .exad-advance-tab-content.active {
  display: block;
} */

.exad-advance-tab-nav {
  margin: 0;
  padding: 0;
}

.exad-advance-tab-nav li {
  list-style: none;
  line-height: 1;
  transition: all .3s ease;
}

.exad-tab-horizontal .exad-advance-tab-nav{
  display: flex;
}
.exad-tab-horizontal.exad-tab-align-left .exad-advance-tab-nav{
  justify-content: flex-start;
}
.exad-tab-horizontal.exad-tab-align-center .exad-advance-tab-nav{
  justify-content: center;
}
.exad-tab-horizontal.exad-tab-align-right .exad-advance-tab-nav{
  justify-content: flex-end;
}

.exad-tab-horizontal-full-width .exad-advance-tab-nav {
  display: flex;
}

.exad-tab-align-left .exad-advance-tab-nav li {
  text-align: left;
}
.exad-tab-align-center .exad-advance-tab-nav li {
  text-align: center;
}
.exad-tab-align-right .exad-advance-tab-nav li {
  text-align: right;
}

.exad-tab-align-left .exad-advance-tab-nav {
  text-align: left;
}
.exad-tab-align-center .exad-advance-tab-nav {
  text-align: center;
}
.exad-tab-align-right .exad-advance-tab-nav {
  text-align: right;
}

.exad-tab-horizontal-full-width .exad-advance-tab-nav li {
  flex: 1;
}

.exad-tab-vertical{
  display: flex;
}

.exad-tab-vertical .exad-advance-tab-nav {
  width: 30%;
}

.exad-tab-vertical .exad-advance-tab-content {
  width: 70%;
}
.exad-advance-tab .exad-advance-tab-content.active {
  display: flex;
}
.exad-advance-tab .exad-advance-tab-content.active .exad-advance-tab-content-element {
  /* width: 70%; */
  width: 100%;
}

.exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-left .exad-advance-tab-content-element,
.exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-right .exad-advance-tab-content-element {
  width: 70%;
}
.exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-left .exad-advance-tab-content-thumb,
.exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-right .exad-advance-tab-content-thumb {
  width: 30%;
}

.exad-advance-tab .exad-advance-tab-content.active .exad-advance-tab-content-thumb {
  width: 30%;
}
.exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-left .exad-advance-tab-content-element {
  order: 2
}
.exad-advance-tab .exad-advance-tab-content.active.exad-tab-image-left .exad-advance-tab-content-thumb {
  order: 1;
}
.exad-advance-tab .exad-advance-tab-content {
  display: none;
}
.exad-tab-btn{
  text-decoration: none;
  transition: all .3s ease;
}
/* Exclusive Tabs End */