/* Team Member Start */

.exad-left{
  text-align: left;
}
.exad-left .exad-team-member-thumb{
  margin-right: auto;
}

.exad-center{
  text-align: center;
}

.exad-center .exad-team-member-thumb{
  margin: 0 auto;
}

.exad-right{
  text-align: right;
}

.exad-right .exad-team-member-thumb{
  margin-left: auto;
}

.exad-top-background{
  clear: both;
}

.exad-position-left{
  display: flex;
  align-items: center;
}
.exad-position-right{
  display: flex;
  align-items: center;
}
.exad-position-left .exad-team-member-thumb{
  width: 43%;
}
.exad-position-left .exad-team-member-content{
  width: 57%;
}
.exad-position-right .exad-team-member-thumb{
  width: 43%;
  order: 2;
}
.exad-position-right .exad-team-member-content{
  width: 57%;
  order: 1;
}

.exad-team-member-cta{
  text-decoration: none;
  display: inline-block;
  transition: all .3s ease;
  line-height: 1;
}

.exad-team-member-social{
  margin: 0;
  padding: 0;
  line-height: 1;
}

.exad-team-member-social li{
  list-style: none;
  display: inline-block;
  line-height: 1;
}
.exad-team-member-social li a{
  display: block;
  position: relative;
  transition: all .3s ease;
  text-decoration: none;
}

.exad-team-member-social li a i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.exad-team-member-thumb img{
  height: 100% !important;
  width: 100%;
  display: block;
  object-fit: cover;
  -o-object-fit: cover;
}

.exad-team-member-content{
  position: relative;
  z-index: 8;
}

.exad-team-member-name{
  margin: 0 0 20px 0;
  line-height: 1;
}

.exad-team-member-designation{
  margin: 0 0 20px 0;
  line-height: 1;
  display: block;
}

.exad-team-member-about{
  margin: 0 0 20px 0;
  line-height: 1;
}

/* Team member style eight end */