/* Team Member Start */

/* Team Global Styles */
.exad-team-item {
  margin-bottom: 32px;
}
.exad-team-member-name {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
}
.exad-team-member-content {
  color: #8a8d91;
  padding: 10px;
}
.exad-team-member-designation {
  font-size: 16px;
}
.exad-team-member-about {
  font-size: 16px;
}


/* Team Member style one Start */

.exad-team-member-style-one {
  box-shadow: 0px 13px 33px 0px rgba(51, 77, 128, 0.08);
}

.exad-team-member-style-one .exad-team-member-thumb{
  overflow: hidden;
}

.exad-team-member-style-one .exad-team-member-thumb img {
  width: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  display: block;
}

.exad-team-member-style-one:hover .exad-team-member-thumb img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.exad-team-member-style-one .exad-team-member-content {
  padding: 25px 20px;
}

.exad-team-member-style-one .exad-team-member-about {
  margin-bottom: 25px;
}

.exad-team-member-style-one .exad-team-member-social {
  margin-bottom: 0;
  padding-left: 0;
}
.exad-team-member-style-one .exad-team-member-social li, .exad-team-member-style-four .exad-team-member-social li, .exad-team-member-style-five .exad-team-member-social li {
  display: inline-block;
}

.exad-team-member-style-one .exad-team-member-social li a {
  color: #8a8d91;
  display: block;
  transition: .3s ease;
}

.exad-team-member-style-one .exad-team-member-social li a:hover {
  color: #132c47;
}

.exad-team-member-style-one .exad-team-member-social li:not(:last-child) {
  margin-right: 15px;
}
/* style one End */


/* Team Member style two Start */
.exad-team-member-style-two {
  padding: 70px 40px 30px;
  box-shadow: 0px 13px 33px 0px rgba(51, 77, 128, 0.08);
  text-align: center;
  border-radius: 5px;
}

.exad-team-member-style-two .exad-team-member-thumb {
  position: relative;
  z-index: 1;
  width: 122px;
  height: 122px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.elementor .exad-team-member-style-two .exad-team-member-thumb img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.exad-team-member-style-two .exad-team-member-thumb svg {
  position: absolute;
  width: 123px;
  height: 123px;
  z-index: -1;
}

.exad-team-member-style-two .exad-team-member-thumb svg:first-child {
  left: 7px;
  bottom: 7px;
}

.exad-team-member-style-two .exad-team-member-thumb svg:nth-child(2) {
  top: 7px;
  left: 7px;
}

.exad-team-member-style-two .exad-team-member-thumb svg:nth-child(3) {
  right: 4px;
  top: 0;
}

.exad-team-member-style-two .exad-team-member-thumb svg.violate {
  fill: #826EFF;
}

.exad-team-member-style-two .exad-team-member-thumb svg.orange {
  fill: #FF6A47;
}

.exad-team-member-style-two .exad-team-member-thumb svg.cyan {
  fill: #3AD8F4;
}

.exad-team-member-style-two .rounded {
  border-radius: 8px;
}

.exad-team-member-style-two .circled {
  border-radius: 50%;
}

.exad-team-member-style-two-name {
  font-size: 22px;
  margin-bottom: 5px;
}

.exad-team-member-style-two-designation {
  font-size: 15px;
  display: block;
  color: #8a8d91;
  margin-bottom: 12px;
}

.exad-team-member-about {
  margin: 10px auto;
}

.exad-team-member-style-two .exad-team-member-about {
  margin-bottom: 40px;
}

.exad-team-member-style-two .exad-team-member-social {
  padding-left: 0;
}

.exad-team-member-style-two .exad-team-member-social li {
  display: inline-block;
}

.exad-team-member-style-two .exad-team-member-social li:not(:last-child) {
    margin-right: 2px;
}

.exad-team-member-style-two .exad-team-member-social li a {
  padding: 0 10px;
  color: #a4a7aa;
}

.exad-team-member-style-two .exad-team-member-social li a:hover {
  color: #8a8d91;
  transition: .3s ease;
}
/* Team Member Circle End */



/* Team Member style three Start */

.exad-team-member-style-three {
  text-align: center;
  position: relative;
}

.exad-team-member-style-three .exad-team-member-thumb {
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
.exad-team-member-style-three:hover .exad-team-member-thumb::before {
    -webkit-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
}
.exad-team-member-style-three .exad-team-member-thumb::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f5f6fa;
  transition: .3s ease;
  z-index: -1;
  top: 0;
  left: 0;
}

.exad-team-member-style-three .exad-team-member-thumb img {
  width: 100%;
  display: block;
}


.exad-team-member-style-three .exad-team-member-social {
  list-style: none;
  position: absolute;
  z-index: 2;
  margin: 0;
  padding: 30px 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 13px 17px 0px rgba(0, 0, 0, 0.16);
  transition: .3s ease;
  top: 15%;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  left: 0;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.exad-team-member-style-three .exad-team-member-social li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  color: #8a8d91;
  border-radius: 50%;
  transition: .3s ease;
  font-size: 18px;
}

.exad-team-member-style-three .exad-team-member-social li a i {
  line-height: 45px;
}

.exad-team-member-style-three .exad-team-member-social li a:hover {
  color: #fff;
}

.exad-team-member-style-three .exad-team-member-social li:not(:last-child) {
  margin-bottom: 10px;
}

.exad-team-member-style-three:hover .exad-team-member-style-three .exad-team-member-thumb::before {
  -webkit-transform: translate(-20px, -20px);
          transform: translate(-20px, -20px);
}

.exad-team-member-style-three:hover .exad-team-member-social {
  left: 30px;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
/* style three End */


/* Team Member style four Start */

.exad-team-member-style-four {
  text-align: center;
}

.exad-team-member-style-four .exad-team-member-thumb {
  margin-bottom: 30px;
}

.elementor .exad-team-member-style-four .exad-team-member-thumb img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 16px 46px 0px rgba(19, 32, 58, 0.18);
}

.exad-team-member-style-four .exad-team-member-about {
  margin: 20px auto;
}

.exad-team-member-style-four .exad-team-member-social li a {
  color: #fff;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #272c44;
  /* opacity: .4; */
  transition: .3s ease;
  font-size: 18px;
}

.exad-team-member-style-four .exad-team-member-social li:not(:last-child) {
    margin-right: 8px;
}

.exad-team-member-style-four .exad-team-member-social li a i {
  line-height: 40px;
}

.exad-team-member-style-four .exad-team-member-social li a:hover {
  opacity: 1;
}
/* style four End */



/* Team Member style five Start */

.exad-team-member-style-five {
  position: relative;
}

.exad-team-member-style-five .exad-team-member-thumb img {
  width: 100%;
}

.exad-team-member-style-five .exad-team-member-content {
  position: absolute;
  text-align: center;
  background: #fff;
  width: 100%;
  box-shadow: 0px 20px 33px 0px rgba(51, 77, 128, 0.2);
  padding: 25px 20px 20px;
  transition: .3s ease;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  opacity: 0;
  bottom: -10%;
}

.exad-team-member-style-five .exad-team-member-designation {
  display: block;
  margin-bottom: 30px;
  position: relative;
}

.exad-team-member-style-five .exad-team-member-social {
  margin-bottom: 0;
  padding: 0;
}

.exad-team-member-style-five .exad-team-member-social li a {
  display: block;
  padding: 0 7px;
  color: #8a8d91;
  transition: .3s ease;
}

.exad-team-member-style-five .exad-team-member-social li a i {
  font-size: 18px;
}

.exad-team-member-style-five .exad-team-member-social li a:hover {
  color: #132c47;
}

.exad-team-member-style-five:hover .exad-team-member-content {
  bottom: 10%;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/* style five End */

/* Team Member style nine start */
.exad-team-member-style-nine {
  position: relative;
}

.exad-team-member-style-nine .exad-team-member-thumb img {
  width: 100%;
  display: block;
}

.exad-team-member-style-nine .exad-team-member-content {
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  text-align: center;
  padding: 40px 30px 30px;
  background: rgba(0, 0, 0, 0.65);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.exad-team-member-style-nine .exad-team-member-name, .exad-team-member-style-nine .exad-team-member-designation {
  color: #fff;
}


.exad-team-member-style-nine .exad-team-member-name {
  margin-bottom: 0;
}

.exad-team-member-style-nine .exad-team-member-designation {
  display: inline-block;
  margin-bottom: 10px;
}

.exad-team-member-style-nine .exad-team-member-about {
  color: #caced4;
  margin-bottom: 30px;
}

.exad-team-member-style-nine .exad-team-member-social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.exad-team-member-style-nine .exad-team-member-social li {
  display: inline-block;
}

.exad-team-member-style-nine .exad-team-member-social li:not(:last-child) {
  margin-right: 8px;
}

.exad-team-member-style-nine .exad-team-member-social li a {
  display: block;
  width: 40px;
  height: 40px;
  background: rgba(19, 44, 71, 0.4);
  color: #fff;
  border-radius: 50%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.exad-team-member-style-nine .exad-team-member-social li a i {
  line-height: 40px;
  font-size: 14px;
}

.exad-team-member-style-nine.exad-team-member-social li a:hover {
  color: #132c47;
  background: #fff;
}

.exad-team-member-style-nine:hover .exad-team-member-content {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

/* Team Member style nine end */

/* Team Member style six start */

.exad-team-member-style-six {
  background: #F5F7FA;
  border: 15px solid #fff;
  border-radius: calc(2*15px);
  position: relative;
  margin-top: 80px;
  margin-bottom: 40px;
  transition: all .3s ease;
  text-align: center;
}

.exad-team-member-style-six:hover {
  box-shadow: 0px 27px 68px 0px rgba(19, 32, 58, 0.14);
}

.exad-team-member-style-six:hover .exad-team-member-thumb img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.exad-team-member-style-six .exad-team-member-thumb {
  height: 180px;
  width: 180px;
  position: absolute;
  top: -90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  overflow: hidden;
  border: 13px solid #fff;
  box-shadow: 0px 30px 46px 0px rgba(19, 32, 58, 0.08);
}

.exad-team-member-style-six .exad-team-member-thumb img {
  height: 100%;
  width: 100%;
  transition: all .3s ease;
}

.exad-team-member-style-six .exad-team-member-content {
  padding: 35% 10%;
}

.exad-team-member-style-six .exad-team-member-content svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 0 0 15px 15px;
}

.exad-team-member-style-six .exad-team-member-content svg path {
  fill: #7C3BFF;
}

.exad-team-member-style-six .exad-team-member-content .exad-team-member-name {
  font-weight: bold;
  color: #132C47;
  margin-bottom: 10px;
}

.exad-team-member-style-six .exad-team-member-content .exad-team-member-designation {
  color: #7C3BFF;
  font-weight: 600;
  margin-bottom: 50px;
  display: block;
  position: relative;
}

.exad-team-member-style-six .exad-team-member-content .exad-team-member-about {
  line-height: 26px;
  color: #828486;
  margin-bottom: 20px;
}

.exad-team-member-style-six .exad-team-member-content .exad-team-member-social {
  margin: 0;
  padding: 0;
  z-index: 23;
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.exad-team-member-style-six .exad-team-member-content .exad-team-member-social li {
  list-style: none;
  display: inline-block;
}

.exad-team-member-style-six .exad-team-member-content .exad-team-member-social li:not(:last-child) {
  margin-right: 5px;
}

.exad-team-member-style-six .exad-team-member-content .exad-team-member-social li a {
  height: 35px;
  width: 35px;
  display: block;
  background: #9662FF;
  border-radius: 50%;
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: all .3s ease;
  font-size: 16px;
}

.exad-team-member-style-six .exad-team-member-content .exad-team-member-social li a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.exad-team-member-style-six .exad-team-member-content .exad-team-member-social li a:hover {
  background: #fff;
  color: #9662FF;
}

/* Team member style six end */

/* Team Member style seven start */

.exad-team-member-style-seven {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  background: white;
  box-shadow: 0px 13px 33px 0px rgba(51, 77, 128, 0.08);
  margin-bottom: 30px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.exad-team-member-style-seven .exad-team-member-thumb {
  width: 40%;
}

.exad-team-member-style-seven .exad-team-member-thumb img {
  height: 100%;
  width: 100%;
  display: block;
}

.exad-team-member-style-seven .exad-team-member-content {
  width: 60%;
  padding: 0 15px 0 30px;
}

.exad-team-member-style-seven .exad-team-member-content .exad-team-member-name {
  font-weight: bold;
  color: #132C47;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin: 0 0 10px 0;
}

.exad-team-member-style-seven .exad-team-member-content .exad-team-member-designation {
  color: #8A8D91;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin: 0 0 15px 0;
  display: block;
}

.exad-team-member-style-seven .exad-team-member-content .exad-team-member-about {
  line-height: 26px;
  color: #828486;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin: 0 0 25px 0;
}

.exad-team-member-style-seven .exad-team-member-content .exad-team-member-social {
  margin: 0;
  padding: 0;
}

.exad-team-member-style-seven .exad-team-member-content .exad-team-member-social li {
  list-style: none;
  display: inline-block;
}

.exad-team-member-style-seven .exad-team-member-content .exad-team-member-social li:not(:last-child) {
  margin-right: 20px;
}

.exad-team-member-style-seven .exad-team-member-content .exad-team-member-social li a {
  color: #BE9DFF;
  display: block;
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.exad-team-member-style-seven .exad-team-member-content .exad-team-member-social li a:hover {
  color: #fff;
}

.exad-team-member-style-seven:hover {
  background: #7C3BFF;
}

.exad-team-member-style-seven:hover .exad-team-member-content .exad-team-member-name {
  color: #fff;
}

.exad-team-member-style-seven:hover .exad-team-member-content .exad-team-member-designation {
  color: rgba(255, 255, 255, 0.7);
}

.exad-team-member-style-seven:hover .exad-team-member-content .exad-team-member-about {
  color: rgba(255, 255, 255, 0.7);
}

/* Team member style seven end */

/* Team member stye eight Start */

.exad-team-member-style-eight {
  background: white;
  padding: 40px 25px;
  border-radius: 0 40px 0 40px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
}

.exad-team-member-style-eight:hover {
  box-shadow: 0px 13px 33px 0px rgba(51, 77, 128, 0.1);
}

.exad-team-member-style-eight .exad-team-member-thumb {
  border: 10px solid #fff;
  box-shadow: 0px 15px 46px 0px rgba(19, 32, 58, 0.15);
  border-radius: 50%;
  overflow: hidden;
  height: 170px;
  width: 170px;
  margin: 0 auto 35px auto;
}

.exad-team-member-style-eight .exad-team-member-thumb img {
  height: 100%;
  width: 100%;
}

.exad-team-member-style-eight .exad-team-member-content .exad-team-member-name {
  font-weight: bold;
  color: #132C47;
  margin: 0 0 10px 0;
}

.exad-team-member-style-eight .exad-team-member-content .exad-team-member-designation {
  font-weight: 600;
  color: #FF5452;
  display: block;
  margin: 0 0 35px 0;
}

.exad-team-member-style-eight .exad-team-member-content .exad-team-member-about {
  position: relative;
  color: #828486;
  line-height: 26px;
  margin: 0 0 50px 0;
}


.exad-team-member-style-eight .exad-team-member-content .exad-team-member-social {
  margin: 0;
  padding: 0;
}

.exad-team-member-style-eight .exad-team-member-content .exad-team-member-social li {
  list-style: none;
  display: inline-block;
}

.exad-team-member-style-eight .exad-team-member-content .exad-team-member-social li:not(:last-child) {
  margin-right: 10px;
}

.exad-team-member-style-eight .exad-team-member-content .exad-team-member-social li a {
  height: 38px;
  width: 38px;
  display: block;
  background: #DCDCDC;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-decoration: none;
  font-size: 16px;
}

.exad-team-member-style-eight .exad-team-member-content .exad-team-member-social li a i {
  line-height: 38px;
}

.exad-team-member-style-eight .exad-team-member-content .exad-team-member-social li a:hover {
  background: #272C44;
}

/* Team member style eight end */
