/* Style for Team Carousel */
  .exad-team-carousel-left{
    text-align: left;
  }
  .exad-team-carousel-left .exad-team-member-thumb{
    margin-right: auto;
  }
  
  .exad-team-carousel-center{
    text-align: center;
  }
  
  .exad-team-carousel-center .exad-team-member-thumb{
    margin: 0 auto;
  }
  
  .exad-team-carousel-right{
    text-align: right;
  }
  
  .exad-right .exad-team-member-thumb{
    margin-left: auto;
  }

  .exad-team-carousel-wrapper .slick-dots {
    width: auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    left: 45%;
    margin-top: 40px;
  }
  
  .exad-team-carousel-wrapper .slick-dots li {
    list-style: none;
    float: left;
    display: inline-table;
    line-height: 1;
  }
  
  .exad-team-carousel-wrapper .slick-dots li button {
    width: 20px;
    height: 20px;
    outline: 0;
    cursor: pointer;
    border: none;
    -webkit-text-fill-color: transparent;
    transition: .3s ease;
    padding: 0;
    border-radius: 0;
  }

  .exad-team-carousel-wrapper .slick-dots li:not(:last-child) button {
    margin-right: 10px;
  }  

  .exad-team-carousel-prev, .exad-team-carousel-next {
    position: absolute;
    width: 60px;
    height: 60px;
    text-align: center;
    background: #b8bfc7;
    color: #fff;
    display: block;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: .3s ease;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .exad-team-carousel-prev i, .exad-team-carousel-next i {
    line-height: 60px;
  }
  
  .exad-team-carousel-prev:hover, .exad-team-carousel-next:hover {
    background: #132c47;
  }
  
  .exad-team-carousel-prev {
    left: -70px;
  }
  
  .exad-team-carousel-next {
    right: -70px;
  }
  
  /* Team carousel Styles end */