/* Testimonial style start */

.exad-testimonial-thumb img {
  height: 100% !important;
  width: 100%;
  display: block;
  object-fit: cover;
}

.exad-testimonial-wrapper.exad-testimonial-align-left{
  text-align: left;
}
.exad-testimonial-wrapper.exad-testimonial-align-center{
  text-align: center;
}
.exad-testimonial-wrapper.exad-testimonial-align-right{
  text-align: right;
}

.exad-testimonial-wrapper.exad-testimonial-align-left .exad-testimonial-thumb{
  margin-right: auto;
}
.exad-testimonial-wrapper.exad-testimonial-align-center .exad-testimonial-thumb{
  margin-left: auto;
  margin-right: auto;
}
.exad-testimonial-wrapper.exad-testimonial-align-right .exad-testimonial-thumb{
  margin-left: auto;
}

.exad-testimonial-wrapper-inner.exad-testimonial-image-pos-left,
.exad-testimonial-wrapper-inner.exad-testimonial-image-pos-right{
  display: flex;
  align-items: center;
}

.exad-testimonial-wrapper-inner.exad-testimonial-image-pos-left .exad-testimonial-thumb,
.exad-testimonial-wrapper-inner.exad-testimonial-image-pos-right .exad-testimonial-thumb{
  width: 40%;
}

.exad-testimonial-wrapper-inner.exad-testimonial-image-pos-left .exad-testimonial-content-wrapper,
.exad-testimonial-wrapper-inner.exad-testimonial-image-pos-right .exad-testimonial-content-wrapper{
  width: 60%;
}

.exad-testimonial-wrapper-inner.exad-testimonial-image-pos-right .exad-testimonial-thumb{
  order: 2;
}

.exad-testimonial-wrapper-inner.exad-testimonial-image-pos-right .exad-testimonial-content-wrapper{
  order: 1;
}

.exad-testimonial-description{
  margin: 0;
}

.exad-testimonial-name{
  margin: 0;
}

.exad-testimonial-designation{
  margin: 0;
  display: block;
}

.exad-testimonial-reviewer-image-pos-left,
.exad-testimonial-reviewer-image-pos-right{
  display: flex;
  align-items: center;
}

.exad-testimonial-reviewer-image-pos-right .exad-testimonial-thumb{
  order: 2;
}

.exad-testimonial-reviewer-image-pos-right .exad-testimonial-reviewer{
  order: 1;
}

.exad-testimonial-content-wrapper-arrow{
  position: relative;
  z-index: 1;
}

.exad-testimonial-content-wrapper-arrow::before{
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 50%;
  bottom: -7px;
  border-radius: 0px 0px 5px 0px;
  transform: translateX(-50%) rotate(45deg);
  border-style: solid;
}

.exad-testimonial-ratings{
  margin: 0;
  padding: 0;
  line-height: 1;
}

.exad-testimonial-ratings li{
  list-style: none;
  display: inline-block;
  line-height: 1;
}

/* .exad-testimonial-ratings li.exad-testimonial-ratings-active i{
  color: aquamarine;
} */
/* Testimonial style end */